//
  Created by pc on 2015/10/27.

extends ../layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  style(media="screen").
    .nav-tabs-custom > .tab-content {
      padding: 15px;
    }

    .panel-group {
      clear: both;
      margin-bottom: 20px;
      position: relative;
      margin-right: 15px;
    }

    .panel-group .panel {
      margin-bottom: 0;
      border-radius: 4px;
    }

    .panel-group .panel + .panel {
      border-radius: 0;
      margin-top: 0;
      border-top: 0;
    }

    .panel-group img {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      max-width: 100%;
      max-height: 100%;
    }

    .panel-group .panel:first-child .img {
      overflow: hidden;
      position: relative;
      height: 160px;
      background-color: #ececec;
      color: #c0c0c0;
      text-align: center;
      line-height: 132px;
    }

    .panel-group .panel:first-child .img img {
      max-height: 160px;
      max-width: 100%;
      vertical-align: middle;
    }

    .panel-group .panel:first-child .img span {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 28px;
      line-height: 28px;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 0 10px;
    }

    .panel-group .panel:first-child {
      margin: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .panel-group .panel + .panel .panel-body {
      height: 104px;
      padding-right: 105px;
      position: relative;
      overflow: hidden;
    }

    .panel-group .panel + .panel .text h4 {
      word-break: break-all;
      font-size: 14px;
      line-height: 1.5em;
      height: 54px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .panel-group .panel + .panel .img {
      float: right;
      position: absolute;
      right: 15px;
      top: 12px;
      height: 80px;
      width: 80px;
      background-color: #ececec;
      color: #c0c0c0;
      line-height: 80px;
      text-align: center;
      overflow: hidden;
    }
block main
  .panel
    .panel-heading
      h3.panel-title 自动回复设置
    .panel-body
      ul#myTab.nav.nav-tabs
        li.active
          a(href="#autoReply" data-id="image" data-toggle="tab") 关注回复
        li
          a(href="#keyWordReply" data-id="news" data-toggle="tab") 关键词回复

      #myTabContent.tab-content
        #autoReply.tab-pane.fade.in.active
          include ./auto
        #keyWordReply.tab-pane.fade.in
          include ./keyWordReply

    #mediaCreateModal.modal.fade.text-center(tabindex="-1", role="dialog", aria-labelledby="mediaCreateModal", aria-hidden='true')
      .modal-dialog(style="display: inline-block; width: 50%;")
        .modal-content
          .modal-header.text-left
            button.close(type="button",data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h4.modal-title 选择素材
          .modal-body
            div#mediaInfis.form-group.col-md-12
          .modal-footer
            .center-block.pull-right
              button.btn.btn-primary(type="button",data-dismiss="modal", aria-label="Close") 取消

block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script.
    var buttons = {};
    $(document).ready(function () {

      var content = $("#text #content").val();
      remainDisply(content.length);

      $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        var dataId = $(e.target).attr("data-id"); // 激活的标签页数据ID
        var tab1 = e.relatedTarget // 前一个激活的标签页
        //getMedia(dataId);
      })

      //************关键词区开始*******************//

      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: true,
        searching: true,
        processing: false,
        //scrollX:true,
        serverSide: true,
        deferRender: true

      };
      var t = $('#wechatReplyList').DataTable($.extend(opts, {
        ajax: {url: '/wechat/mgmt/datatable'},
        columnDefs: [
          {
            targets: -1, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              return "<button class='btn btn-default btn-xs edit' type='button'><i class='fa fa-edit'></i></button>"
                + " <button class='btn btn-default btn-xs del' type='button'><i class='fa fa-trash-o'></i></button>";
            }
          }
        ],
        columns: [{
          data: "ruleName", defaultContent: '', render: function (data, type, full, meta) {
            return data;
          }
        },
          {
            data: "type", defaultContent: '', render: function (data, type, full, meta) {
            return data;
          }
          }, {
            data: "rules", defaultContent: '', className: 'text-center', render: function (data, type, full, meta) {
              var html = "";
              $.each(data, function (i, e) {
                html += "<label class='badge bg-light-blue'>" + e.keyWord + "</label>";
              });
              return html;
            }
          },
          {data: ""}
        ]
      }));
      //自定义菜单类型的不同选择，有不同的信息展示
      $('#fodderType').change(function () {
        var type = $(this).val();
        if (type == "text") {
          addText("#mediaInfo", "");
        } else {
          getMedia(type, "key")
        }
      })
      $("#addKeyReply").on("click", function (e) {
        selectFodder("");
        $("#idDis").html("");
        $("#keyWordForm")[0].reset();
        $("#wechatModal").modal("show");
      });
      //点击回车时添加标签
      $('#rules').bind('keypress', function (event) {
        if (event.keyCode == "13") {
          var tag = $("#rules").val();
          if (tag != "" && tag != null) {
            var tags = getImgInfo(tag);
            $('#rulesInfo').append(tags);
          }
          $("#rules").val("");
          return false;
        }
      });

      //点击加号时添加标签
      $("#addTag").on('click', function () {
        var tag = $("#rules").val();
        if (tag != "" && tag != null) {
          var tags = getImgInfo(tag);
          $('#rulesInfo').append(tags);
        }
        $("#rules").val("");
      });
      //保存关键字规则
      $("#saveKeyWord").on('click', function () {
        var data = $("#keyWordForm").serialize()
        saveKeyWord(data);
      });
      //删除按钮的点击
      $('#wechatReplyList').on('click', 'button.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              delKeyWord(id);
            }
          });
        }
      });

      //修改按钮的点击
      $('#wechatReplyList').on('click', 'button.edit', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        if (id) {
          editKeyWord(id);
        }
      });
      //************关键词区结束*******************//
      //************自动回复区开始*******************//

      $("#selectImage").on("click", function (e) {
        var type = $("#image input[name='type']").val()
        getMedia(type, "outo");
      });
      $("#selectNews").on("click", function (e) {
        var type = $("#news input[name='type']").val()
        getMedia(type, "outo");
      });
      $("#selectVoice").on("click", function (e) {
        var type = $("#voice input[name='type']").val()
        getMedia(type, "outo");
      });
      $("#selectVideo").on("click", function (e) {
        var type = $("#video input[name='type']").val()
        getMedia(type, "outo");
      });

      $("#saveText").on("click", function (e) {
        var content = $("#content").val();
        var len = content.length;
        if (content == "" || content == undefined) {
          bootbox.alert("请输入文字内容")
          return false;
        } else if (len > 600) {
          bootbox.alert("你输入的字数太多，请减少到600个字")
          return false;
        } else {
          var data = $("#text").serialize()
          saveOutoReply(data);
        }
      });

      //验证文本内容的多少
      $('#content').bind('keypress', function (event) {
        var content = $("#text #content").val();
        var len = content.length;
        remainDisply(len);
      });
      $("#saveImage").on("click", function (e) {
        var mediaId = $("#image input[name='mediaId']").val()
        if (mediaId == "" || mediaId == undefined) {
          bootbox.alert("请选择图片")
          return false;
        } else {
          var data = $("#image").serialize()
          saveOutoReply(data);
        }
      });
      $("#saveNews").on("click", function (e) {
        var mediaId = $("#news input[name='mediaId']").val()
        if (mediaId == "" || mediaId == undefined) {
          bootbox.alert("请选择图片")
          return false;
        } else {
          var data = $("#news").serialize()
          saveOutoReply(data);
        }
      });
      $("#saveVoice").on("click", function (e) {
        var mediaId = $("#voice input[name='mediaId']").val()
        if (mediaId == "" || mediaId == undefined) {
          bootbox.alert("请选择语音")
          return false;
        } else {
          var data = $("#voice").serialize()
          saveOutoReply(data);
        }
      });
      $("#saveVideo").on("click", function (e) {
        var mediaId = $("#video input[name='mediaId']").val()
        if (mediaId == "" || mediaId == undefined) {
          bootbox.alert("请选择视频")
          return false;
        } else {
          var data = $("#video").serialize()
          saveOutoReply(data);
        }
      });
      //显示语音和视频的展示
      var type = '#{reply ? reply.type : ''}'
      var mediaId = '#{reply ? reply.mediaId : ''}'
      if (type == "voice") {
        addVoice(mediaId, "#audio");
      } else if (type == "video") {
        getMaterial(mediaId, function (err, video) {
          addVideo(video, "#videoSource");
        });
      } else if (type == "news") {
        getMaterial(mediaId, function (err, news) {
          addNews(news, "#newsSource");
        })
      }
      //************自动回复区结束*******************//


    })
    function remainDisply(len) {
      if (len <= 600) {
        var result = 600 - len.valueOf();
        $("#remain").html("还可以输入" + result + "字");
      } else {
        bootbox.alert("你只能输入600个字")
      }
    }
    //新增广告中的图片信息模型
    function getImgInfo(tag) {
      var html = "";
      var listId = "imgInfo_" + Math.round(Math.random() * 100);
      html += "<div class='alert col-sm-2' id='" + listId + "'>";
      html += "<button type='button' class='close' data-dismiss='alert' aria-label='Close')><span aria-hidden='true'>&times;</span></button>";
      html += "<input type='hidden' name='keyWord'  value='" + tag + "' />";
      html += "<label class='badge bg-light-blue'>" + tag + "</label>";
      html += "</div>";
      return html;
    }
    //加载素材类型
    function selectFodder(code) {
      $("#fodderType").html("")
      var types = [{code: "text", name: "文字"}, {code: "image", name: "图片"}, {code: "news", name: "图文"}, {
        code: "voice",
        name: "语音"
      }
        , {code: "video", name: "视频"}]
      $.each(types, function (i, e) {
        if (e.code == code) {
          $("#fodderType").append("<option value='" + e.code + "' selected>&nbsp;" + e.name + "</option>")
        } else {
          $("#fodderType").append("<option value='" + e.code + "'>&nbsp;" + e.name + "</option>")
        }
      });
    }
    //********************************************//
    //** 视图的展示和操作                  **//
    //**  开始                                  **//
    //********************************************//
    //获取素材信息
    function getMedia(type, views) {
      $.ajax({
        type: 'get', //数据发送方式
        url: '/wechat/media/getMedia/',
        data: {type: type}, //要传递的数据
        success: function (data) { //成功
          if (data.code == "1") {
            switch (type) {
              case "image":
                imgHtml(type, data.meg, views);
                break;
              case "news":
                newsHtml(type, data.meg, views);
                break;
              case "voice":
                voiceHtml(type, data.meg, views);
                break;
              case "video":
                videoHtml(type, data.meg, views);
                break;
              default :
                break;
            }
          } else {
            bootbox.alert(data.meg);
          }
        }
      });
    }
    //保存关注回复信息
    function saveOutoReply(data) {
      $.ajax({
        type: 'post', //数据发送方式
        url: '/wechat/mgmt/saveOutoReply',
        data: data, //要传递的数据
        success: function (data) { //成功
          if (data.code == "1") {
            bootbox.alert("数据以保存！");
            window.location.href = "/wechat/mgmt/autoreply";
          } else {
            bootbox.alert(data.meg);
          }
        }
      });
    }
    function delOuto(id) {
      bootbox.confirm("确定要删除数据吗?", function (result) {
        if (result) {
          $.ajax({
            type: 'post', //数据发送方式
            url: '/wechat/mgmt/delKyeWord/' + id,
            data: {}, //要传递的数据
            success: function (data) { //成功
              if (data.code == "1") {
                bootbox.alert(data.meg);
                window.location.href = "/wechat/mgmt/autoreply";
              } else {
                bootbox.alert(data.meg);
              }
            }
          });
        }
      });
    }
    //删除关键字回复信息
    function delKeyWord(id) {
      $.ajax({
        type: 'post', //数据发送方式
        url: '/wechat/mgmt/delKyeWord/' + id,
        data: {}, //要传递的数据
        success: function (data) { //成功
          if (data.code == "1") {
            bootbox.alert(data.meg);
            loadDatatable("#wechatReplyList");
          } else {
            bootbox.alert(data.meg);
          }
        }
      });
    }
    //删除关键字回复信息
    function editKeyWord(id) {
      $.ajax({
        type: 'get', //数据发送方式
        url: '/wechat/mgmt/editKyeWord/' + id,
        data: {}, //要传递的数据
        success: function (data) { //成功
          if (data) {
            $("#idDis").html('<input type="hidden" value="' + data._id + '" name="id"/>');
            $("#keyWordForm input[name='mediaId']").val(data.mediaId);
            $("#keyWordForm input[name='ruleName']").val(data.ruleName);
            if (data.diyUrlFlag) {
              $("#keyWordForm input[name='diyUrlFlag']").parent().addClass('checked');
            }
            $("#keyWordForm input[name='diyUrl1']").val(data.diyUrl1);
            $("#keyWordForm input[name='diyUrl2']").val(data.diyUrl2);
            $("#keyWordForm input[name='diyUrl3']").val(data.diyUrl3);
            $("#keyWordForm input[name='diyUrl4']").val(data.diyUrl4);
            $("#keyWordForm input[name='diyUrl5']").val(data.diyUrl5);
            selectFodder(data.type);
            var arr = data.rules;
            $('#rulesInfo').html("");
            $.each(arr, function (i, e) {
              var tags = getImgInfo(e.keyWord);
              $('#rulesInfo').append(tags);
            });
            viewsDisply(data.type, data.mediaId, data.content);
            $("#wechatModal").modal("show");
          }
        }
      });
    }
    function loadDatatable(tableId) {
      var TT = $(tableId).DataTable();
      TT.ajax.url('/wechat/mgmt/datatable').load();
    }
    //保存关键字回复信息
    function saveKeyWord(data) {
      $.ajax({
        type: 'post', //数据发送方式
        url: '/wechat/mgmt/saveKeyWord',
        data: data, //要传递的数据
        success: function (data) { //成功
          if (data.code == "1") {
            bootbox.alert(data.meg);
            $("#wechatModal").modal("hide");
            loadDatatable("#wechatReplyList");
          } else {
            bootbox.alert(data.meg);
          }
        }
      });

    }
    //图片视图
    function imgHtml(type, data, views) {
      $("#mediaInfis").html("");
      $.each(data, function (i, e) {
        var html = "";
        html += '<div class="dropup col-md-4" onclick=setValue("' + e.media_id + '","' + type + '","' + views + '")>' +
          '<img src="/wechat/media/getMaterial/' + e.media_id + '" alt="' + e.name + '" width="280px" height="210px">';
        html += '</div>';
        $("#mediaInfis").append(html)
      })
      $("#mediaCreateModal").modal("show");
    }
    //为控件赋值
    function setValue(media_id, type, views) {
      if (views == "outo") {
        $("#" + type + " input[name='mediaId']").val(media_id);
        if (type == "image") { //为图片赋值，显示图片
          $("#imageImg").attr("src", "/wechat/media/getMaterial/" + media_id);
        } else if (type == "voice") { //为语音赋值，并显示语音
          addVoice(media_id, "#audio");
        } else if (type == "video") { //为视频赋值并显示视频
          getMaterial(media_id, function (err, video) {
            video = JSON.parse("" + video);
            $("#video input[name='title']").val(video.title);
            $("#video input[name='description']").val(video.description);
            addVideo(video, "#videoSource");
          })
        } else if (type == "news") { //为视频赋值并显示视频
          getMaterial(media_id, function (err, news) {
            addNews(news, "#newsSource");
          })
        }
      } else {
        $("#keyWordForm input[name='mediaId']").val(media_id);
        viewsDisply(type, media_id, "");
      }
      $("#mediaCreateModal").modal("hide");
    }
    function viewsDisply(type, media_id, content) {
      if (type == "image") {
        addImage(media_id, "#mediaInfo")
      } else if (type == "voice") {
        addVoice(media_id, "#mediaInfo");
      } else if (type == "video") {
        getMaterial(media_id, function (err, video) {
          video = JSON.parse("" + video);
          addVideo(video, "#mediaInfo");
        })
      } else if (type == "news") {
        getMaterial(media_id, function (err, news) {
          addNews(news, "#mediaInfo");
        })
      } else if (type == "text") {
        addText("#mediaInfo", content);
      }

    }
    //添加语音的视图
    function addText(htmlId, content) {
      var html = '<textarea class="form-control" name="content" rows="4" placeholder="文本内容">' + content + '</textarea>';
      html += '<p class="pull-right">还可以输入600字</p>';
      $(htmlId).html("");
      $(htmlId).append(html);
    }
    //添加图片的视图
    function addImage(media_id, htmlId) {
      var html = '<img src="/wechat/media/getMaterial/' + media_id + '" width="280px" height="210px">';
      $(htmlId).html("");
      $(htmlId).append(html);
    }
    //添加语音的视图
    function addVoice(media_id, htmlId) {
      var html = '<audio controls="controls">' +
        '<source src="/wechat/media/getMaterial/' + media_id + '" type="audio/ogg">' +
        '<source src="/wechat/media/getMaterial/' + media_id + '" type="audio/mpeg">' +
        'Your browser does not support the audio element.</audio>';
      $(htmlId).html("");
      $(htmlId).append(html);
    }
    //添加视频的视图
    function addVideo(video, htmlId) {
      var html = '<video controls="controls" width="320" height="240">' +
        '<source src="' + video.down_url + '" type="video/ogg">' +
        '<source src="' + video.down_url + '" type="video/mp4">' +
        'Your browser does not support the video tag.</video>';
      $(htmlId).html("");
      $(htmlId).append(html);
    }
    //添加图文
    function addNews(news, htmlId) {
      if (!news)
        return '';
      //      news = JSON.parse("" + news);
      var newsItems = news.content.news_item;
      var html = '';

      html += '<div class="pull-left" style="width: 300px;">' +
              '<div class="panel-group"> ';
      $.each(newsItems, function (i, e) {
        if (i == 0) {
          html += '<div class="panel panel-default">' +
                    '<div class="panel-body">' +
                      '<div class="img">' +
                        '<img style="height:200px; width: 300px;" src="/wechat/media/getMaterial/' + e.thumb_media_id + '" alt="' + e.title + '">' +
                        '<span class="text-left">' + e.title + '</span>' +
                      '</div>' +
                    '</div>' +
                  '</div>';
        } else {
          html += '<div class="panel panel-default">' +
                    '<div class="panel-body">' +
                      '<div class="text"><h4>' + e.digest + '</div></h4>' +
                      '<div class="img"><img src="/wechat/media/getMaterial/' + e.thumb_media_id + '" alt="' + e.title + '" width="80px" height="80px"></div>' +
                    '</div>' +
                  '</div>';
        }
      })
      html += '</div></div>';
      $(htmlId).html("");
      $(htmlId).append(html);
      //增加替换原始图文链接的输入
      /*
       $("#keyWordForm").append(
       '<div class="form-group">' +
       '<label class="control-label col-md-2">自定义标题</label>' +
       '<div class="col-md-10 text-left">' +
       '<input class="form-control" name="diyTitle">' +
       '<p class="help-block">注意：填写自定义标题会覆盖微信图文中的标题</p>' +
       '</div>' +
       '</div>' +
       '<div class="form-group">' +
       '<label class="control-label col-md-2">自定义描述</label>' +
       '<div class="col-md-10 text-left">' +
       '<input class="form-control" name="diyDesc">' +
       '<p class="help-block">注意：填写自定义描述会覆盖微信图文中的描述</p>' +
       '</div>' +
       '</div>' +
       '<div class="form-group">' +
       '<label class="control-label col-md-2">自定义URL</label>' +
       '<div class="col-md-10 text-left">' +
       '<input class="form-control" name="diyUrl">' +
       '<p class="help-block">注意：填写自定义URL会覆盖微信图文中打开的链接</p>' +
       '</div>' +
       '</div>'
       );
       */
    }

    //图文视图
    function newsHtml(type, data, views) {
      $("#mediaInfis").html("");
      $.each(data, function (j, e) {
        var html = "";
        var news = e.content.news_item;
        html += '<div class="pull-left" style="width: 300px;" onclick=setValue("' + e.media_id + '","' + type + '","' + views + '")>' +
                  '<div class="panel-group"> ';
        $.each(news, function (i, e) {
          if (i == 0) {
            html += '<div class="panel panel-default">' +
                      '<div class="panel-body">' +
                        '<div class="img">' +
                          '<img style="height:200px; width: 300px;" src="/wechat/media/getMaterial/' + e.thumb_media_id + '" alt="' + e.title + '">' +
                          '<span class="text-left">' + e.title + '</span>' +
                        '</div>' +
                      '</div>' +
                    '</div>';
          } else {
            html += '<div class="panel panel-default">' +
                      '<div class="panel-body">' +
                        '<div class="text"><h4>' + e.digest + '</div></h4>' +
                        '<div class="img"><img src="/wechat/media/getMaterial/' + e.thumb_media_id + '" alt="' + e.title + '" width="80px" height="80px"></div>' +
                      '</div>' +
                    '</div>';
          }
        })
        html += '</div></div>';
        $("#mediaInfis").append(html)
      })
      $("#mediaCreateModal").modal("show");
    }
    //语音视图
    function voiceHtml(type, data, views) {
      $("#mediaInfis").html("");
      $.each(data, function (i, e) {
        var html = "";
        html += '<div class="form-group col-md-6">' +
          '<label class="col-md-9"><audio controls="controls">' +
          '<source src="/wechat/media/getMaterial/' + e.media_id + '" type="audio/ogg">' +
          '<source src="/wechat/media/getMaterial/' + e.media_id + '" type="audio/mpeg">' +
          'Your browser does not support the audio element.</audio></label>' +
          '<div class="col-md-2"><button class="btn btn-sm" onclick=setValue("' + e.media_id + '","' + type + '","' + views + '")>选择</button></div>';
        html += '</div>';
        $("#mediaInfis").append(html)
      })
      $("#mediaCreateModal").modal("show");
    }
    //视频视图
    function videoHtml(type, data, views) {
      $("#mediaInfis").html("");
      $.each(data, function (i, e) {
        var html = "";
        getMaterial(e.media_id, function (err, video) {
          video = JSON.parse("" + video);
          html += '<div class="form-group text-left col-md-6">' +
            '<label class="text-left col-md-12">' + video.title + '</label>' +
            '<video controls="controls" width="320" height="240">' +
            '<source src="' + video.down_url + '" type="video/ogg">' +
            '<source src="' + video.down_url + '" type="video/mp4">' +
            'Your browser does not support the video tag.</video>' +
            '<div class="col-md-12" onclick=setValue("' + e.media_id + '","' + type + '","' + views + '")><label class="text-left col-md-8">' + video.description + '</label>' +
            '<button class="btn btn-sm">选择</button></div>';
          html += '</div>';
          $("#mediaInfis").append(html)
        })
      })
      $("#mediaCreateModal").modal("show");
    }
    //获取素材视频的信息
    function getMaterial(mediaId, callback) {
      $.ajax({
        type: 'get', //数据发送方式
        url: '/wechat/media/getMaterial/' + mediaId,
        data: {}, //要传递的数据
        success: function (data) { //成功
          if (data) {
            callback(null, data);
          }
        }
      });
    }
