//
  Created by pc on 2015/10/27.
div.content-padded
  .alert.alert-info 这里几种情况只可回复一种，添加任何一种回复数据之前所配置信息将失效
  ul#myTab.nav.nav-tabs
    li.active
      a(href="#textReply" data-id="text" data-toggle="tab")
        i.fa.fa-pencil
        | &nbsp;文字
    li
      a(href="#imageReply" data-id="image" data-toggle="tab")
        i.fa.fa-photo
        | &nbsp;图片
    li
      a(href="#newsReply" data-id="news" data-toggle="tab")
        i.fa.fa-newspaper-o
        | &nbsp;图文
    li
      a(href="#voiceReply" data-id="voice" data-toggle="tab")
        i.fa.fa-microphone
        | &nbsp;语音
    li
      a(href="#videoReply" data-id="video" data-toggle="tab")
        i.fa.fa-film
        | &nbsp;视频

  di#myTabContent.tab-content.content-padded
    #textReply.tab-pane.fade.in.active
      form#text.form-horizontal(name='text', action=  '', method='post')
        if viewType == 'edit'
          input#id(type='hidden', name='id', value="#{reply._id}")

        input(type='hidden', name='type', value="text")
        input#_csrf(type='hidden', name='_csrf', value=_csrf)
        .form-group
          .col-md-8
            textarea#content.form-control.required(name='content',rows='4',placeholder='文本内容')
              | #{reply ? reply.content : ''}
            p#remain.pull-right 还可以输入600字
        .form-group
          .col-md-8.text-center
            a#saveText.btn.btn-primary 确定
            if viewType == 'edit'
              a#delText.btn.btn-danger(onclick="delOuto('#{reply._id}')") 删除
    #imageReply.tab-pane.fade.in
      form#image.form-horizontal(name='image', action=  '', method='post')
        if viewType == 'edit'
          input#id(type='hidden', name='id', value="#{reply._id}")

        input#type(type='hidden', name='type', value="image")
        input(type='hidden', name='mediaId', value="#{reply ? reply.mediaId : ''}")
        input#_csrf(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label.col-md-2
            a#selectImage.btn.btn-default 
              i.fa.fa-plus
              |选择图片
          .col-md-6
            img#imageImg(src="/wechat/media/getMaterial/#{reply ? reply.mediaId : ''}",width="340px",height="210")
        .form-group
          .col-md-8.text-center
            a#saveImage.btn.btn-primary 确定
            if viewType == 'edit'
              a#delImage.btn.btn-danger(onclick="delOuto('#{reply._id}')") 删除
    #newsReply.tab-pane.fade.in
      form#news.form-horizontal(name='news', action=  '', method='post')
        if viewType == 'edit'
          input#id(type='hidden', name='id', value="#{reply._id}")

        input(type='hidden', name='type', value="news")
        input(type='hidden', name='mediaId', value="#{reply ? reply.mediaId : ''}")
        input#_csrf(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label.col-md-2
            a#selectNews.btn.btn-default 
              i.fa.fa-plus.fa-fw
              |选择图文
          div#newsSource.col-md-12.col-md-6
            //img#newsSrc(src="",width="340px",height="210")
        .form-group
          .col-md-8.text-center
            a#saveNews.btn.btn-primary 确定
            if viewType == 'edit'
              a#delNews.btn.btn-danger(onclick="delOuto('#{reply._id}')") 删除
    #voiceReply.tab-pane.fade.in
      form#voice.form-horizontal(name='voice', action='', method='post')
        if viewType == 'edit'
          input#id(type='hidden', name='id', value="#{reply._id}")

        input(type='hidden', name='type', value="voice")
        input(type='hidden', name='mediaId', value="#{reply ? reply.mediaId : ''}")
        input#_csrf(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label.col-md-2
            a#selectVoice.btn.btn-default
              i.fa.fa-plus.fa-fw
              | 选择语音
          div#audio.col-md-6
            audio
              source#voice1(type="audio/ogg",src="/wechat/media/getMaterial/#{reply ? reply.mediaId : ''}")
              source#voice2(type="audio/mpeg",src="/wechat/media/getMaterial/#{reply ? reply.mediaId : ''}")
              | Your browser does not support the audio element.
        .form-group
          .col-md-8.text-center
            a#saveVoice.btn.btn-primary 确定
            if viewType == 'edit'
              a#delVoice.btn.btn-danger(onclick="delOuto('#{reply._id}')") 删除
    #videoReply.tab-pane.fade.in
      form#video.form-horizontal(name='video', action=  '', method='post')
        if viewType == 'edit'
          input#id(type='hidden', name='id', value="#{reply._id}")

        input(type='hidden', name='type', value="video")
        input(type='hidden', name='title', value="#{reply ? reply.title : ''}")
        input(type='hidden', name='description', value="#{reply ? reply.description : ''}")
        input(type='hidden', name='mediaId', value="#{reply ? reply.mediaId : ''}")
        input#_csrf(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label.col-md-2
            a#selectVideo.btn.btn-default 
              i.fa.fa-plus.fa-fw
              |选择视频
          .col-md-6
            .dropup.text-left
              label.text-left.col-md-12 #{reply ? reply.title : ''}
              div#videoSource.col-md-12
                video
                  source#video1(type="video/ogg",src="/wechat/media/getMaterial/#{reply ? reply.mediaId : ''}")
                  source#video2(type="video/mp4",src="/wechat/media/getMaterial/#{reply ? reply.mediaId : ''}")
                  | Your browser does not support the video tag.
        .form-group
          .col-md-8.text-center
            a#saveVideo.btn.btn-primary 确定
            if viewType == 'edit'
              a#delVideo.btn.btn-danger(onclick="delOuto('#{reply._id}')") 删除
