//
   Created by Renee on 2016/5/10.

extends ../link/layout
block header
  link( rel="stylesheet",href="/themes/default/plugins/daterangepicker/daterangepicker-bs3.css")
  link( rel="stylesheet",href="/themes/default/plugins/ueditor/third-party/webuploader/webuploader.css")
  style.
    #slides li{padding-bottom:10px;border-bottom:1px solid #ccc;list-style-type: none;margin-top:10px;}
block main
  form#pageForm.form-horizontal(method="post",action="/shop/product/page/save")
    input(type='hidden', name='_csrf', value=_csrf)
    if !page.isNew
      input#id(type='hidden', name='id', value="#{page._id}")

    .panel(style="position:relative;")
      .panel-heading
        h3.panel-title
          span.text-info #{page.name} #{page.isNew ? '添加页面' : '编辑页面'}
          .panel-tools.pull-right
            a.btn.btn-default.btn-sm(href='/shop/product/page/list')
              i.fa.fa-reply
            a#save.btn.btn-sm.btn-default(title="保存",href="javascript:void(0);")
              i.fa.fa-save
      .panel-body
        //.form-group
        //  label.control-label.col-sm-2.required 名称：
        //  .col-sm-8
        //    input#name.form-control.required(type="text",name="name",value="#{page.name}")
        .form-group
          label.control-label.col-sm-2.required 标题：
          .col-sm-8
            input#title.form-control.required(type="text",name="title",value="#{page.title}")
        .form-group
          label.control-label.col-sm-2 底部文字：
          .col-sm-8
            input#footer.form-control(type="text",name="footer",value="#{page.footer}")
            p.help-block 站点footer版权等声明文字

        .form-group
          .nav
            label.control-label.col-sm-2 banner图：
            .col-sm-1
              a#addBanner.btn.btn-primary(title="添加轮播图")
                i.fa.fa-plus
            .col-sm-4
              #filePicker 上传图片
              .picUrl(style="display:none;")
                h4 复制链接至图片url:
                p(style="word-break:break-all;word-wrap:break-word")

            #thumb.col-sm-5(style="display:none;")
                img(src="")

          #slides
            ul
              if page.slides && page.slides.length > 0
                each slide in page.slides
                  li
                    .form-group
                      .col-sm-10
                        .slide
                          a.btn.btn-primary.remove.pull-right(style="margin-left:15px;")
                            i.fa.fa-close
                          a.btn.btn-primary.pull-right.slideToggle
                            i.fa.fa-chevron-up
                    .inner
                      .form-group
                        .control-label.col-sm-2 图片标题
                        .col-sm-9
                          input.form-control(type="text",name="slidesitle",value="#{slide.title}")
                      //.form-group
                      //  .control-label.col-sm-2 上传图片
                      //  .col-sm-9
                      //    input.form-control(type="file",name="image",value="#{slide.image}",data='#{slide.image}')
                      //  if(slide.image)
                      //    .col-sm-10.col-xs-12.col-sm-offset-2
                      //      img.img-responsive.img-thumbnail(src='#{slide.image ? slide.image : ""}', style="height:100px;")
                      .form-group
                        label.control-label.col-sm-2.required 图片url
                        .col-sm-9
                          input.form-control.required(type="text",name="imageUrl",value="#{slide.imageUrl}")
                        if(slide.imageUrl)
                          .col-sm-10.col-xs-12.col-sm-offset-2
                            img.img-responsive.img-thumbnail(src='#{slide.imageUrl ? slide.imageUrl : ""}', style="height:100px;")
                      .form-group
                        .control-label.col-sm-2 链接
                        .col-sm-9
                          input.form-control(type="text",name="link",value="#{slide.link}")
                          input.form-control(type="hidden",name="num",value="1")



        .form-group
          label.control-label.col-sm-2 已发布商品：
          #release.col-sm-8
            ul
              if noChecked
                each noC in noChecked
                  li.form-group(style="list-style-type:none;")
                    .col-sm-1
                      input.release(type='checkbox',data="#{noC._id}")
                    .col-sm-8 #{noC.title}

              if typeof release !=='undefined' && release.length > 0
                each r in release
                  li.form-group(style="list-style-type:none;")
                    .col-sm-1
                      input.release(type='checkbox',data="#{r._id}",checked)
                    .col-sm-8 #{r.title}

            p.help-block 外链商品发布数组，选择已发布
            input(name="release", type="hidden")

        .form-group
          label.control-label.col-sm-2 上线：
          .col-sm-8
            if page && page.online
              input#online(type='checkbox',name='online',checked)
            else
              input#online(type='checkbox',name='online')
        .form-group
          label.control-label.col-sm-2 提示语：
          .col-sm-8
            input#offlineText.form-control(type="text",name="offlineText",value="#{page.offlineText}")
block scripts
  script(src="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.js")
  script(src="/themes/default/plugins/daterangepicker/daterangepicker.js")
  script(src="//cdn.bootcss.com/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js")
  script(src="/themes/default/plugins/ueditor/third-party/webuploader/webuploader.html5only.min.js")
  script.
    $(document).ready(function () {
      $('#pageForm .remove').click(function() {
        $(this).closest('li').remove();
      });
      $('.slideToggle').click(function() {
        $(this).closest('li').find('.inner').slideToggle(400)
      });
      //validator
      $('#pageForm').validate({});

      $('#addBanner').click(function() {
        var $slidesHtml = $('<li>' +
                '<div class="form-group"><div class="col-sm-10"><div class="slide"><a class="btn btn-primary remove pull-right" style="margin-left:15px;"><i class="fa fa-close"></i></a><a class="btn btn-primary pull-right slideToggle"><i class="fa fa-chevron-up"></i></a></div></div></div>' +
                '<div class="inner">' +
                '<div class="form-group"><div class="control-label col-sm-2">图片标题</div><div class="col-sm-9"><input type="text" name="slidesitle" class="form-control"></div></div>' +
                '<div class="form-group"><label class="control-label required col-sm-2" aria-required="true">图片url</label><div class="col-sm-9"><input type="text" name="imageUrl" class="form-control required" aria-required="true"></div></div>' +
                '<div class="form-group"><div class="control-label col-sm-2">链接</div><div class="col-sm-9"><input type="text" name="link" class="form-control"><input type="hidden" name="num" value="1"></div></div></div>' +
                '</li>');
        $('#slides ul').append($slidesHtml);
        $slidesHtml.find('.slideToggle').click(function() {
          $slidesHtml.find('.inner').slideToggle(400);
        });
        $slidesHtml.find('.remove').click(function() {
          $slidesHtml.remove();
        });
      });

      //jquery.ui拖拽
      $("#slides ul").sortable();
      $("#slides ul").disableSelection();

      $("#release ul").sortable();
      $("#release ul").disableSelection();

      //保存
      $('#save').click(function() {
        //发布商品
        var release = [];
        $('#pageForm input.release').each(function () {
          var e = $(this).is(':checked');
          if (e) {
            release.push($(this).attr('data'));
          }
        });
        console.log(release.toString());
        $('input[name="release"]').val(release.toString());

        var isSucc = true;
        $('#slides li').each(function() {
          if($(this).find('input[name="imageUrl"]').val().length == 0) {
            alert('图片链接为必填！');
            isSucc = false;
            return;
          }
        });
        //upload
        if(isSucc) {
          setTimeout(function () {
            $('#pageForm').submit();
          }, 1000);
        }
      });
    });

  script(src="/themes/default/js/uploader.js")
