//
   Created by danne on 2016/3/28.

nav#quick-entry-nav.quick-entry-nav
  a.quick-entry-link(href="#")
    img(width="45", height="45", src="#{theme}/images/icon_category.png")
    span 分类查询
  a.quick-entry-link(href="#")
    img(width="45", height="45", src="#{theme}/images/icon_coupon.png")
    span 领券中心
  a.quick-entry-link(href="#")
    img(width="45", height="45", src="#{theme}/images/icon_cart.png")
    span 购物车
  a.quick-entry-link(href="#")
    img(width="45", height="45", src="#{theme}/images/icon_user.png")
    span 我的账户
  //a.quick-entry-link(href="http://chongzhi.m.jd.com/")
    img(width="45", height="45", src="//m.360buyimg.com/mobilecms/s80x80_jfs/t1909/34/1706299643/3956/29f28dcb/56d543d8Nd7fce807.png")
    span 抢2元话费
  //a.quick-entry-link(href="http://coupon.m.jd.com/center/getCouponCenter.action")
    img(width="45", height="45", src="//m.360buyimg.com/mobilecms/s80x80_jfs/t2344/173/2072209564/6283/46962c01/56efe5bdNe02ca291.png")
    span 领券中心
  a.quick-entry-link(href="#")
    img(width="45", height="45", src="#{theme}/images/icon_myfavs.png")
    span 我的关注