//
   Created by danne on 2015/10/29.
extends ../layout
block header
block pageTitle
  h1 模板详情
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 模板详情
      .panel-tools
        a.btn.btn-box-tool.btn-default(href='/wechat/msgTemplate/list')
          i.fa.fa-reply
          span  返回
        | &nbsp;
    .panel-body
      div#userEdit.row
        .col-md-12
          form#form1.form-horizontal.form(action='', method='post')
            input#_csrf(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.col-xs-12.col-sm-3.col-md-2.control-label 模板ID
              .col-sm-9.col-xs-12
                span #{templateId }
                span.help-block 开发者调用模板消息接口时需提供模板ID.
            .form-group
              label.col-xs-12.col-sm-3.col-md-2.control-label 标题
              .col-sm-9.col-xs-12
                span #{title }
            .form-group
              label.col-xs-12.col-sm-3.col-md-2.control-label 行业
              .col-sm-9.col-xs-12
                span #{primaryIndustry } - #{deputyIndustry }
            .form-group
              label.col-xs-12.col-sm-3.col-md-2.control-label 详细内容
              .col-sm-9.col-xs-12
                span !{content.replace(/(\n)/g,'<br>'))}
                span.help-block 在发送时，需要将内容中的参数（{{.DATA}}内为参数）赋值替换为需要的信息
            .form-group
              label.col-xs-12.col-sm-3.col-md-2.control-label 内容示例
              .col-sm-9.col-xs-12
                span !{example.replace(/(\n)/g,'<br>')}
            .form-group
              .col-sm-9.col-xs-12.col-sm-offset-3.col-md-offset-2
                button#back.btn.btn-primary(type='button', value='返回' onclick='javascript:window.location.href="/wechat/msgTemplate/list"') 返回

//应用添加的脚本在scripts block中定义
block scripts
  script.

