//
   Created by danne on 2015/10/29.
extends ../layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css")
  link( rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css")
//应用的page title
block pageTitle
  if !payment.isNew
    h1 支付方式编辑
      small 编辑支付方式信息
  if viewType == 'view'
    h1 支付方式查看
      small 查看支付方式信息
block main
  .panel
    .panel-heading.with-border
      if !payment.isNew
        h3.panel-title 编辑支付方式信息
      if viewType == 'view'
        h3.panel-title 查看支付方式信息
      .panel-tools
        a.btn.btn-box-tool.btn-default(href='/system/payment')
          i.fa.fa-reply
          span  返回
        | &nbsp;
        if payment.isNew || !payment.isNew
          button#save.btn.btn-box-tool.btn-default
            i.fa.fa-save
            span  保存
        | &nbsp;
      //button.btn.btn-box-tool(data-widget="collapse")
      //  i.fa.fa-caret-left
    .panel-body
      div#userEdit.row
        .col-md-12
          form#paymentForm.form-horizontal(name='paymentForm', action='/system/payment/saveEdit', method='post',enctype='multipart/form-data')
            if !payment.isNew
              input#id(type='hidden', name='id', value="#{payment._id}")
            input#_csrf(type='hidden', name='_csrf', value=_csrf)

            .form-group
              label.control-label.col-md-3 支付方式：
              .controls.col-md-9
                input.form-control.required(value="#{payment != null ? payment.name : ''}" disabled=true)
            .form-group
              label.control-label.col-sm-3 支付证书：
              .col-sm-9
                input#certificate.form-control(type="file",name='certificate')

            if !payment.isNew
              if (payment.params.length)
                each param , i in payment.params
                  if (param.isChecked == '01')
                    if (param.isRequired == '01')
                      .form-group
                        label.control-label.col-md-3.required #{param.paramName}：
                        .controls.col-md-9
                          input.form-control.required(name='#{param._id}',value="#{param.paramValue}")

                    if (param.isRequired == '00')
                      .form-group
                        label.control-label.col-md-3 #{param.paramName}：
                        .controls.col-md-9
                          input.form-control(name='#{param._id}', value="#{param.paramValue}")
                  if (param.isChecked == '00')
                    if (param.isRequired == '01')
                      .form-group
                        label.control-label.col-md-3.required #{param.paramName}：
                        .controls.col-md-9
                          input.form-control.required(name='#{param._id}',value="#{param.paramValue}" readonly='true')

                    if (param.isRequired == '00')
                      .form-group
                        label.control-label.col-md-3 #{param.paramName}：
                        .controls.col-md-9
                          input.form-control(name='#{param._id}', value="#{param.paramValue}" readonly='true')
            .form-group
              label.control-label.col-md-3 可用：
              .controls.col-md-9
                label
                  if (payment != null && payment.enable == '01')
                    input.mini(type='checkbox' checked='true')
                  else
                    input.mini(type='checkbox')
                  input#enable(type='hidden' name='enable')
            .form-group
              label.control-label.col-md-3 描述：
              .controls.col-md-9
                textarea.form-control.required(name='description' rows='3')
                  | #{payment != null ? payment.description : ''}

//应用添加的脚本在scripts block中定义
block scripts
  script(src='/themes/default/plugins/datepicker/bootstrap-datepicker.js')
  script(src="//cdn.bootcss.com/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js")
  script.
    $(document).ready(function () {

      //图片上传
      $(".form-group").find(':file').filestyle({buttonText: '上传证书'});

      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
      });

      // 保存
      $('#save').on('click', function () {
        var enable = $(".mini").is(":checked");
        if (enable) {
          $("#enable").val("01");
        } else {
          $("#enable").val("00");
        }
        var form = $("#paymentForm");
        if (form.valid()) {
          form.submit();
        }
      });
    });
