//
   Created by yu869 on 2015/11/6.

each category,index in categorys
  tr(data-tt-id='#{category._id}',data-tt-parent-id='#{category.parentId == null ? "" : category.parentId}', data-tt-branch='#{!category.leaf}')
    td
      | &nbsp; #{category.name}
    td #{category.code}
    td.text-center
      input(type="hidden",name="id",value="#{category.id}")
      input.form-control.input-sm.text-right(type="number", name="sort",value="#{category.sort}", style="width:60px;")
    td
      span #{category.description}
    td.text-center
      a#topNav.btn.btn-xs.windows(title='是否新窗口打开', href='/shop/product/category/topNav/#{category._id}')
        if (category.topNav)
          <i class='fa fa-check-square'/>
        else
          <i class='fa fa-square-o'/>
    td.text-center
      a#enabled.btn.btn-xs.key(title='激活/禁用', href='/shop/product/category/isEnable/#{category._id}')
        if(category.enabled)
          <i class='fa fa-check-square'/>
        else
          <i class='fa fa-square-o'/>
    td.text-center
      a#edit.btn.btn-xs.add(href='/shop/product/category/add?parentId=#{category._id}', title='添加子分类')
        i.fa.fa-plus
      a#edit.btn.btn-xs.edit(href='/shop/product/category/edit/#{category._id}', title='编辑分类')
        i.fa.fa-edit
      a#del.btn.btn-xs.del(onclick="del('#{category._id}')", title='删除分类')
        i.fa.fa-trash-o