//
   Created by Renee on 2016/5/10.

extends ../layout
block header
  link( rel="stylesheet",href="/themes/default/plugins/daterangepicker/daterangepicker-bs3.css")
block main
  if !sign.isNew
    form#userDelForm(method='post', style='display:none', action='/activities/sign/del')
      input#ids(type='hidden',name='ids',value="#{sign._id}")
      input#_csrf(type='hidden', name='_csrf', value=_csrf)

  .panel(style="position:relative;")
    .panel-heading
      h3.panel-title
        span.text-info #{sign.name} #{sign.isNew ? '创建签到有礼' : '签到有礼修改'}
        .panel-tools.pull-right
          a.btn.btn-default.btn-sm(href='/activities/sign')
            i.fa.fa-reply
          button#save.btn.btn-sm.btn-default(title="保存")
            i.fa.fa-save
    .panel-body
      form#signForm.form-horizontal(method="post",action="/activities/sign/save",enctype='multipart/form-data')
        input#_csrf(type='hidden', name='_csrf', value=_csrf)
        if(!sign.isNew)
          input#id(type='hidden', name='id', value="#{sign._id}")

        ul.nav.nav-tabs
          li.active
            a(href='#base', data-toggle='tab') 基本参数
          li
            a(href='#media', data-toggle='tab') 图文信息
          //li
          //  a(href='#formfields', data-toggle='tab') 表单数据
        .tab-content.padding(style='padding:15px')
          #base.tab-pane.fade.in.active
            .form-group
              label.control-label.col-sm-2.required 名称：
              .col-sm-10
                input#name.form-control.required(type="text",name="name",value="#{sign.name}")

            .form-group
              label.control-label.col-sm-2 时间范围：
              .col-sm-10
                .input-group
                  input#reservationtime.form-control.pull-right(type='text',name="time",value="#{sign.startTime && sign.endTime ? (formatDatetime(sign.startTime) + ' - ' + formatDatetime(sign.endTime)) : ''}")
                  .input-group-addon
                    i.fa.fa-clock-o
                p.help-block 签到有礼活动开始结束时间范围
            .form-group
              label.control-label.col-sm-2 签到得积分：
              .col-sm-10
                input#point.form-control(type="number",name="point",value="#{sign.point}")
                p.help-block 签到有礼活动期间参加获得积分
            .form-group
              label.control-label.col-sm-2 文案：
              .col-sm-10
                textarea#text.form-control(name="text", rows="5")
                  | #{sign.text ? sign.text : ''}

            .form-group
              label.control-label.col-sm-2 签到成功提示信息：
              .col-sm-10
                textarea#successText.form-control(name='successText' ,rows="3")
                  | #{sign.successText ? sign.successText : ''}
                p.help-block 设置用户提交完信息后显示成功页面的信息内容，没有提示则留空
            .form-group
              label.checkbox.control-label.col-sm-2 是否需要密钥
              .col-sm-10
                if (sign && sign.genToken)
                  input#enabled(type='checkbox', name='genToken', checked="checked")
                else
                  input#enabled(type='checkbox', name='genToken')
                span &nbsp;&nbsp;是否需要密钥
            .form-group
              label.control-label.col-sm-2 签到成功跳转URL：
              .col-sm-10
                input#successRedirect.form-control(type="text",name="successRedirect",value="#{sign.successRedirect}")
                p.help-block 用于签到成功之后的重新定向的URL，没有跳转则留空


            .form-group
              label.control-label.col-sm-2.col-md-2.col-xs-12 背景图案：
              .col-sm-10
                input#bgimg.form-control(type="file",name='bgimg')
              if(sign.bgimg)
                .col-sm-10.col-xs-12.col-sm-offset-2
                  img#bgimgimg.img-responsive.img-thumbnail(src='#{sign.bgimg ? url(sign.bgimg.url) : ""}', width='200')

            .form-group
              label.control-label.col-sm-2 分享标题：
              .col-sm-10
                textarea#shareTitle.form-control(name='shareTitle' ,rows="1")
                  | #{sign.shareTitle ? sign.shareTitle : ''}
                p.help-block 设置用户分享时的标题
            .form-group
              label.control-label.col-sm-2 分享描述：
              .col-sm-10
                textarea#shareDesc.form-control(name='shareDesc' ,rows="2")
                  | #{sign.shareDesc ? sign.shareDesc : ''}
                p.help-block 设置用户分享时的描述
            .form-group
              label.control-label.col-sm-2.col-md-2.col-xs-12 分享图片：
              .col-sm-10
                input#logo.form-control(type="file",name='logo')
              if(sign.logo)
                .col-sm-10.col-xs-12.col-sm-offset-2
                  img#logo.img-responsive.img-thumbnail(src='#{sign.logo ? url(sign.logo.url) : ""}', width='200')

          #media.tab-pane.fade

            .form-group
              label.control-label.col-sm-2 关键字：
              .col-sm-10
                input#keywords.form-control(type="text",name="keywords",value="#{sign.keywords}")
                p.help-block 填写微信平台自动回复关键字,用户发送关键字则会自动图文回复回复签到有礼链接
            .form-group
              label.control-label.col-sm-2 标题：
              .col-sm-10
                input#title.form-control(type="text",name="title",value="#{sign.title}")
                p.help-block 填写分享或关键字回复图文信息的标题

            .form-group
              label.control-label.col-sm-2 描述：
              .col-sm-10
                textarea#description.form-control(name='description' ,rows="3")
                  | #{sign.description ? sign.description : ''}
                p.help-block 填写分享或关键字回复图文信息的描述内容

            .form-group
              label.control-label.col-sm-2.col-md-2.col-xs-12 LOGO：
              .col-sm-10
                input#log.form-control(type="file",name='logo')
                p.help-block 上传logo图片会被压缩到200X100像素,如未上传图片,将使用系统设定的LOGO
              if(sign.logo)
                .col-sm-10.col-xs-12.col-sm-offset-2
                  img#logoimg.img-responsive.img-thumbnail(src='#{sign.logo ? url(sign.logo.url) : ""}', width='200')
block scripts
  script(src="//cdn.bootcss.com/jqueryui/1.11.4/jquery-ui.min.js")
  script(src="/themes/default/plugins/daterangepicker/daterangepicker.js")
  script(src="//cdn.ckeditor.com/4.4.3/standard/ckeditor.js")
  script(src="//cdn.bootcss.com/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js")
  script.
    $(document).ready(function () {
      var edits = $('#edit .tbody li');
      CKEDITOR.replace('text');
      //图片上传
      $(".form-group").find(':file').filestyle({buttonText: '上传图片'});

      //签到有礼日期格式
      $('#reservationtime').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 10,
        format: 'YYYY-MM-DD HH:mm:ss'
      });


      //validator
      $('#signForm').validate({
        rules: {
          name: {
            required: true,
            remote: '/activities/sign/checkName?oldName=#{sign ? sign.name : ''}'
          }
        },
        messages: {
          name: {
            remote: '签到有礼名称已存在'
          }
        }
      });

      //动态表单部分验证
      $('#save').click(function () {
        var form = $('#signForm');
        form.submit();
      });

    });
