//
   Created by pc on 2015/10/27.
extends ../layout

block header
  link(rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 签到有礼活动
        .panel-tools.pull-right
          a.btn.btn-primary.btn-sm(href="#{baseUrl}/add")
            i.fa.fa-plus.fa-fw
            | 添加签到有礼活动
    .panel-body
      #tableWrapper(style="display:none")
        table#signList.table.table-hover.table-striped.table-responsive
          thead
            //th 类型
            th 名称
            th.text-center 时间
            th.text-center URL
            th.text-center 上线
            th.text-center 开始时间
            th.text-center 操作
          tbody

//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script(src='#{theme}/js/jquery.qrcode.min.js')
  script.
    $(document).ready(function () {
      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: true,
        searching: true,
        processing: false,
        //scrollX:true,
        stateSave: true,
        serverSide: true,
        deferRender: true
      };

      var t = $('#signList').DataTable($.extend(opts, {
        ajax: {url: '#{req.baseUrl}/datatable'},
        order: [[1, 'asc']],
        columnDefs: [
          {
            targets: -1, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              var url = contextFront + '/sign/' + row._id + '?cid=#{req.session.channel.identity}&wid=#{req.session.wechat._id}';
              return "<div class='btn-group'> " +
                      '<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-qrcode"></i><span class="caret"></span></button>' +
                      '<div class="qrcode dropdown-menu dropdown-menu-right" style="width:210px;height: 210px;padding:4px;border:1px solid #f4f4f4" data-url="' + url + '"></div>' +
                      "<a class='btn btn-default btn-sm' title='编辑签到有礼活动' href='#{baseUrl}/edit/" + row._id + "'><i class='fa fa-pencil'></i></a>" +
                      "<a class='btn btn-default btn-sm del' title='删除签到有礼活动'><i class='fa fa-trash'></i></a>" +
                      "<a class='btn btn-default btn-sm' title='参加活动用户' href='#{baseUrl}/stat/" + row._id + "'><i class='fa fa-line-chart'></i></a></div>";
            }
          }
        ],
        columns: [
          {data: "name", defaultContent: ''},
          {
            data: "startTime", defaultContent: '', class: 'text-center', render: function (data, type, full, meta) {
            var b = moment(new Date(data));
            var a = moment(new Date(full.endTime));
            var date = "";
            if (data != null) {
              date = b.format("YYYY-MM-DD HH:mm");
              date += " - " + a.format("YYYY-MM-DD HH:mm");
            }
            return date;
          }
          },
          {
            data: "url", class: "text-center", render: function (data, type, full, meta) {
            var url = contextFront + '/sign/' + full._id + '?cid=#{req.session.channel.identity}&wid=#{req.session.wechat._id}';
            return '<a href="' + url + '">' + url + '</a>';
          }
          },
          {
            data: "enabled",
            defaultContent: '',
            'class': 'text-center',
            render: function (data, type, full, meta) {
              var result = "";
              if (data == '1') {
                result = "<a class='btn btn-sm key' title='激活/禁用' href='#{baseUrl}/enable/" + full._id + "'><i class='fa fa-check-square'/></a>"
              } else {
                result = "<a class='btn btn-sm key' title='激活/禁用' href='#{baseUrl}/enable/" + full._id + "'><i class='fa fa-square-o'/></a>"
              }
              return result;
            }
          },
          {data: "endTime", defaultContent: '', visible: false},
          {data: ""}
        ]
      })).on('draw.dt', function () {
        $("#tableWrapper").fadeIn();
        $(".qrcode").each(function () {
          $(this).qrcode({'width': 200, 'height': 200, 'text': $(this).data('url')});
        });
      });

      //删除签到有礼活动的事件
      $('#signList').on('click', 'a.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              window.location.href = '#{baseUrl}/del/' + id;
            }
          });
        }
      });

    })
