//
  Created by pc on 2015/10/27.

extends layout
block header
  link( rel="stylesheet",href="/themes/default/plugins/daterangepicker/daterangepicker-bs3.css")
  style.
    dd, dt {
      padding: 1px 0;
    }

    .label {
      color: #444;
    }

    #divBtn .btn.selected{
      background-color: #2a536b
    }
block pageTitle
  h1 微信公众号管理
    .pull-right
      button#clearToken.btn.btn-warning.btn-sm(title="重置微信公众号接口Token让系统重新获取",data-id=wechat._id)
        i.fa.fa-refresh.fa-fw
        | 重置Token

block main
  .account
    .panel.panel-default
      .panel-body
        .col-sm-6
          h4.text-center #{wechat.name}
          dl.dl-horizontal(style="margin-bottom:0;")
            dt 类型：
            dd
              .label.label-success #{wechatTypes[wechat.type]}
            dt 接口地址：
            dd
              .label #{setting["wechat.api.url"]}
            dt AppId：
            dd
              .label #{wechat.appid}
            //t AppSecret：
            //dd
              span#appsecret(style="display:none") #{wechat.appsecret}&nbsp;&nbsp;
              btn.btn.btn-xs.btn-danger(onclick="$('#appsecret').show()") 显示
            dt Token：
            dd
              .label #{wechat.token}
        .col-sm-6.text-right
          img.img-responsive.img-thumbnail(src='#{wechat.qrcode ? url(wechat.qrcode.url) : ""}', width='150',height='150')
          img.img-responsive.img-thumbnail(src='#{wechat.logo ? url(wechat.logo.url) : ""}', width='150' ,height='150')
  #scroll.panel.panel-default
    .panel-heading
      | 今日关键指标
    .account-stat
      .account-stat-btn
        div
          | 今日新关注
          span#new 0
        div
          | 今日取消关注
          span#cancel 0
        div
          | 今日净增关注
          span#nadd 0
        div
          | 累积关注
          span#cumulate 0
  .panel.panel-default
    .panel-heading
      | 昨日关键指标
    .account-stat
      .account-stat-btn
        div
          | 昨日新关注
          span#yNew 0
        div
          | 昨日取消关注
          span#yCancel 0
        div
          | 昨日净增关注
          span#yadd 0
        div
          | 累积关注
          span#yCumulate
  .panel.panel-default
    .panel-heading
      | 关键指标详解
      a.text-danger(href='./index.php?c=account&a=summary&acid=4&uniacid=4', target='_blank') 查看更多
    .panel-body
      .pull-right
        .checkbox
          label(style='color:#57B9E6;')
            input(checked='', type='checkbox')
            |  新关注人数
          label(style='color:rgba(203,48,48,1)')
            input(checked='', type='checkbox')
            |  取消关注人数
          label(style='color:rgba(149,192,0,1);;')
            input(checked='', type='checkbox')
            |  净增人数
          label(style='color:#e7a017;')
            input(type='checkbox')
            |  累积关注人数
      div#divBtn(style='margin-top:5px')
        button.btn.btn-primary.selected(type='button' onclick='setType(1)') 新增人数
        button.btn.btn-primary(type='button' onclick='setType(2)') 取消关注人数
        button.btn.btn-primary(type='button' onclick='setType(3)') 净增人数
        button.btn.btn-primary(type='button' onclick='setType(4)') 累积人数
      br
      div.navbar-default.navbar-static-top(style="margin-bottom:0")
        form.form-inline
          input#type(type='hidden' value='1')
          .form-group
            select#nearDay.form-control(name='nearDay')
              option(value='7') 最近7天
              option(value='15') 最近15天
              option(value='30' selected) 最近30天
          .form-group
            input#timeRange.form-control(name='timeRange' type='text' placeholder='选择时间范围' readonly style="width:200px")
          .form-group
            select#userSource.form-control(name='userSource')
              option(value='') 全部来源
      canvas#lineReport(width='1000' height=300)

  style.
    .account-stat {
      overflow: hidden;
      color: #666;
    }

    .account-stat .account-stat-btn {
      width: 100%;
      overflow: hidden;
    }

    .account-stat .account-stat-btn > div {
      text-align: center;
      margin-bottom: 5px;
      margin-right: 2%;
      float: left;
      width: 23%;
      height: 80px;
      padding-top: 10px;
      font-size: 16px;
      border-left: 1px #DDD solid;
    }

    .account-stat .account-stat-btn > div:first-child {
      border-left: 0;
    }

    .account-stat .account-stat-btn > div span {
      display: block;
      font-size: 30px;
      font-weight: bold
    }
  .page-header
    h4
      i.fa.fa-android
      |  基本回复统计情况
  .panel.panel-default(style='padding:1em;')
    nav#clear.navbar.navbar-static-top(role='navigation', style='margin: -1em -1em 1em -1em;')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='javascript:;') 模块命中次数趋势图
        ul.nav.navbar-nav.nav-btns
          li#basic.active
            a(href='javascript:;') 文字回复
          li#news
            a(href='javascript:;') 图文回复
          li#music
            a(href='javascript:;') 音乐回复
          li#images
            a(href='javascript:;') 图片回复
          li#voice
            a(href='javascript:;') 语音回复
          li#video
            a(href='javascript:;') 视频回复
          li#userapi
            a(href='javascript:;') 自定义接口回复
          li.dropdown
            a.dropdown-toggle(href='javascript:;', data-toggle='dropdown')
              | 其他模块
              span.caret
            ul.dropdown-menu(role='menu')
              li#xm_housekeep_we7
                a(href='javascript:;') 家政服务
              li#weini_rhino
                a(href='javascript:;') 犀牛溜冰场
              li#bm_qrsign
                a(href='javascript:;') 扫码支付/扫码签到
    .account-stat
      .account-stat-btn
        div
          | 总回复规则数
          span#rule 0
        div
          | 今日命中次数
          span#today 0
        div
          | 本月命中次数
          span#month 0
        div
          a#show(href='./index.php?c=platform&a=reply&do=display&m=basic', style='display:block; margin:5px 0;')
            i.fa.fa-search
            |  查看回复规则
          a#add(href='./index.php?c=platform&a=reply&do=post&m=basic', style='display:block;')
            i.fa.fa-plus
            |  新增回复规则
    div(style='margin-top:20px;')
      canvas#myChart(height='270', width='1014', style='width: 1014px; height: 270px;')
  //.page-header
    h4
      i.fa.fa-cogs
      |  高级功能统计情况
  //.panel.panel-default
    .panel-body.table-responsive
      table.table
        thead
          tr
            th(style='width:200px;') 功能类别
            th 概况
        tbody
          tr
            td 常用服务
            td
              p
                | 已启用：
                span.label.label-info 城市天气
              p
                | 未启用：
                span.label.label-warning 百度百科
                span.label.label-warning 即时翻译
                span.label.label-warning 今日老黄历
                span.label.label-warning 看新闻
                span.label.label-warning 快递查询
          tr
            td 自定义菜单
            td
              p
                | 已启用：
              p
                | 未启用：
                span.label.label-warning 微享天下 (权限不足)
          tr
            td 特殊回复
            td
          tr
            td 二维码
            td
              p
                | 总计：
                span.label.label-info 临时（0个）
                span.label.label-info 永久（0个）

block scripts
  //script(src='//cdn.bootcss.com/require.js/2.1.22/require.min.js')
  script(src='//cdn.bootcss.com/echarts/3.1.10/echarts.min.js')
  script(src="/themes/default/plugins/daterangepicker/daterangepicker.js")
  script.
    $(document).ready(function () {
      $("#timeRange").daterangepicker({
        timePicker: true,
        timePickerIncrement: 10,
        format: 'YYYY-MM-DD',
      });

      $("#nearDay").on('change', function(){
        groupWechatFans()
      })

      $("#userSource").on('change', function () {
        groupWechatFans()
      })

      $("#divBtn .btn").on('click', function(){
        $(this).siblings('.btn').removeClass('selected')
        $(this).addClass('selected');
        text = $(this).text();
      })
    })
    $("#clearToken").on("click", function (e) {
      var id = $(this).data("id");
      if (id) {
        $.ajax({
          url: '/wechat/mgmt/clstoken/' + id,
          type: 'GET',
          success: function (data) {
            console.log("************* clear token. ");
            if (!data) {
              toastr.error("清除Token时发生错误.<br/>" + data);
            } else {
              toastr.success('微信公众号Token成功清除，系统会自动刷新Token!');
            }
          }
        })
      }
    });
    //进入关注数
    $.ajax({
      url: '/wechat/mgmt/wechatFansGroup/#{req.session.wechat._id}',
      type: 'GET',
      success: function (data) {
        if (data) {
          $("#new").text(data.addFans);
          $("#cancel").text((data.addFans - data.newFans));
          $("#nadd").text(data.newFans);
          $("#cumulate").text(data.cumulate_user);
        }
      }
    })
    //昨日关注数
    $.ajax({
      url: '/wechat/mgmt/group/#{req.session.wechat._id}',
      type: 'GET',
      success: function (data) {
        if (data) {
          $("#yNew").text(data.new_user);
          $("#yCancel").text(data.cancel_user);
          $("#yadd").text((data.new_user - data.cancel_user));
          $("#yCumulate").text(data.cumulate_user);
        }
      }
    })
    //粉丝来源
    $.ajax({
      url: '/wechat/mgmt/userSource/get',
      type: 'GET',
      success: function (data) {
        if (data) {
          $("#userSource").html('')
          $(data).each(function(i, o){
            $("#userSource").append("<option value='"+ o.value +"'>"+ o.name +"</option>")
          })
        }
      }
    })

    var text = "新关注人数";
    //统计粉丝数量
    function groupWechatFans(){
      var type = $("#type").val();
      var nearDay = $("#nearDay").val();
      var userSource = $("#userSource").val();
      var timeRange = $("#timeRange").val();
      var fromDate, toDate;
      if(timeRange){
        timeRange = timeRange.split(' - ');
        if(timeRange.length == 2){
          fromDate = timeRange[0];
          toDate = timeRange[1];
        }
      }
      console.log('timeRange', fromDate, toDate)
      /* */
      $.ajax({
        url: '/wechat/mgmt/group/wechatFans',
        type: 'post',
        data: {"type": type, "nearDay": nearDay, "userSource": userSource, "fromDate":fromDate, "toDate": toDate},
        success: function (data) {
          if(data){
            var x = [], y = [];
            data.forEach(function(o, i){
              x.push(o.count)
              y.push(o.refDate)
            })
            /***/
            var myChart = echarts.init(document.getElementById("lineReport"));
            var option = {
              title: {
                text: text
              },
              tooltip: {
                trigger: 'axis'
              },
              legend: {
                data: ['粉丝数量']
              },
              toolbox: {
                show: true,
                feature: {
                  dataZoom: {
                    yAxisIndex: 'none'
                  },
                  dataView: {readOnly: false},
                  magicType: {type: ['line', 'bar']},
                  restore: {},
                  saveAsImage: {}
                }
              },
              xAxis: {
                type: 'category',
                boundaryGap: false,
                data: y
              },
              yAxis: {
                type: 'value',
                axisLabel: {
                  formatter: '{value}'
                }
              },
              series: [
                {
                  name: '粉丝数量',
                  type: 'line',
                  data: x,
                  markPoint: {
                    data: [
                      {type: 'max', name: '最大值'},
                      {type: 'min', name: '最小值'}
                    ]
                  },
                  markLine: {
                    data: [
                      {type: 'average', name: '平均值'}
                    ]
                  }
                },

              ]
            };


            myChart.setOption(option);
          }
        }
      })
    }

    function setType(type){
      if(!type){
        $("#type").val("1");
      }else{
        $("#type").val(type);
      }
      groupWechatFans()
    }
    groupWechatFans()

    //页面加载时调用一次
    //setType();

  //script.
    require(['chart', 'daterangepicker'], function (c) {
      var chart = null;
      var chartDatasets = null;
      var templates = {
        flow1: {
          label: '新关注人数',
          fillColor: "rgba(36,165,222,0.1)",
          strokeColor: "rgba(36,165,222,1)",
          pointColor: "rgba(36,165,222,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(36,165,222,1)",
        },
        flow2: {
          label: '取消关注人数',
          fillColor: "rgba(203,48,48,0.1)",
          strokeColor: "rgba(203,48,48,1)",
          pointColor: "rgba(203,48,48,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(203,48,48,1)",
        },
        flow3: {
          label: '净增人数',
          fillColor: "rgba(149,192,0,0.1)",
          strokeColor: "rgba(149,192,0,1)",
          pointColor: "rgba(149,192,0,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(149,192,0,1)",
        },
        flow4: {
          label: '累计人数',
          fillColor: "rgba(231,160,23,0.1)",
          strokeColor: "rgba(231,160,23,1)",
          pointColor: "rgba(231,160,23,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(231,160,23,1)"
        }
      };

      function refreshData() {
        if (!chart || !chartDatasets) {
          return;
        }
        var visables = [];
        var i = 0;
        $('.checkbox input[type="checkbox"]').each(function () {
          if ($(this).attr('checked')) {
            visables.push(i);
          }
          i++;
        });
        var ds = [];
        $.each(visables, function () {
          var o = chartDatasets[this];
          ds.push(o);
        });
        chart.datasets = ds;
        chart.update();
      }

      var url = './index.php?c=account&a=summary&acid=4&uniacid=4&#aaaa';
      $.post(url, function (data) {
        var data = $.parseJSON(data)
        var datasets = data.datasets;
        if (!chart) {
          var label = data.label;
          var ds = $.extend(true, {}, templates);
          ds.flow1.data = datasets.new;
          ds.flow2.data = datasets.cancel;
          ds.flow3.data = datasets.increase;
          ds.flow4.data = datasets.cumulate;
          var lineChartData = {
            labels: label,
            datasets: [ds.flow1, ds.flow2, ds.flow3, ds.flow4]
          };
          var ctx = document.getElementById("myChart1").getContext("2d");
          chart = new Chart(ctx).Line(lineChartData, {
            responsive: true
          });
          chartDatasets = $.extend(true, {}, chart.datasets);
        }
        refreshData();
      });
      $('.checkbox input[type="checkbox"]').on('click', function () {
        $(this).attr('checked', !$(this).attr('checked'))
        refreshData();
      });
    });

  //script.
    require(['chart'], function (c) {
      $('.dropdown').click(function () {
        $('.nav.nav-btns>li').removeClass('active');
        $(this).toggleClass('active');
      });
      var myLine = new Chart(document.getElementById("myChart").getContext("2d"));
      var datasets = '';
      var label = '';
      var lineChartData = null;
      var obj = null;
      var day_num = "30";
      var show_url = "./index.php?c=platform&a=reply&do=display&m=";
      var add_url = "./index.php?c=platform&a=reply&do=post&m=";
      var data = null;
      $.post(location.href, {'m_name': 'basic'}, function (data) {
        data = $.parseJSON(data);
        $("#rule").html(data.stat.rule);
        $("#today").html(data.stat.today);
        $("#month").html(data.stat.month);
        $('#show').attr('href', show_url + data.stat.m_name);
        $('#add').attr('href', add_url + data.stat.m_name);
        lineChartData = {
          labels: data.key,
          datasets: [
            {
              fillColor: "rgba(36,165,222,0.1)",
              strokeColor: "rgba(36,165,222,1)",
              pointColor: "rgba(36,165,222,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(36,165,222,1)",
              data: data.value
            }
          ]
        }
        obj = myLine.Line(lineChartData, {responsive: true});
      });
      $('.nav.nav-btns li[class!="dropdown"]').on('click', function () {
        $('.nav.nav-btns li').removeClass('active');
        $(this).toggleClass('active');
        var m_name = $(this).attr('id');
        $.post(location.href, {'m_name': m_name}, function (data) {
          data = $.parseJSON(data);
          $("#rule").html(data.stat.rule);
          $("#today").html(data.stat.today);
          $("#month").html(data.stat.month);
          $('#show').attr('href', show_url + data.stat.m_name);
          $('#add').attr('href', add_url + data.stat.m_name);
          for (var i = 0; i <= day_num; i++) {
            obj.datasets[0].points[i].value = data.value[i];
          }
          obj.update();
        });
      });
    });
  //script.
    $('.account p a').each(function () {
      util.clip(this, $(this).text());
    });
