ul.nav.navbar-nav.navbar-right
  // User Account Menu
  if (req.isAuthenticated())
    li.dropdown.user.user-menu
      // Menu Toggle Button
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        // The user image in the navbar
        if (req.user)
          img.user-image(src="#{req.user != null && req.user.photo_profile ? req.user.photo_profile : '/themes/default/dist/img/avatar.png'}",width="18")
          if req.user.channelId
            span.hidden-xs #{req.user.username}
            //@#{req.user.channelId.channelName}
          else
            span.hidden-xs #{req.user.username}
          b.caret
      ul.dropdown-menu
        li
          a(href='/system/user/edit/#{req.user.id}')
            i.fa.fa-weixin.fa-fw
            | 我的账户
        li
          a(href='/system/user/changepwd/#{req.user.id}')
            i.fa.fa-weixin.fa-fw
            | 修改密码
        li.divider
        li
          a(href='/logout?_#{Date.now()}')
            i.fa.fa-sign-out.fa-fw
            | 退出
        // The user image in the menu
        //- if (req.user)
        //-   li.user-header
        //-     img.img-circle(src="#{req.user.photo_profile ? req.user.photo_profile : '/themes/default/dist/img/avatar.png'}", alt="头像")
        //-     p #{req.user.username}
        //-   // Menu Footer
        //-   li.user-footer
        //-     .pull-left
        //-       a.btn.btn-default.btn-flat(href='/system/user/edit/ #{req.user.id}') 个人资料
        //-     .pull-right
        //-       a.btn.btn-default.btn-flat(href='/logout?_#{Date.now()}') 退出
  li
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse')
      i.fa.fa-bars
