//
   Created by danne on 2016-04-28.
extends ../layout
block header
  link(rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
block main
  .panel
    .panel-heading
      h3.panel-title 分类列表
        .panel-tools.pull-right
          a.btn.btn-primary.btn-sm(href="#{baseUrl}/add")
            i.fa.fa-plus.fa-fw
            | 添加分类
    .panel-body
      #tableWrapper(style="display:none")
        table#categories.table.table-hover.table-striped.table-responsive
          thead
            th 名称
            th 说明
            th.text-center 可用
            th.text-center 操作
          tbody
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script(src='#{theme}/js/jquery.qrcode.min.js')
  script.
    $(document).ready(function () {
      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: true,
        searching: true,
        processing: false,
        //scrollX:true,
        stateSave: true,
        serverSide: true,
        deferRender: true
      };

      var t = $('#categories').DataTable($.extend(opts, {
        ajax: {url: '#{req.baseUrl}/datatable'},
        order: [[1, 'asc']],
        columnDefs: [
          {
            targets: -2, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              var url = contextFront + '/category/' + row._id + '?cid=#{req.session.channel.identity}';
              return "<div class='btn-group'> " +
                      "<a class='btn btn-default btn-sm' title='添加子分类' href='#{baseUrl}/add/" + row._id + "'><i class='fa fa-plus'></i></a>" +
                      "<a class='btn btn-default btn-sm' title='编辑分类' href='#{baseUrl}/edit/" + row._id + "'><i class='fa fa-pencil'></i></a>" +
                      "<a class='btn btn-default btn-sm del' title='删除分类'><i class='fa fa-trash'></i></a>" +
                      "</div>";
            }
          }
        ],
        columns: [
          {data: "name", defaultContent: '', 
            render: function (data, type, row, meta) {
              var result = "";
              for(var i=0;i<row.depth;i++){
                result += " - ";
              }
              result += data;
              return result;
            }
          },
          {data: "description", defaultContent: '' },
          {
            data: "enabled",
            defaultContent: '',
            'class': 'text-center',
            render: function (data, type, row, meta) {
              var result = "";
              if (data) {
                result = "<a class='btn btn-sm key' title='激活/禁用' href='#{baseUrl}/enable/" + row._id + "'><i class='fa fa-check-square'/></a>"
              } else {
                result = "<a class='btn btn-sm key' title='激活/禁用' href='#{baseUrl}/enable/" + row._id + "'><i class='fa fa-square-o'/></a>"
              }
              return result;
            }
          },
          {data:''},
          {data: "depth", defaultContent: '', visible: false}
        ]
      })).on('draw.dt', function () {
        $("#tableWrapper").fadeIn();
      });
    });