//
   Created by yu869 on 2015/11/6.
mixin children(menus,parent)
  each menu,index in menus
    +row(menu,parent)
mixin row(menu, parent)
    tr(data-tt-id="#{menu._id}",data-tt-parent-id="#{parent?parent._id:0}" data-tt-branch="#{menu.children && menu.children.length}")
      td
        //if(menu.iconClass)
        i(class="#{menu.iconClass}")
        | &nbsp; #{menu.title}
      //- td
        if(menu.module)
          | #{menu.module.name}
      td #{menu.code}
      td.text-center
        input(type="hidden",name="id",value="#{menu.id}")
        input.form-control.input-sm.text-right(type="number", name="sort",value="#{menu.sort}", style="width:60px;")
      //td.text-center
        span #{menu.type == "01" ? "_top" : "_left"}
      td
        span #{menu.link}
      td.text-center
        a#topNav.btn.btn-sm.windows(title="是否新窗口打开", href="/system/menu/topNav/#{menu._id}")
          if (menu.topNav)
            <i class="fa fa-check-square"/>
          else
            <i class="fa fa-square-o"/>
      td.text-center
        a#enabled.btn.btn-sm.key(title="激活/禁用", href="/system/menu/isEnable/#{menu._id}")
          if(menu.enabled)
            <i class="fa fa-check-square"/>
          else
            <i class="fa fa-square-o"/>
      td.text-center
        .btn-group
          a#edit.btn.btn-default.btn-sm.add(href="/system/menu/add?parentId=#{menu._id}", title="添加子菜单")
            i.fa.fa-plus
          a#edit.btn.btn-default.btn-sm.edit(href="/system/menu/edit/#{menu._id}", title="编辑菜单")
            i.fa.fa-edit
          a#del.btn.btn-default.btn-sm.del(onclick="del('#{menu._id}')", title="删除菜单")
            i.fa.fa-trash-o
    if(menu.children && menu.children.length)
      +children(menu.children,menu)
  
+children(menus,null)