//
   Created by pc on 2015/10/27.

extends ../layouts/default
//应用的page title
block pageTitle
  h1 系统设定
//block left
//  .panel.panel-default
//    .panel-heading(data-widget='collapse')
//      h4.panel-title 管理
//      .panel-tools.pull-right
//        span.btn.btn-box-tool
//          i.fa.fa-caret-down
//
//    .panel-body.no-padding.list-group
//      a.list-group-item(class="#{isActive('/system/base')}",href="/system/base")
//        i.fa.fa-fw.fa-list
//        | 基础设置
//      a.list-group-item(class="#{isActive('/system/sms')}",href="/system/sms")
//        i.fa.fa-fw.fa-list
//        | 短信设置
//      a.list-group-item(class="#{isActive('/system/mail')}",href="/system/mail")
//        i.fa.fa-fw.fa-list
//        | 邮件设置
//      a.list-group-item(class="#{isActive('/system/payment')}",href="/system/payment")
//        i.fa.fa-fw.fa-list
//        | 支付设置
//      a.list-group-item(class="#{isActive('/system/user')}",href='/system/user/list')
//        i.fa.fa-fw.fa-user
//        | 用户管理
//      a.list-group-item(class="#{isActive('/system/group')}",href='/system/group/list')
//        i.fa.fa-fw.fa-user
//        | 用户分组
