meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(charset='utf-8')
meta(name='keywords', content='尊行贵宾服务厅')
meta(name='description', content='尊行贵宾服务厅')
meta(name='format-detection', content='telephone=no,email=no')
meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='grey')
meta(name='screen-orientation', content='portrait')
meta(name='x5-orientation', content='portrait')
meta(http-equiv='pragma', content='no-cache')
meta(http-equiv='Cache-Control', content='no-cache, must-revalidate')

link(href='#{themeRoot}/dist/images/icon.png', rel='apple-touch-icon-precomposed')
link(href='#{themeRoot}/dist/images/icon.png', rel='Shortcut Icon', type='image/x-icon')

//link(rel='stylesheet', href='css/reset.min.css')
//link(rel='stylesheet', href='css/ratchet.min.css')
//link(rel='stylesheet', href='css/theme-ios.min.c  ss')
//link(rel='stylesheet', href='css/weui.min.css')
link(rel='stylesheet', href='css/swiper.min.css')
//link(rel='stylesheet', href='css/loaders.min.cs s')

link(rel='stylesheet', href='css/app.min.css')
link(rel='stylesheet', href='css/layout.min.css')


// 自动字体大小适配
//script.
  (function (doc, win) {
    var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
              var clientWidth = docEl.clientWidth;
              if (!clientWidth) return;
              docEl.style.fontSize = (24 * clientWidth / 627) + 'px';
            };
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    //doc.addEventListener('DOMContentLoaded', recalc, false);
    recalc();
  })(document, window);