//
   Created by danne on 2016-04-27.
extends ../layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  link( rel="stylesheet" href="/themes/default/plugins/datatables/select.bootstrap.min.css" type="text/css")
block pageTitle
  h1 群发消息管理
block main
  .panel.panel-default
    .navbar.navbar-default.navbar-static-top(style="margin-bottom:0")
      .navbar-header
        .navbar-brand
          | 群发消息
      ul.nav.navbar-nav
        li(class="active")
          a(href='#tab-1',data-toggle='tab')  新建群发信息
        li
          a(href='#tab-2', data-toggle='tab') 已发送
    .panel-body
      #mediaCreateModal.modal.fade.text-center(tabindex="-1", role="dialog", aria-labelledby="mediaCreateModal", aria-hidden='true')
        .modal-dialog(style="display: inline-block; width: 50%;")
          .modal-content
            .modal-header.text-left
              button.close(type="button",data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
              h4.modal-title 选择素材
            .modal-body
              div#mediaInfis.form-group.col-md-12
            .modal-footer
              .center-block.pull-right
                button.btn.btn-primary(type="button",data-dismiss="modal", aria-label="Close") 取消

      .tab-content
        #tab-1.tab-pane.active
          #div
              tbody
                p
                  span
                  | 为保障用户体验，微信公众平台严禁恶意营销以及诱导分享朋友圈，严禁发布色情低俗、暴力血腥、政治谣言等各类违反法律法规及相关政策规定的信息。一旦发现，我们将严厉打击和处理。
          form.form-inline(action='' method='post')
            .form-group
              label 群发对象：
              select#sendObj.form-control(name='sendObj')
                option(value='all') 全部用户
                option(value='sel') 按标签选择
            .form-group#selectGroup
            //.form-group
            //  label 性别：
            //  select#sex.form-control(name='employeeNo')
            //    option(value='all') 全部
            //    option(value='1') 男
            //    option(value='0') 女
            //.form-group
            //  label 群发地区：
            //  select#country.form-control(name='country')
            //    option(value='all') 全部
            //    option(value='1') 中国
            //.form-group#provinces
            //.form-group#citys
            .form-group
              if sendFlag == '0'
                button#sendBtn.btn.btn-primary(type="button" disabled='disabled') 群发消息
              else if sendFlag == '1'
                button#sendBtn.btn.btn-primary(type="button") 群发消息
              else
                button#sendBtn.btn.btn-primary(type="button" disabled='disabled') 群发消息
            .form-group(style='font-weight: 700') #{msg}
          .div
            .alert.alert-info 这里几种情况只可回复一种，添加任何一种回复数据之前所配置信息将失效
            ul#myTab.nav.nav-tabs
              li.active
                a(href="#newsReply" data-id="news" data-toggle="tab")
                  i.fa.fa-newspaper-o
                  | &nbsp;图文消息
              li
                a(href="#textReply" data-id="text" data-toggle="tab")
                  i.fa.fa-pencil
                  | &nbsp;文字
              li
                a(href="#imageReply" data-id="image" data-toggle="tab")
                  i.fa.fa-photo
                  | &nbsp;图片
              li
                a(href="#voiceReply" data-id="voice" data-toggle="tab")
                  i.fa.fa-microphone
                  | &nbsp;语音
              li
                a(href="#videoReply" data-id="video" data-toggle="tab")
                  i.fa.fa-film
                  | &nbsp;视频
            di#myTabContent.tab-content
              #textReply.tab-pane.fade.in
                form#text.form-horizontal(name='text', action=  '', method='post')
                  if viewType == 'edit'
                    input#id(type='hidden', name='id', value="#{reply._id}")

                  input(type='hidden', name='type', value="text")
                  input#_csrf(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                    .col-md-8
                      textarea#content.form-control.required(name='content',rows='4',placeholder='文本内容')
                        | #{reply ? reply.content : ''}
                      p#remain.pull-right 还可以输入600字
                  .form-group
                    .col-md-8.text-center
                      //a#saveText.btn.btn-primary 确定
                      if viewType == 'edit'
                        a#delText.btn.btn-danger(onclick="delOuto('#{reply._id}')") 删除
              #imageReply.tab-pane.fade.in
                form#image.form-horizontal(name='image', action=  '', method='post')
                  if viewType == 'edit'
                    input#id(type='hidden', name='id', value="#{reply._id}")

                  input#type(type='hidden', name='type', value="image")
                  input(type='hidden', name='mediaId', value="#{reply ? reply.mediaId : ''}")
                  input#_csrf(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                    label.control-label.col-md-2
                      a#selectImage.btn.btn-default 选择图片
                    .col-md-6
                      img#imageImg(src="/wechat/media/getMaterial/#{reply ? reply.mediaId : ''}",width="340px",height="210")
                  .form-group
                    .col-md-8.text-center
                      //a#saveImage.btn.btn-primary 确定
                      if viewType == 'edit'
                        a#delImage.btn.btn-danger(onclick="delOuto('#{reply._id}')") 删除
              #newsReply.tab-pane.fade.in.active
                form#news.form-horizontal(name='news', action=  '', method='post')
                  if viewType == 'edit'
                    input#id(type='hidden', name='id', value="#{reply._id}")
                  input(type='hidden', name='type', value="news")
                  input(type='hidden', name='mediaId', value="#{reply ? reply.mediaId : ''}")
                  input#_csrf(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                    label.control-label.col-md-2
                      a#selectNews.btn.btn-default 选择图文
                    div#newsSource.col-md-12.col-md-6
                      //img#newsSrc(src="",width="340px",height="210")
                  .form-group
                    .col-md-8.text-center
                      //a#saveNews.btn.btn-primary 确定
                      if viewType == 'edit'
                        a#delNews.btn.btn-danger(onclick="delOuto('#{reply._id}')") 删除
              #voiceReply.tab-pane.fade.in
                form#voice.form-horizontal(name='voice', action='', method='post')
                  if viewType == 'edit'
                    input#id(type='hidden', name='id', value="#{reply._id}")

                  input(type='hidden', name='type', value="voice")
                  input(type='hidden', name='mediaId', value="#{reply ? reply.mediaId : ''}")
                  input#_csrf(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                    label.control-label.col-md-2
                      a#selectVoice.btn.btn-default 选择语音
                    div#audio.col-md-6
                      audio
                        source#voice1(type="audio/ogg",src="/wechat/media/getMaterial/#{reply ? reply.mediaId : ''}")
                        source#voice2(type="audio/mpeg",src="/wechat/media/getMaterial/#{reply ? reply.mediaId : ''}")
                        | Your browser does not support the audio element.
                  .form-group
                    .col-md-8.text-center
                      //a#saveVoice.btn.btn-primary 确定
                      if viewType == 'edit'
                        a#delVoice.btn.btn-danger(onclick="delOuto('#{reply._id}')") 删除
              #videoReply.tab-pane.fade.in
                form#video.form-horizontal(name='video', action=  '', method='post')
                  if viewType == 'edit'
                    input#id(type='hidden', name='id', value="#{reply._id}")

                  input(type='hidden', name='type', value="video")
                  input(type='hidden', name='title', value="#{reply ? reply.title : ''}")
                  input(type='hidden', name='description', value="#{reply ? reply.description : ''}")
                  input(type='hidden', name='mediaId', value="#{reply ? reply.mediaId : ''}")
                  input#_csrf(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                    label.control-label.col-md-2
                      a#selectVideo.btn.btn-default 选择视频
                    .col-md-6
                      .dropup.text-left
                        label.text-left.col-md-12 #{reply ? reply.title : ''}
                        div#videoSource.col-md-12
                          video
                            source#video1(type="video/ogg",src="/wechat/media/getMaterial/#{reply ? reply.mediaId : ''}")
                            source#video2(type="video/mp4",src="/wechat/media/getMaterial/#{reply ? reply.mediaId : ''}")
                            | Your browser does not support the video tag.
                  .form-group
                    .col-md-8.text-center
                      //a#saveVideo.btn.btn-primary 确定
                      if viewType == 'edit'
                        a#delVideo.btn.btn-danger(onclick="delOuto('#{reply._id}')") 删除
        #tab-2.tab-pane
          #tableWrapper
            table#sendMsgLogsList.table.table-bordered.table-hover.table-striped
              thead
                th.text-center 消息
                th 群发对象
                th 发送时间
                th 素材ID
                th 文本内容
                th 图文缩略图ID
                th 图文URL
                th 操作
              tbody
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script.
    $(document).ready(function () {
      var tt = $('#sendMsgLogsList')
        .DataTable({
          language: {
            "url": "/themes/default/plugins/datatables/Chinese.json"
          },
          searching: true,
          lengthChange: true,
          serverSide: true,
          autoWidth: false,
          select: true,
          stateSave: true,
          ajax: {url: '/wechat/sendMsg/datatable'},
          rowid: '_id',
          order: [[1, 'desc']],
          columnDefs: [
            {
              targets: -1, visible: true, sortable: false, className: 'text-center',
              render: function (data, type, row) {
                return " <button class='btn btn-default btn-xs remark' type='button'><i class='fa fa-trash'></i></button>";
              }
            }
          ],
          columns: [
            {
              data: "type", sortable: false, defaultContent: '', class: 'text-center', width: "60px",
              render: function (data, type, full, meta) {
                if(data == 'news'){
                  return "<a href='"+ full.url +"'><img src='/wechat/media/getMaterial/"+ full.thumbMediaId +"' style='height:100px; width: 100px'/></a>"
                }else if (data == 'image') {
                  return "<a href='/wechat/media/getMaterial/"+ full.mediaId +"'><img src='/wechat/media/getMaterial/"+ full.mediaId +"' style='height:100px; width: 100px'/></a>"
                } else if (data == 'text') {
                  return full.content
                } else if (data == 'voice') {
                  return '<audio controls="controls">' +
                    '<source src="/wechat/media/getMaterial/' + full.mediaId + '" type="audio/ogg">' +
                    '<source src="/wechat/media/getMaterial/' + full.mediaId + '" type="audio/mpeg">' +
                    'Your browser does not support the audio element.</audio>'
                } else if (data == 'video') {
                  return '<a class="title_wrp" href="/wechat/media/getMaterial/' + full.mediaId + '" target="_blank">' +
                    '<img class="img-rounded" src="/wechat/media/getMaterial/' + full.mediaId + '">' +
                    '<span class="title">[视频]</span></a>';
                }
              }
            },
            {data: "recivers", defaultContent: ''},
            {data: "sendTime", defaultContent: '', render: function (data, type, full, meta){
              if(data){
                return moment(data).format('YYYY-MM-DD HH:mm:SS')
              }else{
                return '';
              }
            }},
            {data: "mediaId", visible: false},
            {data: "content", visible: false},
            {data: "url", visible: false},
            {data: "thumbMediaId", visible: false},
            {data: ""}
          ]
        }).on('draw.dt', function () {
          $("#tableWrapper").fadeIn();
        });

      $("#sendObj").on('change', function(i, o){
        var val = $(this).find('option:checked').val();
        if(val == 'sel'){
          $.ajax({
            url: '/wechat/sendMsg/wechatGroup',
            type: 'GET',
            success: function(data){
              var selectHtml = "<select class='form-control' name='sendGroup' id='sendGroup'>";
              if(data && data.length > 0){
                $(data).each(function(i, o){
                  selectHtml += "<option value='"+ o.groupId +"'>"+ o.name +"</option>";
                });
                selectHtml+= "</select>";
              }else{
                selectHtml += "<option value=''>无分组用户</option></select>"
              }
              $("#selectGroup").html(selectHtml);
            }
          });
        }else{
          $("#selectGroup").html('');
        }
      });

      //
      $("#selectImage").on("click", function (e) {
        var type = $("#image input[name='type']").val()
        getMedia(type, "outo");
      });
      $("#selectNews").on("click", function (e) {
        var type = $("#news input[name='type']").val()
        getMedia(type, "outo");
      });
      $("#selectVoice").on("click", function (e) {
        var type = $("#voice input[name='type']").val()
        getMedia(type, "outo");
      });
      $("#selectVideo").on("click", function (e) {
        var type = $("#video input[name='type']").val()
        getMedia(type, "outo");
      });
      //群发消息
      $("#sendBtn").on('click', function(){
        var data = {};
        //图文
        if($("#newsReply").hasClass('active')){
          data.type = "news";
          data.mediaId = $("#news input[name='mediaId']").val();
        } else if ($("#textReply").hasClass('active')) {
          data.type = "text";
          data.content = $("#content").val();
        } else if ($("#imageReply").hasClass('active')) {
          data.type = "image";
          data.mediaId = $("#image input[name='mediaId']").val();
        } else if ($("#voiceReply").hasClass('active')) {
          data.type = "voice";
          data.mediaId = $("#voice input[name='mediaId']").val();
        } else if ($("#videoReply").hasClass('active')) {
          data.type = "video";
          data.mediaId = $("#video input[name='mediaId']").val();
        }

        if(!data.type){
          alert('请选择一个群发素材');
          return;
        }
        var filter = 'all';//默认发给所有用户
        if($("#sendGroup").val()){
          filter = $("#sendGroup").val();
        }

        $.ajax({
          url: '/wechat/sendMsg/send',
          method: 'POST',
          data: {'data': data, 'filter': filter},
          success: function(data){
            if(data.success == '1'){
              alert(data.msg);
            }else{
              alert(data.msg);
            }
            location.href = '/wechat/mgmt/sendmsg';
          }
        });
      });

      $("#content").on('keypress', function(){
        var len = 600 - $(this).val().length;
        $("#remain").text("还可以输入"+ len +"字");
      });
    });

    //获取素材信息
    function getMedia(type, views) {
      $.ajax({
        type: 'get', //数据发送方式
        url: '/wechat/media/getMedia',
        data: {type: type}, //要传递的数据
        success: function (data) { //成功
          if (data.code == "1") {
            switch (type) {
              case "image":
                imgHtml(type, data.meg, views);
                break;
              case "news":
                newsHtml(type, data.meg, views);
                break;
              case "voice":
                voiceHtml(type, data.meg, views);
                break;
              case "video":
                videoHtml(type, data.meg, views);
                break;
              default :
                break;
            }
          } else {
            bootbox.alert(data.meg);
          }
        }
      });
    }

    //图片视图
    function imgHtml(type, data, views) {
      $("#mediaInfis").html("");
      $.each(data, function (i, e) {
        var html = "";
        html += '<div class="dropup col-md-4" onclick=setValue("' + e.media_id + '","' + type + '","' + views + '")>' +
          '<img src="/wechat/media/getMaterial/' + e.media_id + '" alt="' + e.name + '" width="280px" height="210px">';
        html += '</div>';
        $("#mediaInfis").append(html)
      })
      $("#mediaCreateModal").modal("show");
    }
    //图文视图
    function newsHtml(type, data, views) {
      $("#mediaInfis").html("");
      $.each(data, function (j, e) {
        var html = "";
        var news = e.content.news_item;
        html += '<div class="dropup col-md-4" onclick=setValue("' + e.media_id + '","' + type + '","' + views + '")>';
        $.each(news, function (i, e) {
          if (i == 0) {
            html += '<div class="col-md-12 text-left"><span>' + e.title + '</span>' +
              '<img  src="/wechat/media/getMaterial/' + e.thumb_media_id + '" alt="' + e.title + '" width="280px" height="210px"></div>';
          } else {
            html += '<div class="col-md-12"><label class="control-label col-md-8"><span>' + e.digest + '</span></label>' +
              '<div class="col-md-4"><img src="/wechat/media/getMaterial/' + e.thumb_media_id + '" alt="' + e.title + '" width="78px" height="78px"></div></div>';
          }
        })
        html += '</div>';
        $("#mediaInfis").append(html)
      })
      $("#mediaCreateModal").modal("show");
    }
    //语音视图
    function voiceHtml(type, data, views) {
      $("#mediaInfis").html("");
      $.each(data, function (i, e) {
        var html = "";
        html += '<div class="form-group col-md-6">' +
          '<label class="col-md-9"><audio controls="controls">' +
          '<source src="/wechat/media/getMaterial/' + e.media_id + '" type="audio/ogg">' +
          '<source src="/wechat/media/getMaterial/' + e.media_id + '" type="audio/mpeg">' +
          'Your browser does not support the audio element.</audio></label>' +
          '<div class="col-md-2"><button class="btn btn-sm" onclick=setValue("' + e.media_id + '","' + type + '","' + views + '")>选择</button></div>';
        html += '</div>';
        $("#mediaInfis").append(html)
      })
      $("#mediaCreateModal").modal("show");
    }
    //视频视图
    function videoHtml(type, data, views) {
      $("#mediaInfis").html("");
      $.each(data, function (i, e) {
        var html = "";
        getMaterial(e.media_id, function (err, video) {
          video = JSON.parse("" + video);
          html += '<div class="form-group text-left col-md-6">' +
            '<label class="text-left col-md-12">' + video.title + '</label>' +
            '<video controls="controls" width="320" height="240">' +
            '<source src="' + video.down_url + '" type="video/ogg">' +
            '<source src="' + video.down_url + '" type="video/mp4">' +
            'Your browser does not support the video tag.</video>' +
            '<div class="col-md-12" onclick=setValue("' + e.media_id + '","' + type + '","' + views + '")><label class="text-left col-md-8">' + video.description + '</label>' +
            '<button class="btn btn-sm">选择</button></div>';
          html += '</div>';
          $("#mediaInfis").append(html)
        })
      })
      $("#mediaCreateModal").modal("show");
    }

    //为控件赋值
    function setValue(media_id, type, views) {
      if (views == "outo") {
        $("#" + type + " input[name='mediaId']").val(media_id);
        if (type == "image") { //为图片赋值，显示图片
          $("#imageImg").attr("src", "/wechat/media/getMaterial/" + media_id);
        } else if (type == "voice") { //为语音赋值，并显示语音
          addVoice(media_id, "#audio");
        } else if (type == "video") { //为视频赋值并显示视频
          getMaterial(media_id, function (err, video) {
            video = JSON.parse("" + video);
            $("#video input[name='title']").val(video.title);
            $("#video input[name='description']").val(video.description);
            addVideo(video, "#videoSource");
          })
        } else if (type == "news") { //为视频赋值并显示视频
          getMaterial(media_id, function (err, news) {
            addNews(news, "#newsSource");
          })
        }
      } else {
        $("#keyWordForm input[name='mediaId']").val(media_id);
        viewsDisply(type, media_id, "");
      }
      $("#mediaCreateModal").modal("hide");
    }

    //添加语音的视图
    function addText(htmlId, content) {
      var html = '<textarea class="form-control" name="content" rows="4" placeholder="文本内容">' + content + '</textarea>';
      html += '<p class="pull-right">还可以输入600字</p>';
      $(htmlId).html("");
      $(htmlId).append(html);
    }

    //添加图片的视图
    function addImage(media_id, htmlId) {
      var html = '<img src="/wechat/media/getMaterial/' + media_id + '" width="280px" height="210px">';
      $(htmlId).html("");
      $(htmlId).append(html);
    }

    //添加语音的视图
    function addVoice(media_id, htmlId) {
      var html = '<audio controls="controls">' +
        '<source src="/wechat/media/getMaterial/' + media_id + '" type="audio/ogg">' +
        '<source src="/wechat/media/getMaterial/' + media_id + '" type="audio/mpeg">' +
        'Your browser does not support the audio element.</audio>';
      $(htmlId).html("");
      $(htmlId).append(html);
    }

    //添加视频的视图
    function addVideo(video, htmlId) {
      var html = '<video controls="controls" width="320" height="240">' +
        '<source src="' + video.down_url + '" type="video/ogg">' +
        '<source src="' + video.down_url + '" type="video/mp4">' +
        'Your browser does not support the video tag.</video>';
      $(htmlId).html("");
      $(htmlId).append(html);
    }

    //添加图文
    function addNews(news, htmlId) {
      if (!news)
        return '';
      //      news = JSON.parse("" + news);
      var newsItems = news.content.news_item;
      var html = '<div class="dropup col-md-4">';
      $.each(newsItems, function (i, e) {
        if (i == 0) {
          html += '<div class="col-md-12 text-left"><span>' + e.title + '</span>' +
            '<img src="/wechat/media/getMaterial/' + e.thumb_media_id + '" alt="' + e.title + '" width="280px" height="210px"></div>';
        } else {
          html += '<div class="col-md-12"><label class="control-label col-md-8"><span>' + e.digest + '</span></label>' +
            '<div class="col-md-4"><img src="/wechat/media/getMaterial/' + e.thumb_media_id + '" alt="' + e.title + '" width="78px" height="78px"></div></div>';
        }
      })
      html += '</div>';
      $(htmlId).html("");
      $(htmlId).append(html);
    }

    //获取素材视频的信息
    function getMaterial(mediaId, callback) {
      $.ajax({
        type: 'get', //数据发送方式
        url: '/wechat/media/getMaterial/' + mediaId,
        data: {}, //要传递的数据
        success: function (data) { //成功
          if (data) {
            callback(null, data);
          }
        }
      });
    }
