//
   Created by Renee on 2016/5/10.

extends ../layout
block header
  //link( rel="stylesheet" href="/themes/default/plugins/select2/select2.min.css")
  style.
    #slides li {
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
      list-style-type: none;
      margin-top: 10px;
    }
block main
  form#groupForm.form-horizontal(method="post",action="/shop/product/comment/save",enctype='multipart/form-data')
    input(type='hidden', name='_csrf', value=_csrf)
    input#id(type='hidden', name='id', value="#{comment._id}")

    .panel(style="position:relative;")
      .panel-heading
        h3.panel-title
          span.text-info #{comment.name} #{comment.isNew ? '添加评论' : '编辑评论'}
          .panel-tools.pull-right
            a.btn.btn-default.btn-sm(href='/shop/product/comment/list')
              i.fa.fa-reply
            a#save.btn.btn-sm.btn-default(title="保存",href="javascript:void(0);")
              i.fa.fa-save
      .panel-body
        .form-group
          label.control-label.col-sm-2.required 商品名称：
          .col-sm-8
            span #{comment.product ? comment.product.name : ""}
        .form-group
          label.control-label.col-sm-2.required 订单号：
          .col-sm-8
            span #{comment.order ? comment.order.no : ""}

        .form-group
          label.control-label.col-sm-2 会员名：
          .col-sm-8
            span #{comment.member ? comment.member.username : ""}

        .form-group
          label.control-label.col-sm-2 评论：
          .col-sm-8
            textarea#comment.form-control(name="comment" rows='3')
              | #{comment.comment}
        .form-group
          label.control-label.col-sm-2 星级：
          .col-sm-8
            span #{comment.stars ? comment.stars : ""}星级


block scripts
  //script(src='/themes/default/plugins/select2/select2.full.js')
  script(src="//cdn.bootcss.com/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js")
  script.
    $(document).ready(function () {
      //initSelect2("#store", "/shop/product/comment/getStore");

      $(".image").filestyle({buttonText: '上传图片'});
      var form = $('#groupForm');
      $("#save").on('click', function () {
        form.submit();
      });
      form.validate({
        rules: {
          name: {
            required: true,
            remote: '/shop/product/comment/checkName?oldName=#{comment ? comment.name : ''}'
          }
        },
        messages: {
          name: {
            remote: '名称已经重复，请修改为其他'
          }
        }
      });
    });
