//
   Created by danne on 2015/10/29.
extends ../../layouts/default
block header
//应用的page title
block pageTitle
  if viewType == 'add'
    h1 系统提示信息新增
      small 添加系统提示信息
  if viewType == 'edit'
    h1 系统提示信息编辑
      small 编辑系统设提示信息

block main
  .panel
    .panel-heading.with-border
      if viewType == 'add'
        h3.panel-title 添加系统提示信息
      if viewType == 'edit'
        h3.panel-title 编辑系统提示信息

      .panel-tools
        a.btn.btn-sm.btn-default(href='/system/message' title="返回")
          i.fa.fa-reply
        | &nbsp;
        if viewType == 'add' || viewType == 'edit'
          button#save.btn.btn-sm.btn-default(title="保存")
            i.fa.fa-save
        | &nbsp;
      //button.btn.btn-box-tool(data-widget="collapse")
      //  i.fa.fa-minus
    .panel-body
      div.row
        .col-md-12
          if viewType == 'edit'
            form#delForm(method='post', style='display:none', action='/system/message/del')
              input#ids(type='hidden',name='ids',value="#{msg._id}")
              input#_csrf(type='hidden', name='_csrf', value=_csrf)

          form#messageForm.form-horizontal(name='messageForm', action='/system/message/save', method='post')
            if viewType == 'edit'
              input#id(type='hidden', name='id', value="#{msg._id}")

            input#_csrf(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.control-label.col-md-3.required 关键字：
              .controls.col-md-9
                input#key.form-control.required(name='key', value="#{msg ? msg.key : ''}")
            .form-group
              label.control-label.col-md-3.required 提示值：
              .controls.col-md-9
                input#value.form-control.required(name='value', value="#{msg ? msg.value : ''}")
            .form-group
              label.control-label.col-md-3.required 分组名称：
              .controls.col-md-9
                input#group.form-control.required(name='group', value="#{msg ? msg.group : ''}")
            .form-group
              label.control-label.col-md-3.required 说明：
              .controls.col-md-9
                textarea#describe.form-control(name='describe',rows='3')
                  | #{msg ? msg.describe : ''}

//应用添加的脚本在scripts block中定义
block scripts
  script(src='/themes/default/plugins/input-mask/jquery.inputmask.js')
  script(src='/themes/default/plugins/input-mask/jquery.inputmask.date.extensions.js')
  script.
    $(document).ready(function () {

      var form = $('#messageForm');
      $("#save").on('click', function () {
        form.submit();
      });

      form.validate({
        ignore: '.ignore',
        rules: {
          key: {
            required: true,
            remote: '/system/message/checkname?oldKey=#{msg ? msg.key : ''}'
          },
          value: {
            required: true
          },
          group: {
            required: true
          },
          describe: {
            required: true
          }
        },
        messages: {
          key: {
            remote: '此关键字已经存在!'
          }
        }
      });

      $('#del').on('click', function () {
        bootbox.confirm("确定要删除数据吗?", function (result) {
          if (result) {
            $("#delForm").submit();
          }
        });
      });


    });

