extends ../layout
block header
  link(rel="stylesheet", href="#{theme}/plugins/select2/select2.min.css")
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css")
//应用的page title
block pageTitle
  h1 评论管理
    small 管理论坛帖子的评论信息，包括可以删除，屏蔽等操作
block main
  .box
    .box-header.with-border
      h3.box-title 评论信息
      .box-tools
          button.delAll.btn.btn-sm.btn-default(title="删除帖子")
            i.fa.fa-fw.fa-trash
            | 删除评论
          button.btn.btn-sm.btn-default(href="#{baseUrl}/comment/block" title="屏蔽帖子")
            i.fa.fa-fw.fa-ban
            | 屏蔽评论
    .box-body
      form#searchForm.form-inline
          .form-group
            label.control-label 粉丝：
            select#fans.form-control.select2(name='fans',style="width:150px" ,placeholder="输入评论者昵称查找")
          .form-group
            label.control-label 日期：
            .input-group
              input#dateStart.date.form-control(name='dateStart', value="")
              .input-group-addon
                span - 
              input#dateEnd.date.form-control(name='dateEnd', value="")
          .form-group
            button#search.btn.btn-default(type="button") 
              i.fa.fa-fw.fa-search
              | 查询
      hr
      #tableWrapper(style="display:none;")
        table#commentList.table.table-bordered.table-hover.table-striped
          thead
            th
              input#selectAll(type="checkbox" title="全选")
            th 帖子
            th 评论者
            th 评论
            th.text-center 时间
            th.text-center 热门
            th.text-center 屏蔽
            th.text-center 操作
          tbody

      form#delForm(method='post', style='display:none', action='#{baseUrl}/comment/del')
        input#ids(type='hidden',name='ids')
        input#_csrf1(type='hidden', name='_csrf', value=_csrf)


//应用添加的脚本在scripts block中定义
block scripts
  script(src='#{theme}/plugins/select2/select2.min.js')
  script(src='//cdn.bootcss.com/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js')
  script.
    $(function () {
      initSelect2("#fans","#{baseUrl}/fans");
      $('.date').datepicker({
        format: "yyyy-mm-dd",
        //- language: 'cn',
        weekStart: 1,
        autoclose: true,
        todayBtn: 'linked'
      });
      var opts = {
        "language": {
          "url": "#{theme}/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: true,
        searching: true,
        processing: false,
        serverSide: true,
        select: false,
        deferRender: true
      };
      var t = $('#commentList').DataTable($.extend(opts, {
          ajax: {url: '#{baseUrl}/comment/datatable'},
          order: [[2, 'asc']],
          columns: [
            {
              data: "_id", 'class': 'text-center', sortable: false, render: function (data, type, row) {
              return '<input type="checkbox" class="" name="Ids" value="' + data + '">';
            }
            },
            {data: "topic.content", defaultContent: '',
              render: function(data, type, row, meta){
                //- return data && data.length > 50 ? data.substring(0, 50) : data;
                return data?data.replace(/\r\n/gm,'<br>'):'';
              }
            },
            {data: "fans.nickname", defaultContent: ''},
            {data: "content", defaultContent: '',
              render: function(data, type, row, meta){
                //- return data && data.length > 50 ? data.substring(0, 50) : data;
                return data?data.replace(/\r\n/gm,'<br>'):'';
              }
            },
            {data: "createdAt", defaultContent: '',
              render: function(data, type, row, meta){
                return moment(data).format('YYYY-MM-DD HH:mm');
              }
            },
            {
              data: "hot", defaultContent: '', 'class': 'text-center', render: function (data, type, full, meta) {
                var result = "";
                if (data) {
                  result = "<a class='btn btn-default btn-sm' title='取消热帖' href='#{baseUrl}/comment/hot/" + full._id + "'><i class='fa fa-square'/></a>"
                } else {
                  result = "<a class='btn btn-default btn-sm' title='设置热贴' href='#{baseUrl}/comment/hot/" + full._id + "'><i class='fa fa-square-o'/></a>"
                }
                return result;
              }
            },
            {
              data: "blocked", defaultContent: '', 'class': 'text-center', render: function (data, type, full, meta) {
                var result = "";
                if (data) {
                  result = "<a class='btn btn-default btn-sm' title='屏蔽/取消' href='#{baseUrl}/comment/block/" + full._id + "'><i class='fa fa-square'/></a>"
                } else {
                  result = "<a class='btn btn-default btn-sm' title='屏蔽/取消' href='#{baseUrl}/comment/block/" + full._id + "'><i class='fa fa-square-o'/></a>"
                }
                return result;
              }
            },
            {data: "", 'class': 'text-center', 
              render: function(data, type, row, meta){
                var id = row._id;
                var html = "<div class='btn-group'>";
                html += " <button class='btn btn-default btn-sm del' title='移除' type='button'><i class='fa fa-trash-o'></i></button>";
                html += "</div>";
                return html;
              }
            }
          ]
      }));


      t.on('click', 'button.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        $("#delForm #ids").val(id);
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              $("#delForm").submit();
            }
          });
        }
      });
      //删除多行数据
      $(".btn.delAll", ".box-tools").on(
        "click",
        function (e) {
          var ids = [];
          $('#commentList').find(":checkbox[name='Ids']:checked").each(function (e) {
            ids.push($(this).val())
          });
          $("#delForm #ids").val(ids.join(","));
          if (ids.length > 0) {
            bootbox.confirm("确定要删除选中的数据吗?", function (result) {
              if (result) {
                $("#delForm").submit();
              }
            });
          } else {
            bootbox.alert("请选择要删除的数据.");
          }
        });

      $('#search').on("click", function (e) {
        var data = $('#searchForm').serialize();
        var TT = $('#commentList').DataTable();
        TT.ajax.url('#{baseUrl}/comment/datatable?' + data + '').load();
      });

    });
