//
  Created by pc on 2015/10/27.

extends ../layout

style.
  .menus {
    background: url("../../../../public/themes/default/dist/img/menu.jpg") no-repeat 4px 5px;
    display: block;
    width: 100px;
    height: 100px
  }

block main
  .panel
    .panel-heading.with-border
      h3.panel-title 自定义菜单
      .panel-tools
        a#save.btn.btn-sm.btn-default(title="保存发布")
          i.fa.fa-save
          | &nbsp;&nbsp;
          span 保存发布
          | &nbsp;&nbsp;
    .panel-body(style="height:400px")
      div#menu(role="group")

  include form
  #mediaCreateModal.modal.fade.text-center(tabindex="-1", role="dialog", aria-labelledby="mediaCreateModal", aria-hidden='true')
    .modal-dialog(style="display: inline-block; width: 50%;")
      .modal-content
        .modal-header.text-left
          button.close(type="button",data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title 选择素材
        .modal-body
          div#mediaInfis.form-group.col-sm-12
        .modal-footer
          .center-block.pull-right
            button.btn.btn-primary(type="button",data-dismiss="modal", aria-label="Close") 取消
block scripts
  script.
    var buttons = {};
    $(document).ready(function () {
      var value = $('#action').val();
      showHide(value);
      var t = $.ajax({
        type: 'get', //数据发送方式
        url: '/wechat/mgmt/getMenu',
        data: {}, //要传递的数据
        success: function (data) { //成功
          if (!data.errcode) {
            var bnts = data.menu.button;
            buttons = data.menu;
            setMenuHtml(bnts)
          } else {
            var html = setOneMenu();
            $("#menu").append(html);
          }
        }
      });
      //配置动作的控制
      $('#action').change(function () {
        var value = $(this).val();
        showHide(value);
      })
      $(":radio").click(function () {
        if ($(this).val() == "key") {
          selectKey("");
        } else {
          selectUrl("");
        }
      });
      $("#setMenuBtn").click(function () {
        var parent = $("#parent").val();
        var rows = $("#rows").val();
        var modaltype = $("#modaltype").val();
        if (modaltype == "add") {
          addButton(parent);
        } else {
          editMenu();
        }
        $("#value").val("");
      });
      //保存修改或添加的菜单并发布到公众号
      $("#save").click(function () {
        if (!buttons || !buttons.button || buttons.button.length <= 0)
          return;
        $.ajax({
          type: 'post', //数据发送方式
          url: '/wechat/mgmt/createMenu/',
          data: {buttons: buttons}, //要传递的数据
          success: function (data) { //成功
            if (data.code == '1') {
              bootbox.alert(data.meg);
            } else {
              bootbox.alert(data.meg.code);
            }
          }
        });
      });

      //素材类型的不同选择，有不同的信息展示
      $('#fodderType').change(function () {
        var type = $(this).val();
        getMedia(type)
      })
      //自定义菜单类型的不同选择，有不同的信息展示
      $('#type').change(function () {
        var type = $(this).val();
        $("#value").attr("disabled", "disabled");
        getType(type)
      })
    })
    function saveMedia(callback) {
      //key   mediaId  content  type
      var key = $("#value").val();
      var mediaId = $("#mediaId").val();
      var content = $("#content").val();
      var type = $("#mediaType").val();
      $.ajax({
        type: 'get', //数据发送方式
        url: '/wechat/media/saveMedia/',
        data: {type: type, content: content, mediaId: mediaId, key: key}, //要传递的数据
        success: function (data) { //成功
          if (data.code == "1") {
            callback(data.meg);
          }
        }
      });
    }
    //获取素材信息
    function getMedia(type) {
      $.ajax({
        type: 'get', //数据发送方式
        url: '/wechat/media/getMedia',
        data: {type: type}, //要传递的数据
        success: function (data) { //成功
          if (data.code == "1") {
            switch (type) {
              case "image":
                imgHtml(type, data.meg);
                break;
              case "news":
                newsHtml(type, data.meg);
                break;
              case "voice":
                voiceHtml(type, data.meg);
                break;
              case "video":
                videoHtml(type, data.meg);
                break;
              default :
                break;
            }
          } else {
            bootbox.alert(data.meg);
          }
        }
      });
    }
    //获取素材信息
    function getType(type) {
      var key = new Date().getTime();
      switch (type) {
        case "click":
          $("#value").val("click" + key);
          break;
        case "view":
          $("#value").removeAttr("disabled");
          $("#value").val("");
          break;
        case "scancode_push":
          $("#value").val("push" + key);
          break;
        case "scancode_waitmsg":
          $("#value").val("waitmsg" + key);
          break;
        case "pic_sysphoto":
          $("#value").val("sysphoto" + key);
          break;
        case "pic_photo_or_album":
          $("#value").val("photo" + key);
          break;
        case "pic_weixin":
          $("#value").val("weixin" + key);
          break;
        case "location_select":
          $("#value").val("location" + key);
          break;
        case "null":
          $("#value").val("");
          break;
        default:
          break;
      }
    }

    //获取素材视频的信息
    function getMaterial(mediaId, callback) {
      $.ajax({
        type: 'get', //数据发送方式
        url: '/wechat/media/getMaterial/' + mediaId,
        data: {}, //要传递的数据
        success: function (data) { //成功
          if (data) {
            callback(null, data);
          }
        }
      });
    }

    //********************************************//
    //** 菜单中视图的展示和操作                  **//
    //**  开始                                  **//
    //********************************************//

    //图片视图
    function imgHtml(type, data) {
      $("#mediaInfis").html("");
      $.each(data, function (i, e) {
        var html = "";
        html += '<div class="dropup col-sm-4" onclick=setValue("' + e.media_id + '","' + type + '",' + null + ')>' +
                '<img class="img-thumbnail" src="/wechat/media/getMaterial/' + e.media_id + '" alt="' + e.name + '">';
        html += '</div>';
        $("#mediaInfis").append(html)
      })
      $("#mediaCreateModal").modal("show");
    }
    //图文视图
    function newsHtml(type, data) {
      $("#mediaInfis").html("");
      $.each(data, function (j, e) {
        var html = "";
        var news = e.content.news_item;
        html += '<div class="dropup col-sm-4" onclick=setValue("' + e.media_id + '","' + type + '",' + null + ')>';
        $.each(news, function (i, e) {
          if (i == 0) {
            html += '<div class="col-sm-12 text-left"><span>' + e.title + '</span>' +
                    '<img class="img-thumbnail" src="/wechat/media/getMaterial/' + e.thumb_media_id + '" alt="' + e.title + '"></div>';
          } else {
            html += '<div class="col-sm-12"><label class="control-label col-sm-8"><span>' + e.digest + '</span></label>' +
                    '<div class="col-sm-4"><img src="/wechat/media/getMaterial/' + e.thumb_media_id + '" alt="' + e.title + '" width="78px" height="78px"></div></div>';
          }
        })
        html += '</div>';
        $("#mediaInfis").append(html)
      })
      $("#mediaCreateModal").modal("show");
    }
    //语音视图
    function voiceHtml(type, data) {
      $("#mediaInfis").html("");
      $.each(data, function (i, e) {
        var html = "";
        html += '<div class="form-group col-sm-6">' +
                '<label class="col-sm-9"><audio controls="controls">' +
                '<source src="/wechat/media/getMaterial/' + e.media_id + '" type="audio/ogg">' +
                '<source src="/wechat/media/getMaterial/' + e.media_id + '" type="audio/mpeg">' +
                'Your browser does not support the audio element.</audio></label>' +
                '<div class="col-sm-2"><button class="btn btn-sm" onclick=setValue("' + e.media_id + '","' + type + '",' + null + ')>选择</button></div>';
        html += '</div>';
        $("#mediaInfis").append(html)
      })
      $("#mediaCreateModal").modal("show");
    }
    //视频视图
    function videoHtml(type, data) {
      $("#mediaInfis").html("");
      $.each(data, function (i, e) {
        var html = "";
        getMaterial(e.media_id, function (err, video) {
          video = JSON.parse("" + video);
          html += '<div class="form-group text-left col-sm-6">' +
                  '<label class="text-left col-sm-12">' + video.title + '</label>' +
                  '<video controls="controls" width="320" height="240">' +
                  '<source src="' + video.down_url + '" type="video/ogg">' +
                  '<source src="' + video.down_url + '" type="video/mp4">' +
                  'Your browser does not support the video tag.</video>' +
                  '<div class="col-sm-12" onclick=setValue("' + e.media_id + '","' + type + '",' + null + ')><label class="text-left col-sm-8">' + video.description + '</label>' +
                  '<button class="btn btn-sm">选择</button></div>';
          html += '</div>';
          $("#mediaInfis").append(html)
        })
      })
      $("#mediaCreateModal").modal("show");
    }
    function setValue(mediaId, type, content) {
      var key = new Date().getTime();
      $("#value").val(type + key + "");
      $("#mediaId").val(mediaId);
      $("#mediaType").val(type);
      if (content != null) {
        $("#content").val(content);
      }
      $("#mediaCreateModal").modal("hide");
    }

    //当没有菜的时候生成一个添加菜单的标识
    function setOneMenu() {
      var html = "";
      html += '<div class="dropup">'
              + '<button class="btn btn-default" type="button"  onclick=addMenu(' + null + ',' + null + ')>';
      html += '<i class="fa fa-plus"></i></button>'
      return html;
    }
    //生成每一个菜单项
    function setMenu(btn, index, c) {
      var html = "";
      var col = "col-sm-" + c;
      html += '<div class="' + col + '">'
              + '<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"'
              + ' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">';
      html += btn.name;
      var sublen = btn.sub_button;
      if (sublen != null && sublen.length > 0) {
        html += '<span class="caret"></span></button>'
        html += ' <ul class="dropdown-menu show text-center" aria-labelledby="dropdownMenu2">';
        for (var i = 0; i <= sublen.length; i++) {
          if (i < sublen.length) {
            html += '<li class=""><a href="#">' + sublen[i].name +
                    '<div class="btn-group pull-right"><button class="btn btn-xs" title="修改子菜单" type="button" onclick=editButton(' + index + ',' + i + ')>' +
                    '<i class="fa fa-edit"></i></button>&nbsp;' +
                    '<button class="btn btn-xs" type="button" title="删除子菜单" onclick=delMenu(' + index + ',' + i + ')><i class="fa fa-trash-o"></i></button>';
            if (i != 0) {
              html += '<button class="btn btn-xs" type="button" title="上移" onclick=upRecord(' + index + ',' + i + ')><i class="fa fa-arrow-circle-up"></i></button>';
            }
            if (sublen.length - 1 != i) {
              html += '<button class="btn btn-xs" type="button" title="下移" onclick=downRecord(' + index + ',' + i + ')><i class="fa fa-arrow-circle-down"></i></button>';
            }
            html += '</div></a></li>';
          } else {
            html += '<li class="text-center"><a href="#"><button class="btn btn-xs" title="添加子菜单" type="button" onclick=addMenu(' + index + ',' + null + ')><i class="fa fa-plus"></i></button>&nbsp;' +
                    '<button class="btn btn-xs" type="button" title="修改一级菜单" onclick=editButton(' + index + ',' + null + ')><i class="fa fa-edit"></i></button>&nbsp;' +
                    '<button class="btn btn-xs" type="button" title="删除一级菜单" onclick=delMenu(' + index + ',' + null + ')><i class="fa fa-trash-o"></i></button></a></li>';
          }
        }
        html += '</ul>';
      } else {
        html += '</button>'
        html += ' <ul class="dropdown-menu show text-center" aria-labelledby="dropdownMenu2">';
        html += '<li class="text-center"><button class="btn btn-xs" type="button" onclick=addMenu(' + index + ',' + null + ')><i class="fa fa-plus"></i></button>&nbsp;' +
                '<button class="btn btn-xs" type="button" title="修改一级菜单" onclick=editButton(' + index + ',' + null + ')><i class="fa fa-edit"></i></button>&nbsp;' +
                '<button class="btn btn-xs" type="button" title="删除一级菜单" onclick=delMenu(' + index + ',' + null + ')><i class="fa fa-trash-o"></i></button></li></ul>';
      }
      html += '</div>';
      return html;
    }
    //菜单上移
    function upRecord(row, col) {
      var arr = buttons.button[row].sub_button;
      arr = swapItems(arr, col, col - 1);
      buttons.button[row].sub_button = arr;
      setMenuHtml(buttons.button)
    }
    //菜单下移
    function downRecord(row, col) {
      var arr = buttons.button[row].sub_button;
      arr = swapItems(arr, col, col + 1);
      buttons.button[row].sub_button = arr;
      setMenuHtml(buttons.button)
    }

    //交换菜单的位置
    function swapItems(arr, index1, index2) {
      arr[index1] = arr.splice(index2, 1, arr[index1])[0];
      return arr;
    };

    //循环调用生成菜单页面的方法
    function setMenuHtml(bnts) {
      $("#menu").html("");
      $.each(bnts, function (index, b) {
        var len = bnts.length;
        var col = 12 / len;
        var html = setMenu(b, index, col);
        $("#menu").append(html);
      });
    }
    //功能的隐藏与显示
    function showHide(value) {
      if (value == "1") {
        $("#custom").hide();
        $("#fodder").hide();
        $("#message").show();
        $("#value").attr("disabled", "disabled");
      } else if (value == "2") {
        selectFodder("");
        $("#custom").hide();
        $("#fodder").show();
        $("#message").hide();
        $("#value").attr("disabled", "disabled");

      } else if (value == "3") {
        $("#custom").show();
        $("#fodder").hide();
        $("#message").hide();
        $("#value").removeAttr("disabled");
      } else {
        $("#custom").hide();
        $("#fodder").hide();
        $("#message").hide();
        $("#value").removeAttr("disabled");
      }
    }
    //********************************************//
    //** 菜单中视图的展示和操作                  **//
    //**  结束                                  **//
    //********************************************//


    //********************************************//
    //** 菜单的增删改查区域                      **//
    //**  开始                                  **//
    //********************************************//
    //修改菜单的信息显示
    function editButton(row, col) {
      var btn = {};
      $("#rows").val(row);
      $("#col").val(col);
      $("#modaltype").val('edit');
      if (col == null) {
        if (buttons.button[row].sub_button != null && buttons.button[row].sub_button.length > 0) {
          $("#parent").attr("disabled", "disabled");
          $("#action").attr("disabled", "disabled");
          $("#type").attr("disabled", "disabled");
          $("#value").attr("disabled", "disabled");
        }
        btn = buttons.button[row];
      } else {
        $("#parent").removeAttr("disabled");
        $("#action").removeAttr("disabled");
        $("#type").removeAttr("disabled");
        $("#value").removeAttr("disabled");
        btn = buttons.button[row].sub_button[col];
      }
      if (col == null) {
        $("#name").val(btn.name);
      } else {
        selectMenu(row);
        selectType("");
        $("#parent").attr("disabled", "disabled");
        $("#name").val(btn.name);
        $("#value").val(btn.value || btn.key || btn.url);
      }
      $("#menuCreateModal").modal("show");
    }
    function delMenu(row, col) {
      if (col == null) {
        bootbox.confirm("你确信要删除该菜单以及该菜单的所有子菜单吗？", function (result) {
          if (result) {
            buttons.button.splice(row, 1);
            setMenuHtml(buttons.button)
            bootbox.alert("菜单删除成功");
          }
        });
      } else {
        bootbox.confirm("你确信要删除该菜单吗？", function (result) {
          if (result) {
            buttons.button[row].sub_button.splice(col, 1);
            setMenuHtml(buttons.button)
            bootbox.alert("子菜单删除成功");
          }
        });
      }

    }
    function editMenu() {
      var row = $("#rows").val();
      var col = $("#col").val();
      var btn = getBtn();
      if (btn == false) {
        return false;
      }
      if (col == "") {
        buttons.button[row].name = btn.name;
      } else {
        buttons.button[row].sub_button[col].name = btn.name;
        buttons.button[row].sub_button[col].type = btn.type;
        if (btn.key != "") {
          buttons.button[row].sub_button[col].key = btn.key;
        } else if (btn.value != "") {
          buttons.button[row].sub_button[col].value = btn.value;
        } else if (btn.url != "") {
          buttons.button[row].sub_button[col].url = btn.url;
        } else if (btn.news_info != "") {
          buttons.button[row].sub_button[col].news_info = btn.news_info;
        }
      }
      var mediaType = $("#mediaType").val();
      if (mediaType != "") {
        saveMedia(function (result) {
          if (result == "ok") {
            setMenuHtml(buttons.button)
            $("#menuCreateModal").modal("hide");
            bootbox.alert("菜单添加成功");
          } else {
            alert(result)
          }
        });
      } else {
        setMenuHtml(buttons.button)
        $("#menuCreateModal").modal("hide");
        bootbox.alert("菜单修改成功");
      }
    }
    //添加新菜单
    function addButton(parent) {
      var btn = getBtn();
      if (btn == false) {
        return false;
      }
      var mediaType = $("#mediaType").val();
      if (parent == "") {
        if (buttons.button.length < 3) {
          if (mediaType != "") {
            saveMedia(function (result) {
              if (result == "ok") {
                buttons.button.push(btn);
                setMenuHtml(buttons.button)
                $("#menuCreateModal").modal("hide");
                bootbox.alert("菜单添加成功");
              } else {
                alert(result)
              }
            });
          } else {
            buttons.button.push(btn);
            setMenuHtml(buttons.button)
            $("#menuCreateModal").modal("hide");
            bootbox.alert("菜单添加成功");
          }
        } else {
          bootbox.alert("一级菜单只能创建三个");
        }
      } else {
        var a = 0;
        if (buttons.button[parent].sub_button == null) {
          buttons.button[parent].sub_button = [];
        } else {
          a = buttons.button[parent].sub_button.length;
        }
        if (a < 5) {
          alert(a);
          if (mediaType != "") {
            saveMedia(function (result) {
              if (result == "ok") {
                buttons.button[parent].sub_button.push(btn);
                setMenuHtml(buttons.button)
                $("#menuCreateModal").modal("hide");
                bootbox.alert("子菜单添加成功");
              }
            });
          } else {
            buttons.button[parent].sub_button.push(btn);
            setMenuHtml(buttons.button)
            $("#menuCreateModal").modal("hide");
            bootbox.alert("子菜单添加成功");
          }
        } else {
          bootbox.alert("子菜单已经到达极限");
        }
      }

    }

    //获取菜单信息
    function getBtn() {
      var btn = {};
      var name = $("#name").val();
      var parent = $("#parent").val();
      if (parent == "") {
        if (name.length > 4) {
          bootbox.alert("菜单名称最多四个字");
          return false;
        }
      } else {
        if (name.length > 7) {
          bootbox.alert("菜单名称最多七个字");
          return false;
        }
      }

      if (name != '') {
        btn.name = name;
      } else {
        bootbox.alert("请输入菜单名称");
        return false;
      }
      var type = "";
      var key = "";
      var value = "";
      var url = "";
      var news_info = "";
      var action = $("#action").val();
      if ($("#action").val() == '3') { //当配置动作为自定义时
        type = $("#type").val();
        if (type == 'view') {
          url = $("#value").val();
        } else {
          key = $("#value").val();
        }
      } else if ($("#action").val() == '2') {//当配置动作为站内素材时
        type = "click";
        key = $("#value").val();
      } else if ($("#action").val() == '1') {//当配置动作为站内信息时
        var v = $('#message input[name="pushType"]:checked ').val();
        type = $("#plugIn").val();
        if (v == 'URL') {
          url = $("#value").val();
        } else {
          key = $("#value").val();
        }
      }
      //菜单信息的形成
      if ($("#action").val() == '0') {
        btn.sub_button = [];
      } else {
        if (value != "") {
          btn.value = value;
        } else if (url != "") {
          btn.url = url;
        } else if (news_info != "") {
          btn.news_info = news_info;
        } else {
          btn.key = key;
        }
        btn.type = type;
      }
      return btn;
    }

    //添加菜单开启菜单的视图
    function addMenu(a, b) {
      $("#parent").removeAttr("disabled");
      $("#action").removeAttr("disabled");
      $("#type").removeAttr("disabled");
      $("#value").removeAttr("disabled");
      $("#modaltype").val("add");
      $("#rows").val(a);
      if (a != null) {
        selectMenu(a);
      } else {
        buttons.button = [];
      }
      selectType("");
      //$("#channelplatform").removeAttr("disabled");
      $("#menuCreateModal").modal("show");
    }
    //********************************************//
    //** 菜单的增删改查区域                      **//
    //**  结束                                  **//
    //********************************************//


    //********************************************//
    //** 下拉框加载数据的区域                    **//
    //**  开始                                  **//
    //********************************************//
    //加载一级菜单
    function selectMenu(code) {
      $("#parent").html("")
      $("#parent").append("<option value=''>&nbsp;--无--</option>");
      var btns = buttons.button;
      $.each(btns, function (index, e) {
        if (index == code) {
          $("#parent").append("<option value='" + index + "' selected>&nbsp;" + e.name + "</option>")
        } else {
          $("#parent").append("<option value='" + index + "'>&nbsp;" + e.name + "</option>")
        }
      });
    }
    //加载自定义动作
    function selectType(code) {
      $("#type").html("")
      var types = [{code: "click", name: "点击推事件"}, {code: "view", name: "跳转URL"}, {code: "scancode_push", name: "扫码推事件"}
        , {code: "scancode_waitmsg", name: "扫码带提示"}, {
          code: "pic_sysphoto",
          name: "弹出系统拍照发图"
        }, {code: "pic_photo_or_album", name: "弹出拍照或者相册发图"}
        , {code: "pic_weixin", name: "弹出微信相册发图器"}, {code: "location_select", name: "弹出地理位置选择器"}, {
          code: "null",
          name: "无事件的一级菜单"
        }]
      $.each(types, function (i, e) {
        if (e.code == code) {
          $("#type").append("<option value='" + e.code + "' selected>&nbsp;" + e.name + "</option>")
        } else {
          $("#type").append("<option value='" + e.code + "'>&nbsp;" + e.name + "</option>")
        }
      });
      getType($("#type").val());
    }
    //加载素材类型
    function selectFodder(code) {
      $("#fodderType").html("")
      var types = [{code: "image", name: "图片"}, {code: "news", name: "图文"}, {code: "voice", name: "语音"}
        , {code: "video", name: "视频"}]
      $.each(types, function (i, e) {
        if (e.code == code) {
          $("#fodderType").append("<option value='" + e.code + "' selected>&nbsp;" + e.name + "</option>")
        } else {
          $("#fodderType").append("<option value='" + e.code + "'>&nbsp;" + e.name + "</option>")
        }
      });
    }
    //加载信息url的插件
    function selectUrl(code) {
      $("#plugIn").html("")
      var types = [{code: "12", name: "12"}, {code: "13", name: "13"}, {code: "14", name: "14"}, {
        code: "15",
        name: "15"
      }
        , {code: "16", name: "16"}]
      $.each(types, function (i, e) {
        if (e.code == code) {
          $("#plugIn").append("<option value='" + e.code + "' selected>&nbsp;" + e.name + "</option>")
        } else {
          $("#plugIn").append("<option value='" + e.code + "'>&nbsp;" + e.name + "</option>")
        }
      });
    }
    //加载信息Key的插件
    function selectKey(code) {
      $("#plugIn").html("")
      var types = [{code: "111", name: "111"}, {code: "222", name: "222"}, {code: "333", name: "333"}, {
        code: "444",
        name: "444"
      }
        , {code: "555", name: "555"}]
      $.each(types, function (i, e) {
        if (e.code == code) {
          $("#plugIn").append("<option value='" + e.code + "' selected>&nbsp;" + e.name + "</option>")
        } else {
          $("#plugIn").append("<option value='" + e.code + "'>&nbsp;" + e.name + "</option>")
        }
      });
    }
    //********************************************//
    //** 下拉框加载数据的区域                    **//
    //**  结束                                  **//
    //********************************************//
