//
   Created by danne on 2015/10/29.
extends ../layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css")
//应用的page title
block pageTitle
  if !sms.isNew
    h1 短信通道设置
      small 设置短信通道信息
  if viewType == 'view'
    h1 短信通道查看
      small 查看短信通道信息
block main
  .panel
    .panel-heading.with-border
      if !sms.isNew
        h3.panel-title 设置短信通道
      if viewType == 'view'
        h3.panel-title 查看短信通道
      .panel-tools
        a.btn.btn-box-tool.btn-default(href='/system/sms')
          i.fa.fa-reply
          span  返回
        | &nbsp;
        if sms.isNew || !sms.isNew
          button#save.btn.btn-box-tool.btn-default
            i.fa.fa-save
            span  保存
        | &nbsp;
      //button.btn.btn-box-tool(data-widget="collapse")
      //  i.fa.fa-caret-left
    .panel-body
      div#userEdit.row
        .col-md-12
          form#smsForm.form-horizontal(name='smsForm', action='/system/sms/saveEdit', method='post')
            input#id(type='hidden', name='id', value="#{sms._id}")
            input#_csrf(type='hidden', name='_csrf', value=_csrf)

            .form-group
              label.control-label.col-md-3 通道：
              .col-md-8
                input.form-control(value="#{sms ? sms.name : ''}", disabled=true)
            .form-group
              label.control-label.col-md-3 说明：
              .col-md-8
                textarea.form-control(name='description' rows='3')
                  | #{sms ? sms.description : ''}

            fieldset
              legend 参数配置
              if (sms.params.length)
                each param ,i in sms.params
                  - var req = param.isRequired ?'required':''
                  .form-group
                    label(class='control-label col-md-3 #{req}') #{param.paramName}：
                    .col-md-4
                      if (param.isChecked)
                        input(class='form-control #{req}', name='#{param._id}', value="#{param.paramValue}")
                      else
                        input(class='form-control #{req}', name='#{param._id}', readonly value="#{param.paramValue}")

                    .col-md-4
                      p.help-block #{param.paramDesc}


//应用添加的脚本在scripts block中定义
block scripts
  script(src='/themes/default/plugins/datepicker/bootstrap-datepicker.js')
  script.
    $(document).ready(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
      });

      // 保存
      $('#save').on('click', function () {
        var enable = $(".mini").is(":checked");
        if (enable) {
          $("#enable").val("01");
        } else {
          $("#enable").val("00");
        }
        var form = $("#smsForm");
        if (form.valid()) {
          form.submit();
        }
      });
    });
