form#form1.form-horizontal.form(action='/wechat/branding/setting/save', method='post' enctype='multipart/form-data')
  input(type='hidden', name='id', value='#{_id}')
  input#_csrf(type='hidden', name='_csrf', value=_csrf)

  .form-group
    label.col-xs-12.col-sm-3.control-label 需要认证
    .col-xs-12.col-sm-9
      label.checkbox
        if auth && auth == false
          input#auth(type='checkbox', name='auth')
        else
          input#auth(type='checkbox', name='auth', checked='checked')
      span.help-block 用户需要通过认证并且申请才能获得推广二维码
  .form-group
    label.col-xs-12.col-sm-3.control-label 认证数据
    .col-xs-12.col-sm-9
      label
        if !mobile && mobile == false
          input#mobile.form-control(type='checkbox', name='mobile')
        else
          input#mobile.form-control(type='checkbox', name='mobile', checked='checked')
        | &nbsp; 手机号
      label
        if !fullname && fullname == false
          input#fullname.form-control(type='checkbox', name='fullname')
        else
          input#fullname.form-control(type='checkbox', name='fullname', checked='checked')
        | &nbsp; 真实姓名
      label
        if !idcard && idcard == false
          input#idcard.form-control(type='checkbox', name='idcard')
        else
          input#idcard.form-control(type='checkbox', name='idcard', checked='checked')
        | &nbsp; 身份证
      label
        if !email && email == false
          input#email.form-control(type='checkbox', name='email')
        else
          input#email.form-control(type='checkbox', name='email', checked='checked')
        | &nbsp; Email
      label
        if !employeeNo && employeeNo == false
          input#employeeNo.form-control(type='checkbox', name='employeeNo')
        else
          input#employeeNo.form-control(type='checkbox', name='employeeNo', checked='checked')
        | &nbsp; 员工号
      span.help-block 选择用户注册认证所需提交的数据项
  .form-group
    label.col-xs-12.col-sm-3.control-label 二维码类型
    .col-xs-12.col-sm-9
        if !type || type == '1' || type == ''
          label#radio1
            input#radio_1(type='radio', name='type', value='1', checked='checked')
            |  临时
          label#radio0
            input#radio_0(type='radio', name='type', value='2')
            |  永久
        else
          label#radio1
            input#radio_1(type='radio', name='type', value='1')
            |  临时
          label#radio0
            input#radio_0(type='radio', name='type', value='2', checked='checked')
            |  永久
        span.help-block
          | 目前有2种类型的二维码, 分别是临时二维码和永久二维码, 前者有过期时间, 最大为7天（604800秒）, 但能够生成较多数量, 后者无过期时间, 数量较少(目前参数只支持1--100000).
  if !type || type == '1' || type == ''
    #model1.form-group
      label.col-xs-12.col-sm-3.control-label 过期时间
      .col-xs-12.col-sm-9
        input#expireSeconds.form-control.required(type='text', name='expireSeconds', value='#{expireSeconds ? expireSeconds : 604800}')
        span.help-block 临时二维码过期时间, 最大为7天（604800秒）.
    #model2.form-group(style='display:none;')
      label.col-xs-12.col-sm-3.control-label 场景值
      .col-sm-9.col-xs-12
        input#sceneStr.form-control(type='text', placeholder='场景值', name='sceneStr', value='#{sceneStr ? sceneStr : ""}')
        span.help-block 场景值不能为空,并且只能为字符串
  else
    #model1.form-group(style='display:none;')
      label.col-xs-12.col-sm-3.control-label 过期时间
      .col-xs-12.col-sm-9
        input#expireSeconds.form-control.required(type='text', name='expireSeconds', value='#{expireSeconds ? expireSeconds : 604800}')
        span.help-block 临时二维码过期时间, 最大为7天（604800秒）.
    #model2.form-group
      label.col-xs-12.col-sm-3.control-label 场景值
      .col-sm-9.col-xs-12
        input#sceneStr.form-control(type='text', placeholder='场景值', name='sceneStr', value='#{sceneStr ? sceneStr : ""}')
        span.help-block 场景值不能为空,并且只能为字符串
  fieldset
    legend 推广页面
    .form-group
      label.col-xs-12.col-sm-3.control-label 分享logo
      .col-xs-12.col-sm-9
        input#logo.form-control(type='file', name='logo', value='#{logo}')
        span.help-block 分享使用的logo
    .form-group
      label.col-xs-12.col-sm-3.control-label 分享标题
      .col-xs-12.col-sm-9
        input#title.form-control.required(type='text', name='title', value='#{title ? title : ""}')
        span.help-block 分享图文连接里的文案说明
    .form-group
      label.col-xs-12.col-sm-3.control-label 推广页面标题
      .col-xs-12.col-sm-9
        input#desc.form-control.required(type='text', name='desc', value='#{desc ? desc : ""}')
        span.help-block 显示推广页标题
    .form-group
      label.col-xs-12.col-sm-3.control-label 推广页面详细文案
      .col-xs-12.col-sm-9
        textarea#text.form-control.required(name='html' ,rows="10")
          | #{html ? html : ""}
        span.help-block
  .form-group
    .col-sm-12
      button#saveBtn.btn.btn-primary.col-lg-1(type='button', value='保存') 保存设定

block scripts
  script(src='//cdn.bootcss.com/jquery/2.2.1/jquery.min.js')

  script.
    function radio1Click() {
      $("#model1").removeAttr("style");
      $("#model2").attr("style", "display:none");
      $("#expireSeconds").addClass("required");
      $("#sceneStr").removeClass("required");
    }

    function radio0Click() {
      $("#model1").attr("style", "display:none");
      $("#model2").removeAttr("style");
      $("#expireSeconds").removeClass("required");
      $("#sceneStr").addClass("required");
    }
    $(document).ready(function () {
      $("#logo").filestyle({buttonText: '上传图片'});
      var form = $("#form1");
      $('input').on('ifChecked', function (event) { //ifCreated 事件应该在插件初始化之前绑定
        var val = $(this).val();
        if (val == '1') {
          radio1Click();
        } else if (val == '2') {
          radio0Click();
        }
      });

      $("#saveBtn").on("click", function () {
        form.submit();
      });

      form.validate({
        rules: {
          title: {
            required: true
          }, html: {
            required: true
          }
        }
      });
    });