extends ../layout
block header
  style.
    hr{margin:10px 0}
    .alert{padding:0}
block right
  if !category.isNew
    form#userDelForm(method='post', style='display:none', action='#{baseUrl}/del')
      input#ids(type='hidden',name='ids',value="#{category._id}")
      input#_csrf(type='hidden', name='_csrf', value=_csrf)
  form#categoryForm.form-horizontal(method="post",action="#{baseUrl}/save")
    input#_csrf(type='hidden', name='_csrf', value=_csrf)
    if(!category.isNew)
      input#id(type='hidden', name='id', value="#{category._id}")

    .box(style="position:relative;")
      .box-header.with-border
        h3.box-title
          span.text-info #{category.isNew ? '创建分类' : '分类修改'} 【#{category.name}】
        .box-tools
            a.btn.btn-default.btn-sm(href='#{baseUrl}')
              i.fa.fa-reply
            button#save.btn.btn-sm.btn-default(type="submit", title="保存")
              i.fa.fa-save
      .box-body
        #content
          .form-group
            label.control-label.col-sm-2 上级分类：
            .col-sm-10
              select#parent.form-control( name="parent")                
                if(categories && categories.length)
                  option(value="") -- 选择上级分类 --
                  each c in categories
                    if category.parent && category.parent._id.toString() == c._id.toString()
                      option(value=c.id, selected)=c.name
                    else
                      option(value=c.id)=c.name
                if parent
                  option(value=parent._id, selected)=parent.name
          .form-group
            label.control-label.col-sm-2.required 名称：
            .col-sm-10
              input#name.form-control.required(type="text",name="name",value="#{category.name}")
          .form-group
            label.control-label.col-sm-2 说明：
            .col-sm-10
              textarea#description.form-control(name='description' ,rows="3")
                | #{category.description ? category.description : ''}
              p.help-block 填写分享或关键字回复图文信息的描述内容
          .form-group
            label.control-label.col-sm-2 可用：
            .col-sm-10
              label.checkbox
                if (category && category.enabled)
                  input#enabled.mini(type='checkbox' name='enabled' checked)
                else
                  input#enabled.mini(type='checkbox' name='enabled')   
          
block scripts
  script(src="//cdn.bootcss.com/webuploader/0.1.0/webuploader.html5only.min.js")
  script.
    $(document).ready(function () {

      //validator
      $('#categoryForm').validate({
        rules: {
        },
        messages: {
        }
      });

    });
