//
   Created by danne on 2015/10/24.
extends ../layout
block header
//应用的page title
block pageTitle
  h1 微信公众号管理
    //small 添加，删除，更新微信公众号
block main
  .box
    .box-header.with-border
      h3.box-title 微信公众号列表
      .box-tools
        a.btn.btn-sm.btn-primary(href="#{baseUrl}/add" title="绑定公众号")
          i.fa.fa-plus
          | &nbsp;绑定新公众号
        //button.btn.btn-box-tool(data-widget="collapse")
        //  i.fa.fa-caret-left
    .box-body
      table#channelList.table.table-hover.table-striped
        thead
          //th.text-right(width="40") #
          //th(width="20%") 名称
          th 类型
          th 名称
          th 微信号
          th AppID
          th 原始ID
          th.text-center 默认
          th.text-center 操作
        tbody
          each w in wechatList
            tr
              td #{wechatTypes[w.type]}
              td=w.name
              td=w.wechatNo
              td=w.appid
              td=w.originalId
              td.text-center
                if(w.default)
                  i.fa.fa-check-square
              td.text-center
                .btn-group
                  .btn-group
                    button.btn.btn-success.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      i.fa.fa-qrcode.fa-fw
                      |&nbsp;二维码&nbsp;
                      span.caret
                    .dropdown-menu
                      .text-center
                        if(w.qrcode)
                          img.img-responsive.img-thumbnail(src="#{url(w.qrcode.url)}",width="150")
                        else
                          p 未上传二维码
                  //- a.btn.btn-sm.btn-primary(title="管理公众号", href='#{baseUrl}/mgmt/#{w.id}')
                    i.fa.fa-wrench
                    | &nbsp;管理公众号
                  //- a.btn.btn-success.btn-sm.pull-right(href='#{baseUrl}/apps/list')
                    i.fa.fa-gear.fa-fw
                    | 配置模块
                  //a.btn.btn-sm.btn-default(title="配置", href='#{baseUrl}/setting/#{w.id}')
                    i.fa.fa-gear
                  //a.btn.btn-sm.btn-default(title="粉丝列表", href='#{baseUrl}/fans/list/#{w.id}')
                    i.fa.fa-user
                |&nbsp;&nbsp;
                .btn-group
                  a.btn.btn-sm.btn-default(title="编辑", href='#{baseUrl}/edit/#{w.id}')
                    i.fa.fa-edit.fa-fw
                    | 编辑
                  a.btn.btn-sm.btn-danger.del(title="解绑", href='javascript:void(0);',data-id="#{w.id}")
                    i.fa.fa-trash-o.fa-fw
                    | 解绑

      form#delForm(method='post', style='display:none', action='#{baseUrl}/del')
        input#ids(type='hidden',name='ids')
        input#_csrf(type='hidden', name='_csrf', value=_csrf)

//应用添加的脚本在scripts block中定义
block scripts
  script.
    $(document).ready(function () {
      $("#channelList").on('click', '.del', function () {
        var id = $(this).data("id");
        $("#delForm #ids").val(id);
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              $("#delForm").submit();
            }
          });
        }
      });
    });
