//
   Created by danne on 2015/10/29.
extends ../layout

block header
  //- 
//应用的page title
block pageTitle
  if info.isNew
    h1 添加公众号信息
  if !info.isNew
    h1 编辑公众号信息
  if viewType == 'view'
    h1 查看公众号信息

block main
  .box
    .box-header.with-border
      if info.isNew
        h3.box-title 添加公众号信息
      if !info.isNew
        h3.box-title 编辑公众号信息
      if viewType == 'view'
        h3.box-title 查看公众号信息
      .box-tools
        a.btn.btn-sm.btn-default(href='#{baseUrl}' title="返回")
          i.fa.fa-reply
        if info.isNew || !info.isNew
          button#save.btn.btn-sm.btn-default(title="保存")
            i.fa.fa-save
        //- if viewType == 'view' || !info.isNew
          button#del.btn.btn-sm.btn-default.del(title="删除")
            i.fa.fa-trash
      //&nbsp;
      //button.btn.btn-box-tool(data-widget="collapse")
      //  i.fa.fa-caret-left
    .box-body
      div#roleEdit.row
        .col-md-12
          form#wechatForm.form-horizontal(name='wechatForm', action='#{baseUrl}/save', method='post',enctype='multipart/form-data')
            if !info.isNew
              input#id(type='hidden', name='id', value="#{info._id}")
            input#_csrf(type='hidden', name='_csrf', value=_csrf)

            .form-group
              label.col-xs-12.col-sm-2.col-md-2.control-label.required 类型：
              .col-sm-8.col-md-8.col-xs-12
                select#wechatType.form-control.required(name='type')
                  each v,k in wechatTypes
                    if(k == info.type)
                      option(value="#{k}", selected="selected") #{v}
                    else
                      option(value="#{k}") #{v}
                p.help-block 注意：即使公众平台显示为“未认证”, 但只要【公众号设置】/【账号详情】下【认证情况】显示资质审核通过, 即可认定为认证号.

            .form-group
              label.col-xs-12.col-sm-2.col-md-2.control-label.required 名称：
              .col-sm-8.col-md-8.col-xs-12
                input#name.form-control.required(name='name', placeholder='请输入公众号名称', value="#{info.name}")

            .form-group
              label.col-xs-12.col-sm-2.col-md-2.control-label.required 微信号：
              .col-sm-8.col-md-8.col-xs-12
                input#wechatNo.form-control.required(name='wechatNo', placeholder='请输入微信号', value="#{ info.wechatNo}")

            .form-group
              label.col-xs-12.col-sm-2.col-md-2.control-label.required 原始ID：
              .col-sm-8.col-md-8.col-xs-12
                input#originalId.form-control.required(name='originalId', placeholder='请输入公众号原始ID', value="#{ info.originalId}")
            .form-group
              label.col-xs-12.col-sm-2.col-md-2.control-label.required AppId：
              .col-sm-8.col-md-8.col-xs-12
                input#appid.form-control.required(name='appid', placeholder='请输入AppId', value="#{ info.appid}")
                p.help-block 请填写微信公众平台后台的AppId
            .form-group
              label.col-xs-12.col-sm-2.col-md-2.control-label.required App Secret：
              .col-sm-8.col-md-8.col-xs-12
                input#appsecret.form-control.required(name='appsecret', placeholder='请输入App Secret')
                p.help-block 请填写微信公众平台后台的AppSecret, 只有填写这两项才能管理自定义菜单

            .form-group
              label.col-xs-12.col-sm-2.col-md-2.control-label Token：
              .col-sm-8.col-md-8.col-xs-12
                input#token.form-control(name='token', placeholder='请输入Token', value="#{ info.token}")
                p.help-block 与公众平台接入设置值一致，必须为英文或者数字，长度为3到32个字符. 请妥善保管, Token 泄露将可能被窃取或篡改平台的操作数据.
            .form-group
              label.col-xs-12.col-sm-2.col-md-2.control-label EncodingAESKey：
              .col-sm-8.col-md-8.col-xs-12
                input#channelName.form-control(name='encodingAESKey', placeholder='请输入消息加解密密钥EncodingAESKey', value="#{info.encodingAESKey}")
                p.help-block 与公众平台接入设置值一致，必须为英文或者数字，长度为43个字符. 请妥善保管, EncodingAESKey 泄露将可能被窃取或篡改平台的操作数据.

            .form-group
              label.col-xs-12.col-sm-2.col-md-2.control-label 接口地址：
              .col-sm-8.col-xs-12
                input.form-control(type='text', value='#{setting && setting["wechat.api.url"]?setting["wechat.api.url"]:""}', readonly='readonly', autocomplete='off')
                .help-block 设置“公众平台接口”配置信息中的接口地址
            //- if(info.isNew || (info.type == '1' || info.type == '2'))
            .form-group
              label.col-xs-12.col-sm-2.col-md-2.control-label  默认：
              .col-sm-8.col-md-8.col-xs-12
                label.checkbox
                  if (info && info.default)
                    input#enabled(type='checkbox' name='default' checked="checked")
                  else
                    input#enabled(type='checkbox' name='default')
                  span &nbsp;&nbsp; 默认公众号，应用发布时若未指定使用的公众号则使用默认公众号.
            .form-group#oauthWechatDiv
              label.col-xs-12.col-sm-2.col-md-2.control-label 借用公众号：
              .col-sm-8.col-md-8.col-xs-12
                select#oauthWechat.form-control(name='oauthWechat', placeholder='选择OAuth认证借用公众号', value="#{info.oauthWechat ? info.oauthWechat : ''}")
                  option(value='') 请选择
                  if(wechats && wechats.length)
                    each w in wechats
                      if(w.id == info.oauthWechat)
                        option(value=w.id, selected="selected")=w.name
                      else
                        option(value=w.id)=w.name
                p.help-block 订阅号可以借用服务号进行Oauth页面认证等，服务号也可以借用其他服务号执行如发红包等操作

            .form-group
              label.col-xs-12.col-sm-2.col-md-2.control-label 二维码：
              .col-sm-8.col-md-8.col-xs-12
                input#qrcode.form-control(type="file",name='qrcode')
                p.help-block 只支持JPG图片
            if(info.qrcode)
              .form-group
                label.col-xs-12.col-sm-2.col-md-2.control-label
                .col-sm-8.col-xs-12
                  .input-group
                    if(info.qrcode)
                      img.img-responsive.img-thumbnail(src='#{info.qrcode ? url(info.qrcode.url) : ""}', width='150')

            .form-group
              label.col-xs-12.col-sm-2.col-md-2.control-label Logo：
              .col-sm-8.col-md-8.col-xs-12
                input#logo.form-control(type="file",name='logo')
                p.help-block 只支持JPG图片
            if(info.logo)
              .form-group
                label.col-xs-12.col-sm-2.col-md-2.control-label
                .col-sm-8.col-xs-12
                  .input-group
                    img.img-responsive.img-thumbnail(src='#{info.logo ? url(info.logo.url) : ""}', width='150')

//应用添加的脚本在scripts block中定义
block scripts
  script(src="//cdn.bootcss.com/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js")
  script.
    $(document).ready(function () {
      //公众号类型
      $(".form-group").find(':file').filestyle({buttonText: '上传图片'});
      var type = "#{info ? info.type : 0 }";

      var form = $('#wechatForm');
      $("#save").on('click', function () {
        form.submit();
      });
      form.validate({
        rules: {
          wechatType: {
            required: true
          }, name: {
            required: true
          }, originalId: {
            required: true
          }, wechatNo: {
            required: true
          }, appid: {
            required: true
          }, appsecret: {
            required: true
          }
        }
      });
      $('#wechatType').on('change', function () {
        console.log(this.value);
        if (parseInt(this.value) < 3) {
          $("#oauthWechatDiv").show();
        } else {
          $("#oauthWechatDiv").hide();
        }
      });
      $('#del').on('click', function () {
        bootbox.confirm("确定要删除数据吗?", function (result) {
          if (result) {
            $("#delForm").submit();
          }
        });
      });
    });
