//
   Created by Renee on 2016/5/10.

extends ../layout
block header
  //link( rel="stylesheet" href="/themes/default/plugins/select2/select2.min.css")
  style.
    #slides li{padding-bottom:10px;border-bottom:1px solid #ccc;list-style-type: none;margin-top:10px;}
block main
  form#groupForm.form-horizontal(method="post",action="/shop/product/attribute/save/#{groupId}")
    input(type='hidden', name='_csrf', value=_csrf)
    if !attr.isNew
      input#id(type='hidden', name='id', value="#{attr._id}")
    input#group.form-control.required(type="hidden",name="group",value="#{groupId}")

    .panel(style="position:relative;")
      .panel-heading
        h3.panel-title
          span.text-info #{attr.name} #{attr.isNew ? '添加属性' : '编辑属性'}
          .panel-tools.pull-right
            a.btn.btn-default.btn-sm(href='/shop/product/attribute/list/#{groupId}')
              i.fa.fa-reply
            a#save.btn.btn-sm.btn-default(title="保存",href="javascript:void(0);")
              i.fa.fa-save
      .panel-body
        .form-group
          label.control-label.col-sm-2.required 名称：
          .col-sm-8
            input#name.form-control.required(type="text",name="name",value="#{attr.name}")

        .form-group
          label.control-label.col-sm-2 排序：
          .col-sm-8
            input#sort.form-control(type="text",name="sort",value="#{attr.sort}")
            p.help-block 根据此数字小到大排序

        .form-group
          label.control-label.col-sm-2 描述：
          .col-sm-8
            textarea#description.form-control(name="description" rows='3')
              | #{attr.description}
block scripts
  //script(src='/themes/default/plugins/select2/select2.full.js')
  script.
    $(document).ready(function () {
      //initSelect2("#store", "/shop/product/attribute/getStore");

      var form = $('#groupForm');
      $("#save").on('click', function () {
        form.submit();
      });
      form.validate({
        rules: {
          name: {
            required: true,
            remote: '/shop/product/attribute/checkName?oldName=#{attr ? attr.name : ''}'
          }
        },
        messages: {
          name: {
            remote: '名称已经重复，请修改为其他'
          }
        }
      });

    });
