-var version = "0.0.11"
html
  head
    title NodeJS Express Web Starter
    include layouts/incs/header
    script(type='text/javascript', src='#{themeFront}/js/mzui.min.js')
    script(type='text/javascript', src='//res.wx.qq.com/open/js/jweixin-1.2.0.js')
    script(type='text/javascript', src='#{themeRoot}/dist/js/global.js?v=#{version}')
    script(type='text/javascript', src='#{themeRoot}/dist/js/weixin.js?v=#{version}')

  body.with-heading-top.has-index-content
    .box 
      p.text-info.text-center 
        span.loading.loading-light
        | 微信页面授权用户认证，需要从微信中访问
    script.
      var fromUrl = "#{fromUrl?contextRoot + fromUrl : contextFront}";
      if(is_weixin()){
        W.oauthUser(appid, function (user) {
          if(user){
            window.location.href = fromUrl;
          }else{
            $.messager.show('微信公众号页面授权错误，无法获得粉丝信息!', { type: 'error', placement: 'bottom-center' });   
          }
        });
      }else{
        if(#{!req.session.user}){
          window.location.href = contextFront + "/session?openid=oxVEQuN3xDA1r8aBD_hh-xMQeir4&fromUrl=#{fromUrl}";
        }
      }

