.heading
  .title 
.section
  .list
    if(!topics || !topics.length)
      .box.article
        p 暂时没有帖子哦~~~
    each t in topics
      .item.with-avatar.multi-lines
        a(href="fans/#{t.fans?t.fans._id}")
          .avatar.circle
            img(src='#{contextRoot}/avatar.png', alt='')

        .content
          div
            a.text-link.strong(href="fans/#{t.fans?t.fans._id}") 
              | #{t.fans?t.fans.nickname:(t.user?t.user.username:"")}
          .subtitle
            span #{t.title} - #{formatDatetime(t.createdAt)}
            .muted.small.pull-right
              i.icon-eye
              | #{t.readCount}
          .title.space-sm=t.content
          if(t.images && t.images.length)
            .row.imgs.gutter-sm
              each img in t.images
                .cell-3
                  a(data-display='modal', data-target-dismiss='true', data-placement='center', data-content="<img src='#{contextRoot}/#{img}' alt='' class='no-margin'>")
                    img(src='#{contextRoot}#{img}', alt='')