extends layouts/default
block header
  style.
    .profile-haeder {position: relative; overflow: hidden; min-height: 8rem}
    .profile-haeder > .back {top: -2rem; left: -2rem; right: -2rem; bottom: -2rem; background-position: center; background-size: cover}
    .profile-haeder > .front {background: rgba(0,0,0,.1); text-align: center; padding: 1.5rem}

block main
  header#haedNav.heading.affix.dock-top.dock-auto
    nav#headNav.nav
      a.brand-name(href='javascript:;', onclick='javascript:window.history.go(-1);')
        i.icon.icon-chevron-left
    .title
    //- nav.nav
      a(href='user')
        i.icon-user
  .profile-haeder.space.shadow
    .dock.blur-lg.back(style='background-image: url(img/img2.jpg)')
    .front.dock.text-white
      .avatar.avatar-xl.circle.space-sm
        img#headimgurl(src='#{user?user.headimgurl:""}', alt='')
      h4#nickname.lead.text-shadow-black #{user?user.nickname:"未知用户"}

  .section
    .list.with-divider
      a.item.with-avatar(href="#{contextFront}/fans/home/#{user._id}")
        .avatar.text-gray
          i.icon-list-ul
        .title #{me ? "我":"TA"}的帖子
        i.icon.icon-chevron-right.muted
      a.item.with-avatar
        .avatar.text-gray
          i.icon.icon-comments
        .title #{me ? "我":"TA"}的评论
        i.icon.icon-chevron-right.muted
      a.item.with-avatar
        .avatar.text-gray
          i.icon.icon-lock
        .title 安全中心
        i.icon.icon-chevron-right.muted
      a.item.with-avatar
        .avatar.text-gray
          i.icon-cog
        .title 个人设置
        i.icon.icon-chevron-right.muted
      a.item.with-avatar
        .avatar.text-gray
          i.icon-qrcode
        .title 我的二维码
        i.icon.icon-chevron-right.muted
block scripts
  script.
    $(document).ready(function(){
      var user = W.getUser(appid);
      if(user){
        console.log(JSON.stringify(user));
        $('h4#nickname').html(user.nickname ? user.nickname : '未知用户');
        $('#headimgurl').attr('src', user.headimgurl ? user.headimgurl : '#{baseUrl}/imgs/headimg_default.jpg');
      }
    });

