//
   Created by pc on 2015/10/27.
-var baseUrl = (req.session.contextRoot + req.baseUrl)
-if (baseUrl.indexOf('http')<0)
-baseUrl = baseUrl.replace('//','/');

- var originalUrl = req.baseUrl;

extends portal
block main
  .row
    .col-xs-12.col-sm-3.col-lg-2
      .big-menu.margin-bottom
        block left
          each m in req.session.menus
            if((currentMenu && currentMenu.lineage.startsWith(m.lineage)) || m.link === originalUrl)
              if(m.children && m.children.length)
                each c in m.children
                  if(c.children && c.children.length > 0)
                    //有子菜单
                    .panel.panel-default
                      .panel-heading(data-widget='collapse')
                        h4.panel-title(data-id="#{c._id}")=c.title
                        .panel-tools.pull-right
                          span.btn.btn-box-tool
                            i.fa.fa-caret-down
                      .panel-body.no-padding.list-group
                        each cc in c.children
                          a.list-group-item(class='#{isActive(cc.link)}', href = '#{cc.link}',data-id="#{cc._id}")
                            if(cc.iconClass)
                              i(class="#{cc.iconClass} fa-fw")
                            else
                              i.fa.fa-list.fa-fw
                            | #{cc.title}
                  else
                    //没有子菜单
                    a.list-group-item(class="#{isActive(c.link)}",href="#{c.link}",data-id="#{c._id}")
                      if(c.iconClass)
                        i(class="#{c.iconClass} fa-fw")
                      else
                        i.fa.fa-list.fa-fw
                      | #{c.title}

    .col-xs-12.col-sm-9.col-lg-10
      block main
