//
   Created by pc on 2015/10/27.
extends ../layout

block header
  link(rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  //link( rel="stylesheet" href="/themes/default/plugins/datatables/select.bootstrap.min.css" type="text/css")
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 题目的管理
        .panel-tools.pull-right
          a.btn.btn-default.btn-sm(href="/activities/quiz/pool" title="返回题库")
            i.fa.fa-reply
          a.btn.btn-default.btn-sm(href="/activities/quiz/add/#{poolId}" title="添加题目")
            i.fa.fa-plus.fa-fw
          //- button#appoint.btn.btn-default.btn-sm(title="指定题目")
          //-   i.fa.fa-hand-pointer-o
          //- button#search.btn.btn-default.btn-sm(title="查看指定题目")
          //-   i.fa.fa-search
    .panel-body
      #tableWrapper(style="display:none")
        table#poolList.table.table-hover.table-striped.table-responsive
          thead
            //th 类型
            th 标题
            //- th 描述
            th 多选
            th 难度
            th 分数
            th 选项A
            th 选项B
            th 选项C
            th 选项D
            th 选项E
            th 激活
            th 操作
          tbody

    form#addQuizForm.form-horizontal(method='post', action='/activities/quiz/pool/addQuiz')
      input#ids(type='hidden',name='ids')
      input#poolId(type='hidden',name="poolId" value='#{poolId}')
      input#_csrf(type='hidden', name='_csrf', value=_csrf)

    form#revokeQuizForm.form-horizontal(method='post', action='/activities/quiz/pool/revokeQuiz')
      input#quizIds(type='hidden',name='ids')
      input#quizPool(type='hidden',name="poolId" value='#{poolId}')
      input#_csrfs(type='hidden', name='_csrf', value=_csrf)

  #wechatGroupModal.modal.fade.createInvoice(tabindex="-1", role="dialog", aria-labelledby="createGroupModal", aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button",data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title 查看题库指定的题目
        .modal-body
          #quizWrapper(style="display:none")
            table#quizList.table.table-hover.table-striped.table-responsive
              thead
                //th 类型
                th 标题
                th 描述
                th 是否多选
                th 难度
                th 分数
              tbody
        .modal-footer
          .center-block.pull-right
          button#revokeQuizs.btn.btn-primary 移除指定的题目
          button.btn.btn-danger(type="button", data-dismiss="modal") 关闭

//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  //script(src='/themes/default/plugins/datatables/dataTables.select.min.js')
  script.
    $(document).ready(function () {
      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: true,
        searching: true,
        processing: false,
        //scrollX:true,
        stateSave: true,
        serverSide: true,
        //select: true,
        deferRender: true
      };

      var t = $('#poolList').DataTable($.extend(opts, {
        ajax: {url: '/activities/quiz/datatable/#{poolId}'},
        columnDefs: [
          {
            targets: -1, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              return "<div class='btn-group'> <a class='btn btn-default btn-sm' title='编辑题目' href='/activities/quiz/edit/#{poolId}/" + row._id + "'><i class='fa fa-pencil'></i></a>"
                      + "<a class='btn btn-default btn-sm del' title='删除题目'><i class='fa fa-trash'></i></a></div>";
            }
          }
        ],
        columns: [
          //{data: ""},
          //{data: "type", defaultContent: ''},
          {data: "title", defaultContent: ''},
          //- {data: "description", defaultContent: ''},
          {data: "multi", defaultContent: '',
            'class': 'text-center',
            render: function (data, type, full, meta) {
              var result = "";
              if (data == '1') {
                result = "<i class='fa fa-check-square'/>"
              } else {
                result = "<i class='fa fa-square-o'/>"
              }
              return result;
            }},
          {data: "level", defaultContent: ''},
          {data: "score", defaultContent: '',
            'class': 'text-center'},
          {data: "options", defaultContent: '',
            'class': 'text-center', render: function (data, type, full, meta) {
            var result = "";
            if(full.options.length >= 1){
              result = full.options[0].title
            }
            return result;
          }},{data: "options", defaultContent: '',
            'class': 'text-center', render: function (data, type, full, meta) {
            var result = "";
            if(full.options.length >= 2){
              result = full.options[1].title
            }
            return result;
          }},{data: "options", defaultContent: '',
            'class': 'text-center', render: function (data, type, full, meta) {
            var result = "";
            if(full.options.length >= 3){
              result = full.options[2].title
            }
            return result;
          }},{data: "options", defaultContent: '',
            'class': 'text-center', render: function (data, type, full, meta) {
            var result = "";
            if(full.options.length >= 4){
              result = full.options[3].title
            }
            return result;
          }},
          {
            data: "options", defaultContent: '',
            'class': 'text-center', render: function (data, type, full, meta) {
            var result = "";
            if (full.options.length >= 5) {
              result = full.options[4].title
            }
            return result;
          }
          },
          {
            data: "enabled",
            defaultContent: '',
            'class': 'text-center',
            render: function (data, type, full, meta) {
              var result = "";
              if (data == '1') {
                result = "<a class='btn btn-sm key' title='激活/禁用' href='/activities/quiz/enable/" + full._id + "'><i class='fa fa-check-square'/></a>"
              } else {
                result = "<a class='btn btn-sm key' title='激活/禁用' href='/activities/quiz/enable/" + full._id + "'><i class='fa fa-square-o'/></a>"
              }
              return result;
            }
          },
          {data: ""}
        ]
      })).on('draw.dt', function () {
        $("#tableWrapper").fadeIn();
      });
      var opts1 = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: false,
        searching: false,
        processing: false,
        //scrollX:true,
        stateSave: true,
        serverSide: true,
        select: true,
        deferRender: true
      };

      var tt = $('#quizList').DataTable($.extend(opts1, {
        ajax: {url: '/activities/quiz/datatables/#{poolId}'},
        columnDefs: [
        ],
        columns: [
          {data: "title", defaultContent: ''},
          {data: "description", defaultContent: ''},
          {data: "multi", defaultContent: ''},
          {data: "level", defaultContent: ''},
          {data: "score", defaultContent: '',
            'class': 'text-center'}
        ]
      })).on('draw.dt', function () {
        $("#quizWrapper").fadeIn();
      });

      //删除题目的事件
      $('#poolList').on('click', 'a.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              window.location.href='/activities/quiz/del/#{poolId}/'+id;
            }
          });
        }
      });
      //指定题目的事件
      $('#appoint').on('click', function () {
        var datas = t.rows({selected: true}).data();
        var len = datas ? datas.length : 0;
        if (len > 0) {
          var ids = [];
          datas.each(function (d) {
            ids.push(d._id);
          });
          $("#addQuizForm #ids").val(ids);
          $("#addQuizForm").submit();
        } else {
          bootbox.alert("请选择要添加题目");
        }
      });
      //移除题目的事件
      $('#revokeQuizs').on('click', function () {
        var datas = tt.rows({selected: true}).data();
        var len = datas ? datas.length : 0;
        if (len > 0) {
          var ids = [];
          datas.each(function (d) {
            ids.push(d._id);
          });
          $('#quizIds').val(ids);
          $("#revokeQuizForm").submit();
        } else {
          bootbox.alert("请选择要移除的题目");
        }
      });
      //删除题目的事件
      $('#search').on('click', function () {
        var TT = $("#quizList").DataTable();
        TT.ajax.url('/activities/quiz/datatables/#{poolId}').load();
        $("#wechatGroupModal").modal("show");
      });

    })