//
  Created by pc on 2015/10/27.

extends ../layout

block main
  .panel
    .panel-heading
      h3.panel-title
        | #{quiz.isNew ? '添加关卡' : '修改关卡'}
        span.text-info #{quiz.name}
        .panel-tools.pull-right
          a#save.btn.btn-default.btn-sm(title='保存')
            i.fa.fa-save
          a.btn.btn-default.btn-sm(href='/activities/quiz/run')
            i.fa.fa-reply
    .panel-body
      form#quizForm.form-horizontal(method="post",action="/activities/quiz/run/save",enctype='multipart/form-data')
        if(!quiz.isNew)
          input#id(type='hidden', name='id', value="#{quiz._id}")
        input#_csrf(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label.col-sm-3.required 选择活动：
          .col-sm-8
            select#activity.form-control.required(name="activity")
        .form-group
          label.control-label.col-sm-3.required 选择题库：
          .controls.col-md-8
            select#quizPool.form-control.required(name="quizPool")
        .form-group
          label.control-label.col-sm-3.required 名称：
          .col-sm-8
            input#name.form-control(type="text",name="name",value="#{quiz.name}")
            //p.help-block 当使用该题目时提供多少道题，不填写默认 10 道题
        .form-group
          label.control-label.col-sm-3 上传LOGO：
          .col-sm-8
            input#logoPic.form-control(type="file",name="logoPic",value="#{quiz.logoPic}")
            p.help-block 上传logo图片会被压缩到200X100像素,如未上传图片,将使用系统设定的LOGO
            if(quiz.logoPic)
              .col-sm-10.col-xs-12.col-sm-offset-2
                img#logoimg.img-responsive.img-thumbnail(src='#{quiz.logoPic ? quiz.logoPic : ""}', width='200')
        .form-group
          label.control-label.col-sm-3 入口url：
          .col-sm-8
            input#url.form-control(type="text",name="url",value="#{quiz.url}")
            p.help-block 入口url则是访问活动的地址，由此进入闯关
        .form-group
          label.control-label.col-sm-3 二维码：
          .col-sm-8
            input#logo.form-control(type="text",name="logo",value="#{quiz.logo}")
            p.help-block 入口url生产的二维码
        .form-group
          label.control-label.col-sm-3 奖品：
          .col-sm-8
            select#award.form-control.award(name="award")
            p.help-block 通关后奖品
        .form-group
          label.control-label.col-sm-3 关卡数：
          .col-sm-8
            input#levelNum.form-control(type="text",name="levelNum",value="#{quiz.levelNum}")
            p.help-block 需要的关卡数量
        .form-group
          label.control-label.col-sm-3 关键字：
          .col-sm-8
            input#keyword.form-control(name="keyword", value="#{quiz.keyword}")
            p.help-block 填写微信平台自动回复关键字,用户发送关键字则会自动图文回复回复活动链接
        .form-group
          label.control-label.col-sm-3 规则说明：
          .col-sm-8
            textarea#description.form-control(name="description", rows="5")
              | #{quiz.description}

block scripts
  script(src="//cdn.bootcss.com/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js")
  script(src="//cdn.ckeditor.com/4.4.3/standard/ckeditor.js")
  script.
    CKEDITOR.replace('description');

    var levelNum = 1
    $(document).ready(function () {
      $(".form-group").find(':file').filestyle({buttonText: '上传文件'});
      //下拉框的填充
      selectActivities('#{quiz.activity}')
      selectQuizPool('#{quiz.quizPool}')
      selectAward('#{quiz.activity}','#{!quiz.isNew?quiz.award?quiz.award._id:"":""}',".award")

      var form = $('#quizForm');
      $("#save").on('click', function () {
        form.submit();
      });
      form.validate({
        rules: {
          name: {
            required: true,
            remote: '/activities/quiz/pool/checkName?oldName=#{quiz ? quiz.name : ''}'
          },url: {
            url: true
          },count: {
            digits: true
          },levelNum: {
            digits: true
          }
        },
        messages: {
          name: {
            remote: '名称保持唯一'
          }
        }
      });

      $("#activity").change(function(e){
        var activity = $(this).val()
        selectAward(activity,'',".award")
      });

    });

    //填充活动的下拉列表
    function selectActivities(id){
      $("#activity").html("");
      $.ajax({
        url: "/activities/getActivities/",
        type: "get",
        data: {},
        success: function (data) {
          if (data) {
            $("#activity").append("<option value=''>-请选择-</option>")
            $.each(data,function(i,e){
              if(e._id == id){
                $("#activity").append("<option value='"+e._id+"' selected>"+e.name+"</option>")
              }else{
                $("#activity").append("<option value='"+e._id+"'>"+e.name+"</option>")
              }
            });
          }
        }
      });
    }
    //填充活动的下拉列表
    function selectQuizPool(id){
      $("#quizPool").html("");
      $.ajax({
        url: "/activities/quiz/pool/getQuizPools/",
        type: "get",
        data: {},
        success: function (data) {
          if (data) {
            $("#quizPool").append("<option value=''>-请选择-</option>")
            $.each(data,function(i,e){
              if(e._id == id){
                $("#quizPool").append("<option value='"+e._id+"' selected>"+e.name+"</option>")
              }else{
                $("#quizPool").append("<option value='"+e._id+"'>"+e.name+"</option>")
              }
            });
          }
        }
      });
    }
    //填充活动的下拉列表
    function selectAward(activityId,awardId,selectId){
      if(activityId) {
        $(selectId).html("");
        $.ajax({
          url: "/activities/getByActivityAwards/" + activityId,
          type: "get",
          data: {},
          success: function (data) {
            if (data) {
              $(selectId).append("<option value=''>-请选择-</option>")
              $.each(data, function (i, e) {
                if (e._id == awardId) {
                  $(selectId).append("<option value='" + e._id + "' selected>" + e.name + "</option>")
                } else {
                  $(selectId).append("<option value='" + e._id + "'>" + e.name + "</option>")
                }
              });
            }
          }
        });
      }
    }