//
   Created by danne on 2016-04-27.
extends ../layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  link( rel="stylesheet",href="/themes/default/plugins/daterangepicker/daterangepicker-bs3.css")
  //link( rel="stylesheet" href="/themes/default/plugins/datatables/select.bootstrap.min.css" type="text/css")
block pageTitle
  h4 扫描统计
block main
  .panel(style="min-height:100%")
    .panel-heading
      h3.panel-title 闯关统计和查询
        .panel-tools
          a#createQrCode.btn.btn-sm.btn-primary(title='返回' href='/activities/quiz/run')
            i.fa.fa-reply
            span 返回
          | &nbsp;&nbsp;
          a#activity.btn.btn-sm.btn-primary(title='查看活动统计' href='/activities/stats/#{activityId}')
            i.fa.fa-line-chart

    .panel-body
      .tab-content
        ul#myTab.nav.nav-tabs
          li.active
            a(href="#statDay" data-id="day" data-toggle="tab") 今日
          li
            a(href="#statWeek" data-id="week" data-toggle="tab") 近7日
          li
            a(href="#statMonth" data-id="month" data-toggle="tab") 近30日

      #myTabContent.tab-content
        #statDay.tab-pane.fade.in.active
          canvas#statDayChart(width='900px' height='300px')
        #statWeek.tab-pane.fade.in
          canvas#statWeekChart(width='900px' height='300px')
        #statMonth.tab-pane.fade.in
          canvas#statMonthChart(width='900px' height='300px')

      form#searchForm.form-inline
        .form-group
          label.control-label(for="fullname")  用户姓名:
          input#fullname.form-control.required(name='fullname',placeholder='用户姓名')
        .form-group
          label.control-label(for="mobile")  手机号码:
          input#mobile.form-control.required(name='mobile',placeholder='手机')
        .form-group
          label.control-label(for="startAt")  时间:
          input#startAt.form-control.required(name='startAt',placeholder='参与时间段')
        //.form-group
        //    label.control-label(for="email")  参与次数>=:
        //    input#email.form-control.required(name='playNum', placeholder='次数')
        .form-group
          label.control-label(for="finished") 是否通关:
          select#finished.form-control(name='finished',style="width:130px")
            option(value="") -请选择-
            option(value="1") 是
            option(value="0") 否
        .form-group
          button#search.btn.btn-default.btn-sm(title='查询',type='button',value="Search")
            i.fa.fa-search
            | 查询
          | &nbsp;&nbsp;
          button#export.btn.btn-default.btn-sm(title='导出中奖用户信息',type='button')
            i.fa.fa-cloud-download
            | 下载
      #tableWrapper(style="display:none;")
        table#answerList.table.table-bordered.table-hover.table-striped
          thead
            th 用户姓名
            th 手机号码
            th 答题时间
            th 结束时间
            th 当前关卡
            th 得分
            th 通关
            th 获得奖品
          tbody
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  //script(src='/themes/default/plugins/datatables/dataTables.select.min.js')
  script(src="/themes/default/plugins/daterangepicker/daterangepicker.js")
  script(src='//cdn.bootcss.com/echarts/3.1.10/echarts.min.js')
  script.
    $(document).ready(function () {

      $('#startAt').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 10,
        format: 'YYYY-MM-DD HH:mm:ss'
      });

      $('#myTab a:first').tab('show')
      loadLineByDay()
      loadLineByWeek()
      loadLineByMonth()

      var tt = $('#answerList')
              .DataTable({
                language: {
                  "url": "/themes/default/plugins/datatables/Chinese.json"
                },
                searching: false,
                lengthChange: true,
                serverSide: true,
                autoWidth: false,
                //select: true,
                stateSave: true,
                ajax: {url: '/activities/quiz/answer/datatable/#{runId}'},
                order: [[1, 'asc']],
                columnDefs: [],
                columns: [
                  {
                    data: "user.fullname", defaultContent: ''
                  },
                  {data: "user.mobile", defaultContent: ''},
                  {
                    data: "startAt", defaultContent: '',
                    render: function (data, type, full, meta) {
                      var b = moment(new Date(data));
                      var date = "";
                      if (data != null) {
                        date = b.format("YYYY-MM-DD HH:mm:ss");
                      }
                      return date;
                    }
                  },
                  {
                    data: "finishAt", defaultContent: '',
                    render: function (data, type, full, meta) {
                      var b = moment(new Date(data));
                      var date = "";
                      if (data != null) {
                        date = b.format("YYYY-MM-DD HH:mm:ss");
                      }
                      return date;
                    }
                  },
                  {
                    data: "stopAtLevel", defaultContent: '', 'class': 'text-center',
                    render: function (data, type, full, meta) {
                      return data != undefined ? parseInt(data) + 1 : '0';
                    }
                  },
                  {
                    data: "time", defaultContent: '', 'class': 'text-center',
                    render: function (data, type, full, meta) {
                      var result = 0;
                      if (data != undefined) {
                        data.forEach(function (e) {
                          e.score != undefined ? result += e.score : result += 0;
                          e
                        })
                      }
                      return result;
                    }
                  },
                  {
                    data: "finished", defaultContent: '',
                    'class': 'text-center',
                    render: function (data, type, full, meta) {
                      var result = "";
                      if (data == '1') {
                        result = "<i class='fa fa-check-square'/>"
                      } else {
                        result = "<i class='fa fa-square-o'/>"
                      }
                      return result;
                    }
                  },
                  {data: "award.name", defaultContent: ''}
                ]
              }).on('draw.dt', function () {
                $("#tableWrapper").fadeIn();
              });

      $("#search").on('click', function () {
        var data = $("#searchForm").serialize();
        var TT = $('#answerList').DataTable();
        TT.ajax.url('/activities/quiz/answer/datatable/#{runId}?' + data + '').load();
      })
      $("#export").on('click', function () {
        var data = $("#searchForm").serialize();
        window.location.href = '/activities/quiz/answer/export/#{runId}?' + data;
      })


    });
    function getData(data) {
      var option = {
        title: {
          text: ''
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: data.legend
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: data.xAxis
        },
        yAxis: {
          type: 'value'
        },
        series: data.series
      };
      return option;
    }
    //查看今日统计
    function loadLineByDay() {
      $.ajax({
        url: '/activities/quiz/getDataByDay/#{runId}',
        type: 'get',
        success: function (data) {
          var op = getData(data)
          var myChart = echarts.init(document.getElementById('statDayChart'));
          myChart.setOption(op);
        }
      });
    }
    //查看近7日统计
    function loadLineByWeek() {
      $.ajax({
        url: '/activities/quiz/getDataByWeek/#{runId}',
        type: 'get',
        success: function (data) {
          var op = getData(data)
          var myChart = echarts.init(document.getElementById('statWeekChart'));
          myChart.setOption(op);
        }
      });
    }
    //查看近30日统计
    function loadLineByMonth() {
      $.ajax({
        url: '/activities/quiz/getDataByMonth/#{runId}',
        type: 'get',
        success: function (data) {
          var op = getData(data)
          var myChart = echarts.init(document.getElementById('statMonthChart'));
          myChart.setOption(op);
        }
      });
    }
