//
  Created by pc on 2015/10/27.

extends ../layouts/default
//应用的page title
block pageTitle
  h1 站点管理
block left
  .panel.panel-default
    .panel-heading(data-widget='collapse')
      h4.panel-title 站点管理
      .panel-tools.pull-right
        span.btn.btn-box-tool
          i.fa.fa-caret-down

    .panel-body.no-padding.list-group
      a.list-group-item(class="#{isActive('/cms/site')}",href = '/cms/site', kw='站点管理') 
        i.fa.fa-fw.fa-list
        |站点列表
      a.list-group-item(class="#{isActive('/cms/template')}",href='/cms/template', kw='模板管理') 
        i.fa.fa-fw.fa-list
        |模板管理
  .panel.panel-default
    .panel-heading(data-widget='collapse')
      h4.panel-title 页面管理
      .panel-tools.pull-right
        span.btn.btn-box-tool
          i.fa.fa-caret-down
    .panel-body.no-padding.list-group
      a.list-group-item(href='/cms/page/index', kw='首页') 
        i.fa.fa-fw.fa-list
        |微站首页
      a.list-group-item(href='/cms/page/home', kw='会员中心') 
        i.fa.fa-fw.fa-list
        |会员中心
      a.list-group-item(href = '/cms/page', kw='专题页面') 
        i.fa.fa-fw.fa-list
        |功能页面
  .panel.panel-default
    .panel-heading(data-widget='collapse')
      h4.panel-title 内容管理
      .panel-tools.pull-right
        span.btn.btn-box-tool
          i.fa.fa-caret-down
    .panel-body.no-padding.list-group
      a.list-group-item(href='/cms/category', kw='分类设置',class="#{isActive('/cms/category')}") 
        i.fa.fa-fw.fa-list
        |分类设置
      a.list-group-item(href='/cms/slide', kw='文章管理',class="#{isActive('/cms/slide')}") 
        i.fa.fa-fw.fa-list
        |轮播广告
      a.list-group-item(href='/cms/content', kw='文章管理',class="#{isActive('/cms/content')}") 
        i.fa.fa-fw.fa-list
        |文章管理
      //- a.list-group-item(href='/cms/annouce', kw='公告设置',class="#{isActive('/cms/annouce')}") 
        i.fa.fa-fw.fa-list
        |公告管理
