//
   Created by Renee on 2016/5/10.

extends ../layout
block header
  link( rel="stylesheet",href="//cdn.bootcss.com/bootstrap-daterangepicker/2.1.21/daterangepicker.min.css")
  link(href="/themes/default/plugins/uploadify/uploadify.css" rel="stylesheet" type="text/css")
block main
    .panel(style="position:relative;")
      .panel-heading
        h3.panel-title
          span.text-info #{type.isNew ? '创建贷款分类' : '贷款分类'}
          .panel-tools.pull-right
            a.btn.btn-default.btn-sm(href='/bank/loan/type')
              i.fa.fa-reply
            button#save.btn.btn-sm.btn-default(title="保存")
              i.fa.fa-save
      .panel-body
        form#loanForm.form-horizontal(method="post",action="/bank/loan/type/save",enctype='multipart/form-data')
          input#_csrf(type='hidden', name='_csrf', value=_csrf)
          if(!type.isNew)
            input#id(type='hidden', name='id', value="#{type._id}")
          .form-group
            label.control-label.col-sm-2.required 名称：
            .col-sm-10
              input#name.form-control.required(type="text",name="name",value="#{type.name}")
          .form-group
            label.control-label.col-sm-2 大类图标：
            .col-sm-10
              input#logo.form-control(type="file",name='logo')
              p.help-block 显示在首页的图标
              if(type.logo)
                .col-sm-10.col-xs-12.col-sm-offset-2
                  img.img-responsive.img-thumbnail(src='#{type.logo ? type.logo : ""}', width='200')
          .form-group
            label.control-label.col-sm-2 小类列图标：
            .col-sm-10
              input#icon.form-control(type="file",name='icon')
              p.help-block 显示在列表页中的图标
              if(type.icon)
                .col-sm-10.col-xs-12.col-sm-offset-2
                  img.img-responsive.img-thumbnail(src='#{type.icon ? type.icon : ""}', width='100')
          .form-group
            label.control-label.col-sm-2 上级分类：
            .col-sm-10
              select#parent.form-control(name="parent")
          .form-group
            label.control-label.col-sm-2 轮播图：
            .col-sm-10
              select#slide.form-control(name="slide")

          .form-group
            label.control-label.col-sm-2 描述：
            .col-sm-10
              textarea#description.form-control(name='description' ,rows="3")
                | #{type.description ? type.description : ''}
              p.help-block 图文描述，用于分享

          .form-group
            label.control-label.col-sm-2 排序：
            .col-sm-10
              input.form-control(type="number",name='sort',value="#{type ? type.sort : ''}")
          .form-group
            label.control-label.col-sm-2 激活：
            .col-sm-10
              label.checkbox
                if (type && type.enabled)
                  input#enabled(type='checkbox' name='enabled' checked="checked")
                else
                  input#enabled(type='checkbox' name='enabled')


block scripts
  script(src="//cdn.bootcss.com/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js")
  script(src="//cdn.bootcss.com/bootstrap-daterangepicker/2.1.21/daterangepicker.min.js")
  script(src="/themes/default/plugins/uploadify/jquery.uploadify.min.js")
  script(src="/themes/default/plugins/uploadify/dora.public.js")

  script.
    $(document).ready(function () {
      //填充父类
      $.post('#{req.baseUrl}/loan/type/parent', {id: '#{!type.isNew ? type._id : ""}'}, function (data, status) {
        if(status == 'success' && data.success) {
          var str = '<option value="">-请选择-</option>';
          data.types.forEach(function(t) {
            var typeId = '#{!type.isNew ? type.parent : ""}';
            console.log(typeId, t.id);
            if(typeId == t.id){
              console.log('selec');
              str += '<option value="'+ t.id + ',' + t.name +'" selected>'+ t.name +'</option>';
            }
            else {
              str += '<option value="'+ t.id + ',' + t.name + '">'+ t.name +'</option>';
            }
          });

          $('#parent').append(str);
        }
      });

      //轮播图
      var slide = '#{type.slide}';
      $.get('#{baseUrl}/loan/getSlide', function (data, status) {
        if (status == 'success' && data.success) {
          var option = '<option value="">-请选择-</option>';
          data.slide.forEach(function (s) {
            if (s._id == slide) {
              option += '<option value="' + s._id + '" selected>' + s.type + '--' + s.name + '</option>'
            } else {
              option += '<option value="' + s._id + '">' + s.type + '--' + s.name + '</option>'
            }
          });
          $('#slide').append(option)
        }
      });

      //图片上传
      $(".form-group").find(':file').filestyle({buttonText: '上传图片'});

      $('#loanForm').validate({
        rules: {
          name: {
            required: true,
            remote: '/bank/loan/type/checkName?oldName=#{type ? type.name : ""}'
          }
        },
        messages: {
          name: {
            remote: '该名称已存在'
          }
        }
      });

      //save
      $('#save').click(function() {
        $('#loanForm').submit();
      });


      //填充轮播图


    });

