//
  Created by pc on 2015/10/27.

extends ../layout
block main
  if !site.isNew
    form#userDelForm(method='post', style='display:none', action='/cms/site/del')
      input#ids(type='hidden',name='ids',value="#{site._id}")
      input#_csrf(type='hidden', name='_csrf', value=_csrf)
  .panel.panel-default
    nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom:0;')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='javascript:;')
            | #{site.isNew ? '创建新站点' : '编辑站点：'}
            span.text-info #{site.name}
        ul.nav.navbar-nav.nav-btns
          li(class='#{isActive("/cms/site/edit/"+site.id)}')
            a(href='/cms/site/edit/#{site.id}') 基本
          li(class='#{isActive("/cms/site/template"+site.id)}')
            a(href='/cms/site/template/#{site.id}') 模板
          li(class='#{isActive("/cms/site/navigate"+site.id)}')
            a(href='/cms/site/navigate/#{site.id}') 导航
    //.panel-heading.with-border
      h3.panel-title
        | #{site.isNew ? '创建新站点' : '修改站点：'}
        span.text-info #{site.name}
    .panel-body
      form#siteForm.form-horizontal(method="post",action="/cms/site/save")
        if(!site.isNew)
          input#id(type='hidden', name='id', value="#{site._id}")
        input#_csrf(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label.col-sm-2 绑定微信：
          .col-sm-10
            label.radio
              label(style="margin-right:15px;padding:0")
                input#enabled.mini(type='radio' name='wechat',checked="checked")
                span &nbsp;&nbsp; 无
              each c in wechats
                label(style="margin-right:15px;padding:0")
                  if (site.wechat == c.id)
                    input#enabled.mini(type='radio' name='wechat' value='#{c.id}' checked)
                  else
                    input#enabled.mini(type='radio' name='wechat' value='#{c.id}')
                  span &nbsp;&nbsp;#{c.name}
          .col-sm-10.col-sm-offset-2
            p.help-block 选择站点运行所绑定使用的微信公众号，比如获取粉丝信息等
        .form-group
          label.control-label.col-sm-2.required 名称：
          .col-sm-10
            input#name.form-control.required(type="text",name="name",value="#{site.name}")
        .form-group
          label.control-label.col-sm-2.required 标题：
          .col-sm-10
            input#title.form-control.required(type="text",name="title",value="#{site.title}")

        .form-group
          label.control-label.col-sm-2 绑定域名：
          .col-sm-10
            input#domain.form-control(type="text",name="domain",value="#{site.domain}")
        //.form-group
          label.control-label.col-sm-2 URL
          .col-sm-10
            input#url.form-control(type="text",name="url",value="#{site.url}")

        //- .form-group
          label.control-label.col-sm-2 选择模板
          .col-sm-10
            button.btn.btn-sm.btn-success(type="button") 默认模板1
              span.caret
        .form-group
          label.control-label.col-sm-2 首页轮播：
          .col-sm-10
            select.form-control(name="slide")
              option(value="") -- 请选择 --
              if(slides)
                each s in slides
                  if(s.id == site.slide)
                    option(value="#{s._id}", selected) #{s.type} - #{s.name}
                  else
                    option(value="#{s._id}") #{s.type} - #{s.name}
        .form-group
          label.control-label.col-sm-2 站点图标：
          .col-sm-10
            .input-group
              input.form-control(type='text', name='icon', value='', autocomplete='off')
              span.input-group-btn
                button.btn.btn-default(type='button', onclick='showImageDialog(this);') 选择图片
        .form-group
          label.control-label.col-sm-2 站点Logo：
          .col-sm-10
            .input-group
              input.form-control(type='text', name='logo', value='', autocomplete='off')
              span.input-group-btn
                button.btn.btn-default(type='button', onclick='showImageDialog(this);') 选择图片
        .form-group
          label.control-label.col-sm-2 SEO关键字：
          .col-sm-10
            input#url.form-control(type="text",name="seoKeywords",value="#{site.seoKeywords}")
        .form-group
          label.control-label.col-sm-2 描述：
          .col-sm-10
            textarea#description.form-control(type="text",name="description",rows="3")
              | #{site.description}

        .form-group
          label.control-label.col-sm-2 统计代码：
          .col-sm-10
            textarea#script.form-control(name="script",rows="5")
              | #{site.script}
        .form-group
          label.control-label.col-sm-2 上线:
          .col-sm-10
            label.checkbox
              if (site && site.enabled)
                input#enabled.mini(type='checkbox' name='enabled' checked)
              else
                input#enabled.mini(type='checkbox' name='enabled')
        .form-group
          .col-sm-10.col-sm-offset-2
            button.btn.btn-primary(type="submit") 保存
            a.btn.btn-link(href="/cms/site/list") 返回
