//
   Created by danne on 2015/10/29.
extends ../layout
block header
//应用的page title
block pageTitle
  if viewType == 'view'
    h1 用户信息查看审核
      small 查看用户信息

block main
  .panel
    .panel-heading.with-border
      if viewType == 'view'
        h3.panel-title 查看用户信息

      .panel-tools
        a.btn.btn-sm.btn-default(href='/system/user/list',title="返回")
          i.fa.fa-reply
        if user.approvedStatus != "02"
          button#save.btn.btn-sm.btn-default(title="保存")
            i.fa.fa-save
    .panel-body
      div#roleEdit.row
        .col-md-12

          form#channelForm.form-horizontal(name='channelForm', action='/system/user/saveApproved', method='post')
            input#id(type='hidden', name='id', value="#{user._id}")

            input#_csrf(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.control-label.col-md-3 用户名：
              .controls.col-md-8
                | #{user != null ? user.username : ''}
            .form-group
              label.control-label.col-md-3 姓名：
                span
              .controls.col-md-8
                | #{user != null ? user.fullname : ''}
            .form-group
              label.control-label.col-md-3 手机号：
                span
              .controls.col-md-8
                | #{user != null ? user.mobile : ''}
            .form-group
              label.control-label.col-md-3 邮箱：
                span
              .controls.col-md-8
                | #{user != null ? user.email : ''}
            .form-group
              label.control-label.col-md-3 身份证：
                span
              .controls.col-md-8
                | #{user != null ? user.numberID : ''}
            .form-group
              label.control-label.col-md-3 职位：
                span
              .controls.col-md-8
                | #{user != null ? user.place : ''}
            .form-group
              label.control-label.col-md-3 标识：
                span
              .controls.col-md-8
                | #{user != null ? user.code : ''}
            .form-group
              label.control-label.col-md-3 是否验证：
                span
              .controls.col-md-8
                | #{user != null ? user.verification == true ? "是" :"否" : ''}
            .form-group
              label.control-label.col-md-3 验证时间：
                span
              .controls.col-md-8
                | #{user != null ? formatDatetime(user.verifiTime) : ''}
            .form-group
              label.control-label.col-md-3 证件照：
                span
              .controls.col-md-8
                div
                  img#headImgs.img-rounded(width="200px" height="160px" src="#{user != null ? user.headImgs : ''}")
            .form-group
              label.control-label.col-md-3 审核结果：
                span
              .controls.col-md-8
                if user.approvedStatus == "01"
                  select#approvedStatus.form-control(name='approvedStatus')
                    option(value='') -- 请选择 --
                if user.approvedStatus != "01"
                  | #{user.approvedStatus == "02" ? "通过" : "不通过"}
            if user.approvedStatus != "01"
              .form-group
                label.control-label.col-md-3 审核人：
                  span
                .controls.col-md-8
                  | #{user != null ?user.approvedBy:""}
              .form-group
                label.control-label.col-md-3 审核时间：
                  span
                .controls.col-md-8
                  | #{user != null ? formatDatetime(user.approvedTime):""}
            div#remarkText
              .form-group
                label.control-label.col-md-3 拒绝理由：
                  span
                .controls.col-md-8
                  if(user.approvedStatus == "03")
                    textarea#remark.form-control(name="remark",rows='03',readonly)
                      | #{user ? user.remark : ""}
                  if(user.approvedStatus != "03")
                    textarea#remark.form-control(name="remark",rows='03')
                      | #{user ? user.remark : ""}
                  span#err(style='color:red')
//应用添加的脚本在scripts block中定义
block scripts
  script.
    $(document).ready(function () {
      selectPosition();
      var status='#{user.approvedStatus}';
      if(status == "03"){
        $("#remarkText").show();
      }else{
        $("#remarkText").hide();
      }
      var form = $('#channelForm');
      $("#save").on('click', function () {
        var value=$("#approvedStatus").val();
        var remark=$("#remark").val();
        if(value == "03"){
          if(remark == "" || remark == undefined){
            $("#err").html("请输入拒绝理由");
            return false;
          }else{
            $("#err").html("");
            form.submit();
          }
        }else{
          $("#err").html("");
          form.submit();
        }
      });
      $("#approvedStatus").change(function () {
        var val=$(this).val();
        if(val == "03"){
          $("#remarkText").show();
        }else{
          $("#remarkText").hide();
        }
      });
      form.validate({
        rules: {
          approvedStatus: {
            required: true
          }
        },
        messages: {
          approvedStatus: {
            required: "选择审核结果"
          }
        }
      });
      $("#headImgs").click(function () {
        var width = $(this).width();
        var height = $(this).height();
        var heand="#{user != null ? user.headImgs : ''}";
        if(heand != ""){
          if (width <= 300) {
            $(this).width(width * 3);
            $(this).height(height * 3);
          } else {
            $(this).width(width / 3);
            $(this).height(height / 3);
          }
        }
      });
    });
    function selectPosition() {
      var data = [{"code": "02", "name": "通过"}, {"code": "03", "name": "不通过"}];
      $.each(data,function(i,e) {
        $("#approvedStatus").append("<option value='" + e.code + "'>" + e.name + "</option>");
      });
    }

