//
   Created by pc on 2015/10/27.
extends ../layout

block header
  link(rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 公司信息的管理
        .panel-tools.pull-right
          a.btn.btn-default.btn-sm(href="/member/company/add" title="添加公司信息")
            i.fa.fa-plus.fa-fw
    .panel-body
      #tableWrapper(style="display:none")
        table#companyList.table.table-hover.table-striped.table-responsive
          thead
            //th 类型
            th 名称
            th 简称
            th 电话
            th 邮箱
            th 地址
            th Logo
            th 激活
            th 操作
          tbody

    form#addQuizForm.form-horizontal(method='post', action='/member/company/company/addQuiz')
      input#ids(type='hidden',name='ids')
      input#companyId(type='hidden',name="companyId" value='#{companyId}')
      input#_csrf(type='hidden', name='_csrf', value=_csrf)

    form#revokeQuizForm.form-horizontal(method='post', action='/member/company/company/revokeQuiz')
      input#companyIds(type='hidden',name='ids')
      input#companyPool(type='hidden',name="companyId" value='#{companyId}')
      input#_csrfs(type='hidden', name='_csrf', value=_csrf)


//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script.
    $(document).ready(function () {
      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: true,
        searching: true,
        processing: false,
        //scrollX:true,
        stateSave: true,
        serverSide: true,
        //select: true,
        deferRender: true
      };

      var t = $('#companyList').DataTable($.extend(opts, {
        ajax: {url: '/member/company/datatable'},
        columnDefs: [
          {
            targets: -1, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              return "<div class='btn-group'> <a class='btn btn-sm btn-default' title='编辑公司信息' href='/member/company/edit/" + row._id + "'><i class='fa fa-pencil'></i></a>"
                      + "<a class='btn btn-sm btn-default del' title='删除公司信息'><i class='fa fa-trash'></i></a></div>";
            }
          }
        ],
        columns: [
          //{data: ""},
          //{data: "type", defaultContent: ''},
          {data: "fullname", defaultContent: ''},
          {data: "shortname", defaultContent: ''},
          {data: "tel", defaultContent: ''},
          {data: "email", defaultContent: ''},
          {data: "address", defaultContent: ''},
          {data: "logo", defaultContent: '',
            'class': 'text-center', render: function (data, type, full, meta) {
            var result = "";
            if(data){
              result += "<img src='"+data+"' width='70' height='50'/>"
            }
            return result;
          }},
          {
            data: "enabled",
            defaultContent: '',
            'class': 'text-center',
            render: function (data, type, full, meta) {
              var result = "";
              if (data == '1') {
                result = "<a class='' title='激活/禁用' href='/member/company/enable/" + full._id + "'><i class='fa fa-check-square'/></a>"
              } else {
                result = "<a class='' title='激活/禁用' href='/member/company/enable/" + full._id + "'><i class='fa fa-square-o'/></a>"
              }
              return result;
            }
          },
          {data: ""}
        ]
      })).on('draw.dt', function () {
        $("#tableWrapper").fadeIn();
      });

      //删除公司信息的事件
      $('#companyList').on('click', 'a.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              window.location.href='/member/company/del/'+id;
            }
          });
        }
      });

      //删除公司信息的事件
      $('#search').on('click', function () {
        var TT = $("#companyList").DataTable();
        TT.ajax.url('/member/company/datatables/#{companyId}').load();
        $("#wechatGroupModal").modal("show");
      });

    })
