.form-horizontal
  .form-group
    label.control-label.col-sm-2 活动名称:
    .col-sm-2
      p.form-control-static #{activity.name}
    label.control-label.col-sm-2 活动时间:
    .col-sm-6
      p.form-control-static #{formatDatetime(activity.startTime)} - #{formatDatetime(activity.endTime)}
  .form-group
    label.control-label.col-sm-2 总人次:
    .col-sm-2
      p.form-control-static #{activity.limit ? activity.limit : 0}
    label.control-label.col-sm-2 可获奖次数:
    .col-sm-2
      p.form-control-static #{activity.winPerUser ? activity.winPerUser : 0}
    label.control-label.col-sm-2 总次数:
    .col-sm-2
      p.form-control-static #{activity.timesPerUser ? activity.timesPerUser : 0}
  .form-group
    label.control-label.col-sm-2 每天次数:
    .col-sm-2
      p.form-control-static #{activity.timesPerDay ? activity.timesPerDay : 0}
    label.control-label.col-sm-2 每周次数:
    .col-sm-2
      p.form-control-static #{activity.timesPerWeek ? activity.timesPerWeek : 0}
    label.control-label.col-sm-2 分享+次数:
    .col-sm-2
      p.form-control-static #{activity.sharedAddTimes ? activity.sharedAddTimes : 0}
  .form-group
    label.control-label.col-sm-2 描述:
    .col-sm-9
      p.form-control-static
        | #{activity.description}
  .form-group
    #showAward.col-sm-12.panel
      .paramsTitle.clearfix
        p.col-sm-2.bg-info
          b 奖项
        p.col-sm-2.bg-info
          b 名称
        p.col-sm-2.bg-info
          b 数量
        p.col-sm-2.bg-info
          b 中奖率
        p.col-sm-4.bg-info
          b 说明
      #awardIds.paramsBody.clearfix
        each e,i in activity.awards
          .row
            p.col-sm-2
              span #{e.awardName}
            p.col-sm-2
              span #{e.award.name}
            p.col-sm-2
              span #{e.count}
            p.col-sm-2
              span #{e.ratio}
            p.col-sm-4
              span #{e.note}
