//
  Created by danne on 2015/10/29.
extends ../layout
block header
//应用的page title
block pageTitle
  if viewType == 'add'
    h1 系统设定信息新增
      small 添加系统设定信息
  if viewType == 'edit'
    h1 系统设定信息编辑
      small 编辑系统设定信息

block main
  if viewType == 'edit'
    form#settingDelForm(method='post', style='display:none', action='/terminal/del')
      input#ids(type='hidden',name='ids',value="#{setting._id}")
      input#_csrf(type='hidden', name='_csrf', value=_csrf)
  .box
    .box-header.with-border
      if viewType == 'add'
        h2.box-title 添加系统设定信息
      if viewType == 'edit'
        h2.box-title 编辑系统设定信息
    .box-body
      div.row
        .col-sm-12
          form#settingForm.form-horizontal(name='terminalForm', action='#{baseUrl}/setting/save', method='post')
            if viewType == 'edit'
              input#id(type='hidden', name='id', value="#{setting._id}")
            input#_csrf(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.control-label.col-sm-2 设定组：
              .col-sm-4
                input#group.form-control(name='group', value="#{setting ? setting.group : ''}")
              .col-sm-5
                p.help-block 分组标签，方便进行参数管理
            .form-group
              label.control-label.col-sm-2.required 标识：
              .col-sm-4
                input#key.form-control.required(name='key', value="#{setting ? setting.key : ''}")
              .col-sm-5
                p.help-block 唯一识别标识，请谨慎修改，不正确参数可能导致系统部分功能不能正确运行
            .form-group
              label.control-label.col-sm-2.required 设定值：
              .col-sm-4
                input#value.form-control.required(name='value', value="#{setting ? setting.value : ''}")
              .col-sm-5
                p.help-block 参数对应的参数值
            .form-group
              label.control-label.col-sm-2 描述：
              .col-sm-4
                input#describe.form-control(name='description', value="#{setting ? setting.description : ''}")
            .form-group
              .col-sm-4.col-sm-offset-2
                button#save.btn.btn-default(type="submit", title="保存")
                  i.fa.fa-save
                  span  保存
                | &nbsp;
                a.btn.btn-default(href='#{baseUrl}/setting' title="返回")
                  i.fa.fa-reply
                  span  返回

//应用添加的脚本在scripts block中定义
block scripts
  script(src='#{theme}/plugins/input-mask/jquery.inputmask.js')
  script(src='#{theme}/plugins/input-mask/jquery.inputmask.date.extensions.js')
  script.
    $(document).ready(function () {
      var form = $('#settingForm');

      form.validate({
        ignore: '.ignore',
        rules: {
          key: {
            required: true,
            remote: '#{baseUrl}/setting/checkName?oldKey=#{setting ? setting.key : ''}'
          },
          value: {
            required: true
          }
        },
        messages: {
          key: {
            remote: '该用户已经存在!'
          }
        }
      });

      $('#del').on('click', function () {
        bootbox.confirm("确定要删除数据吗?", function (result) {
          if (result) {
            $("#terminalDelForm").submit();
          }
        });
      });


    });

