//
   Created by danne on 2015/10/29.
extends ../../layouts/default
block header
//应用的page title
block pageTitle
  if viewType == 'add'
    h1 用户信息新增
      small 添加用户信息
  if viewType == 'edit'
    h1 用户信息编辑
      small 编辑用户信息
  if viewType == 'view'
    h1 用户信息查看
      small 查看用户信息

block main
  .panel
    .panel-heading.with-border
      if viewType == 'add'
        h3.panel-title 添加用户信息
      if viewType == 'edit'
        h3.panel-title 编辑用户信息
      if viewType == 'view'
        h3.panel-title 查看用户信息

      .panel-tools
        a.btn.btn-box-tool.btn-default(href='/system/user')
          i.fa.fa-reply
          span  返回
        | &nbsp;
        if viewType == 'add' || viewType == 'edit'
          button#save.btn.btn-box-tool.btn-default
            i.fa.fa-save
            span  保存

      //&nbsp;
      //button.btn.btn-box-tool(data-widget="collapse")
      //  i.fa.fa-minus
    .panel-body
      div#userEdit.row
        .col-md-12
          if viewType == 'edit'
            form#userDelForm(method='post', style='display:none', action='/system/user/del')
              input#ids(type='hidden',name='ids',value="#{user._id}")
              input#_csrf(type='hidden', name='_csrf', value=_csrf)

          form#userForm.form-horizontal(name='userForm', action='/system/user/save', method='post')
            if(!user.isNew)
              input#id(type='hidden', name='id', value="#{user._id}")
            input#_csrf(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.control-label.col-md-3.required 用户名：
              .col-md-9
                input#username.form-control.required(name='username', value="#{user.username}")
            .form-group
              label.control-label.col-md-3.required Email：
              .col-md-9
                input#email.form-control.required(name='email', value="#{user.email}")

            .form-group
              label.control-label.col-md-3 设定密码：
              .col-md-9
                input#password.form-control.required(name='password',type="password",class="#{viewType == 'edit' ? 'ignore'}")
            .form-group
              label.control-label.col-md-3 重复密码：
              .col-md-9
                input#confirmPassword.form-control.required(name='confirmPassword',type="password",class="#{viewType == 'edit' ? 'ignore'}")
            .form-group
              label.control-label.col-md-3 姓：
              .col-md-9
                input#lastname.form-control(name='lastname', value="#{user.lastname}")
            .form-group
              label.control-label.col-md-3 名字：
              .col-md-9
                input#firstname.form-control(name='firstname', value="#{user.firstname}")

            fieldset
              legend.text-center
                h4 角色授权
              .form-group
                label.control-label.col-md-3
                .col-md-9
                  .row
                    each role in roles
                      .checkbox.icheck.col-md-4
                        label
                          if (user != null && user.roles.join(",").match('' + role.id))
                            input(type="checkbox", name="roles", value="#{role.id}", checked="checked")
                          else
                            input(type="checkbox", name="roles", value="#{role.id}")
                          | &nbsp;&nbsp; #{role.name}[#{role.description}]
//应用添加的脚本在scripts block中定义
block scripts
  script.
    $(document).ready(function () {

      var form = $('#userForm');
      $("#save").on('click', function () {
        form.submit();
      });

      form.validate({
        ignore: '.ignore',
        rules: {
          username: {
            required: true,
            remote: '/system/user/checkname?oldName=#{user.username}'
          },
          email: {
            email: true
          }, password: {
            rangelength: [6, 18]
          },
          confirmPassword: {
            equalTo: "#password"
          }
        },
        messages: {
          username: {
            remote: '该用户已经存在!'
          },
          confirmPasswod: {
            equalTo: '重复密码必须与设定密码一致!'
          }
        }
      });

      $('#del').on('click', function () {
        bootbox.confirm("确定要删除数据吗?", function (result) {
          if (result) {
            $("#userDelForm").submit();
          }
        });
      });


    });

