//
   Created by danne on 2015/10/29.
extends layout
block header
//应用的page title
block pageTitle
  if viewType == 'add'
    h1 服务项信息新增
      small 添加服务项信息
  if viewType == 'edit'
    h1 服务项信息编辑
      small 编辑服务项信息
  if viewType == 'view'
    h1 服务项信息查看
      small 查看服务项信息

block main
  .panel
    .panel-heading.with-border
      if viewType == 'add'
        h3.panel-title 添加服务项信息
      if viewType == 'edit'
        h3.panel-title 编辑服务项信息
      if viewType == 'view'
        h3.panel-title 查看服务项信息

      .panel-tools.pull-right
        a.btn.btn-panel-tool.btn-default(href='/bank/service/list')
          i.fa.fa-reply
          span  返回
        | &nbsp;
        if viewType == 'add' || viewType == 'edit'
          button#save.btn.btn-panel-tool.btn-default
            i.fa.fa-save
            span  保存
        | &nbsp;
      //button.btn.btn-box-tool(data-widget="collapse")
      //  i.fa.fa-minus
    .panel-body
      div#userEdit.row
        .col-md-12
          if viewType == 'edit'
            form#serviceDelForm(method='post', style='display:none', action='/bank/service/del')
              input#ids(type='hidden',name='ids',value="#{sitem._id}")
              input#_csrf(type='hidden', name='_csrf', value=_csrf)

          form#serviceForm.form-horizontal(name='serviceForm', action='/bank/service/save', method='post',enctype='multipart/form-data')
            if viewType == 'edit'
              input#id(type='hidden', name='id', value="#{sitem._id}")

            input#_csrf(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.control-label.col-md-2.required 服务名称：
              .controls.col-md-8
                input#serverName.form-control.required(name='serverName', value="#{sitem ? sitem.serverName : ''}")
            .form-group
              label.control-label.col-md-2 服务图片：
              .controls.col-md-8
                input#serviceImg.form-control.input-sm(type='file', name='serviceImg', value="#{sitem ? sitem.serviceImg : ''}")
              if(sitem && sitem.serviceImg)
                .col-sm-8.col-xs-12.col-sm-offset-2
                  img.img-responsive.img-thumbnail(src='#{sitem.serviceImg ? sitem.serviceImg : ""}', width='200')
            .form-group
              label.control-label.col-sm-2.col-md-2.col-xs-12 可预订：
              .col-sm-8.col-md-8.col-xs-12
                label.checkbox
                  if (sitem && sitem.bespeak)
                    input#enabled(type='checkbox' name='bespeak' checked="checked")
                  else
                    input#enabled(type='checkbox' name='bespeak')
            //.form-group
            //  label.control-label.col-md-2 名字：
            //  .controls.col-md-9
            //    input#firstname.form-control(name='firstname', value="#{sitem ? sitem.firstname : ''}")

//应用添加的脚本在scripts block中定义
block scripts
  script(src="//cdn.bootcss.com/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js")
  script.
    $(document).ready(function () {
      $("#serviceImg").filestyle({buttonText: '上传图片'});
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
      });
      var form = $('#serviceForm');
      $("#save").on('click', function () {
        form.submit();
      });

      form.validate({
        ignore: '.ignore',
        rules: {
          serverName: {
            required: true,
            remote: '/bank/service/checkname?oldName=#{sitem ? sitem.serverName : ''}'
          }
        },
        messages: {
          serverName: {
            remote: '该用户已经存在!'
          }
        }
      });

      $('#del').on('click', function () {
        bootbox.confirm("确定要删除数据吗?", function (result) {
          if (result) {
            $("#serviceDelForm").submit();
          }
        });
      });


    });

