//
   Created by danne on 2015/10/24.
extends layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  link(href="/themes/default/plugins/uploadify/uploadify.css" rel="stylesheet" type="text/css")
  link( rel="stylesheet" href="/themes/default/plugins/datatables/select.bootstrap.min.css" type="text/css")
//应用的page title
block pageTitle
  h1 会员信息查看
    small 系统中会员信息
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 会员列表
      .pull-right.panel-tools
        //form#imputMemberForm(method='post', action='/member/importMember')
        //    input#_csrf(type='hidden', name='_csrf', value=_csrf)
        //    input#files(type="file", name='uploadify')
        //    input#filePath(type="hidden" name='filePath')

        button#exportMember.btn.btn-default.btn-sm(title='导出会员数据')
          i.fa.fa-cloud-download
        | &nbsp;&nbsp;
        a#setGroup.btn.btn-sm.btn-default(title='分组')
          i.fa.fa-group
    .panel-body
      #tabbleWrapper(style="display:none")
        form.form-inline
          .form-group
            label.control-label(for="username")  用户名:
            input#username.form-control.required(name='username', value="#{querys ? querys.username : ''}",placeholder='名称')
          .form-group
            label.control-label(for="name")  姓名:
            input#name.form-control.required(name='name', value="#{querys ? querys.name : ''}",placeholder='姓名')
          .form-group
            label.control-label(for="phone")  手机:
            input#phone.form-control.required(name='phone', value="#{querys ? querys.phone : ''}",placeholder='手机')
          .form-group
            label.control-label(for="email")  Email:
            input#email.form-control.required(name='email', value="#{querys ? querys.email : ''}",placeholder='邮箱')
          .form-group
            label.control-label(for="email")  积分>=:
            input#score.form-control.required(name='score', value="#{querys ? querys.score : ''}",placeholder='查询大于该积分的数据')
          .form-group
            a#search.btn.btn-default.btn-sm(title='查询')
              i.fa.fa-search
              span 查询
        form#memberDelForm(method='post', style='display:none', action='/member/memberDel')
          input#ids(type='hidden',name='ids')
          input#_csrf(type='hidden', name='_csrf', value=_csrf)

        table#memberList.table.table-bordered.table-hover.table-striped
          thead
            //th
            //  input#selectAll(type="checkbox" title="全选")
            th 微信
            th 用户名
            th 姓名
            th 手机
            th Email
            //th 所属渠道
            th 会员组
            th 积分
            th 激活
            th.text-center(width="160") 操作
          tbody

    #groupModal.modal.fade.createInvoice(tabindex="-1", role="dialog", aria-labelledby="createGroupModal", aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button",data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h4.modal-title 设置分组
          .modal-body
            form#groupForm.form-horizontal(method='post', action='/member/setMemberGroup')
              input#memberIds(type='hidden',name='memberIds')
              input#_csrf1(type='hidden', name='_csrf', value=_csrf)
              .form-group
                label.control-label.col-md-3 选择分组:
                .controls.col-md-8
                  select#groupName.form-control(name="groupName")
                    option(value='') -- 请选择 --
          .modal-footer
            .center-block.pull-right
            button#group.btn.btn-primary(type="button", data-dismiss="modal") 确定

    #scoreModal.modal.fade.text-center(tabindex="-1", role="dialog", aria-labelledby="scoreModal", aria-hidden='true')
      .modal-dialog.modal-lg(style="display: inline-block; width: 40%;")
        .modal-content
          .modal-header.text-left
            button.close(type="button",data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h3.text-left
              span 积分记录
          .modal-body
            table#scoreList.table.table-bordered.table-hover.table-striped.text-left
              thead
                th 积分行为
                th 积分
                th 记录时间
              tbody

          .modal-footer
            .center-block.pull-right
            botton.btn.btn-primary(type="button", data-dismiss="modal") 确定

//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script(src="/themes/default/plugins/uploadify/jquery.uploadify.min.js")
  script(src="/themes/default/plugins/uploadify/dora.public.js")
  script(src='/themes/default/plugins/datatables/dataTables.select.min.js')
  script.
    $(document).ready(function () {
      // 上传
      initUploadFyBtn('files', 'xlsx', '', function (data) {
        $("#filePath").val(data[0].url);
        if (data) {
          bootbox.confirm("确定要导入" + data + "文件中的数据吗?", function (result) {
            if (result) {
              $("#imputMemberForm").submit();
            }
          });
        }
      });

      $.ajax({
        type: 'get', //数据发送方式
        url: '/member/group/all',
        data: {}, //要传递的数据
        success: function (data) { //成功
          $.each(data, function (i, e) {
            $("#groupName").append("<option value='" + e._id + "'>" + e.name + "</option>");
          });
        }
      });
      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: false,
        searching: false,
        processing: false,
        select: true,
        //scrollX:true,
        serverSide: true,
        deferRender: true

      };
      var t = $('#memberList').DataTable($.extend(opts, {
        ajax: {url: '/member/memberDatatable'},
        order: [[1, 'asc']],
        columnDefs: [
          //{targets: 0, visible: true, sortable: false, searchable: false, className: 'text-right', defaultContent: ''},
          {
            targets: -1, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              return "<a class='btn btn-default btn-sm key' title='重置密码' href='/member/resetPwd/" + row._id + "'>重置密码</a>";
            }
          }
        ],
        columns: [
          //{data: ""},
          /* {
           data: "_id", sortable: false, render: function (data, type, row) {
           return '<input type="checkbox" class="select" name="Ids" value="' + data + '">';
           }
           },*/
          {data: "wechatId.nickname", defaultContent: '', 'class': 'text-center'},
          {data: "username", defaultContent: ''},
          {data: "fullname", defaultContent: ''},
          {data: "mobile", defaultContent: ''},
          {data: "email", defaultContent: ''},
          {
            data: "group.name", defaultContent: '', render: function (data, type, full, meta) {
            var result = "";
            if (data == '' || data == undefined) {
              result = "未分组"
            } else {
              result = data;
            }
            return result;
          }
          },
          {
            data: "score", defaultContent: '', 'class': 'text-center', render: function (data, type, full) {
            var re = "<a class='btn btn-sm key' title='查看积分记录' onclick=queryScore('" + full._id + "')>" + ( data ? data : "" ) + "</a>";
            return re;
          }
          },
          {
            data: "enabled", defaultContent: '', 'class': 'text-center', render: function (data, type, full, meta) {
            var result = "";
            if (data == '1') {
              result = "<a class='btn btn-sm key' title='激活/禁用' href='/member/isEnable/" + full._id + "'><i class='fa fa-check-square'/></a>"
            } else {
              result = "<a class='btn btn-sm key' title='激活/禁用' href='/member/isEnable/" + full._id + "'><i class='fa fa-square-o'/></a>"
            }
            return result;
          }
          },
          {data: ""}
        ]
      })).on('draw.dt', function () {
        $('#tabbleWrapper').fadeIn();
      });
      $('body').delegate('#selectAll', 'click', function () {
        alert('12');
      })
      $('#search').on("click", function (e) {
        var name = $('#name').val();
        var username = $('#username').val();
        var phone = $('#phone').val();
        var email = $('#email').val();
        var score = $('#score').val();
        var TT = $('#memberList').DataTable();
        TT.ajax.url('/member/memberDatatable?name=' + name + '&phone=' + phone + '&email=' + email + '&score=' + score + '&username=' + username).load();
        console.log(TT.ajax.url('/member/memberDatatable?name=' + name + '&phone=' + phone + '&email=' + email + '&score=' + score + '&username=' + username));
      });
      $('#exportMember').on("click", function (e) {
        var name = $('#name').val();
        var username = $('#username').val();
        var phone = $('#phone').val();
        var email = $('#email').val();
        var score = $('#score').val();
        window.location.href = '/member/exportMember?name=' + name + '&phone=' + phone + '&email=' + email + '&score=' + score + '&username=' + username
      });
      $('#memberList').on('click', 'button.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        $("#memberDelForm #ids").val(id);
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              $("#memberDelForm").submit();
            }
          });
        }
      });

      // 设置分组功能
      $("#setGroup").on("click", function (e) {
        var len = $('#memberList').find(":checkbox[name='Ids']:checked").length;
        if (len > 0) {
          var ids = [];
          $('#memberList').find(":checkbox[name='Ids']:checked").each(function (e) {
            ids.push($(this).val())
          });
          $('#memberIds').val(ids);
          $('#groupModal').modal('show');
        } else {
          bootbox.alert("请选择微信粉丝用户");
        }
      });
      $("#group").on("click", function (e) {
        var data = $("#groupForm").serialize();
        $.ajax({
          type: 'post', //数据发送方式
          url: '/member/setMemberGroup',
          data: data, //要传递的数据
          success: function (data) { //成功
            var name = $('#name').val();
            var phone = $('#phone').val();
            var email = $('#email').val();
            var channel = $('#channel').val();
            var TT = $('#memberList').DataTable();
            TT.ajax.url('/member/memberDatatable?name=' + name + '&phone=' + phone + '&email=' + email).load();

          }
        });
      });
      var topTable = $('#scoreList')
              .dataTable({
                "language": {
                  "url": "/themes/default/plugins/datatables/Chinese.json"
                },
                "lengthMenu": [5],
                lengthChange: false,
                autoWidth: false,
                searching: false,
                serverSide: true,
                paging: true,
                ajax: {url: '/member/score/datatableScore'},
                rowid: '_id',
                columns: [
                  {data: "action.name", defaultContent: ''},
                  {
                    data: "score", defaultContent: '', render: function (data, type, full) {
                    return data ? data : "";
                  }
                  },
                  {
                    data: "createdAt", defaultContent: '', render: function (data, type, full, meta) {
                    var b = moment(new Date(data));
                    var date = "";
                    if (data != null) {
                      date = b.format("YYYY-MM-DD HH:mm:ss");
                    }
                    return date;
                  }
                  }
                ]
              });

    });
    function queryScore(id) {
      var TT = $('#scoreList').DataTable();
      TT.ajax.url('/member/score/datatableScore?memberId=' + id).load();
      $("#scoreModal").modal("show");
    }
