//
   Created by danne on 2015/10/29.
extends layout
block header
//应用的page title
block pageTitle
  if action.isNew
    h1 会员行为新增
      small 添加会员行为
  if !action.isNew
    h1 会员行为编辑
      small 编辑会员行为
  if viewType == 'view'
    h1 会员行为查看
      small 查看会员行为
block main
  .panel
    .panel-heading.with-border
      if action.isNew
        h3.panel-title 添加会员行为
      if !action.isNew
        h3.panel-title 编辑会员行为
      if viewType == 'view'
        h3.panel-title 查看会员行为

      .panel-tools
        a.btn.btn-box-tool.btn-default(href='/member/action/list')
          i.fa.fa-reply
          span  返回
        | &nbsp;
        if action.isNew || !action.isNew
          button#save.btn.btn-box-tool.btn-default
            i.fa.fa-save
            span  保存
        | &nbsp;
        if viewType == 'view' || !action.isNew
          button#del.btn.btn-box-tool.btn-danger.del
            i.fa.fa-trash
            span  删除
      //&nbsp;
      //button.btn.btn-box-tool(data-widget="collapse")
      //  i.fa.fa-caret-left
    .panel-body
      div#userEdit.row
        .col-md-12
          if !action.isNew
            form#delForm(method='post', style='display:none', action='/member/action/del')
              input#ids(type='hidden',name='ids',value="#{action._id}")
              input#_csrf(type='hidden', name='_csrf', value=_csrf)

          form#actionForm.form-horizontal(name='actionForm', action='/member/action/save', method='post')
            if !action.isNew
              input#id(type='hidden', name='id', value="#{action._id}")

            input#_csrf(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.control-label.col-md-3.required 标识：
              .controls.col-md-9
                if !action.isNew
                  input#code.form-control.required(name='code', value="#{action ? action.code : ''}" readonly)
                if action.isNew
                  input#code.form-control.required(name='code', value="#{action ? action.code : ''}")
            .form-group
              label.control-label.col-md-3.required 名称：
              .controls.col-md-9
                input#name.form-control.required(name='name', value="#{action ? action.name : ''}")

            .form-group
              label.control-label.col-md-3.required 积分：
              .controls.col-md-9
                input#score.form-control.required(name='score',value="#{action ? action.score : ''}")
            .form-group
              label.control-label.col-md-3 描述：
              .controls.col-md-9
                textarea#description.form-control.required(name='description', rows='3')
                  | #{action ? action.description : ''}

//应用添加的脚本在scripts block中定义
block scripts
  script.
    $(document).ready(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
      });
      var form = $('#actionForm');
      $("#save").on('click', function () {
        form.submit();
      });

      form.validate({
        rules: {
          code: {
            required: true,
            remote: '/member/action/checkCode?oldCode=#{action ? action.code : ''}',
            enCharset:true
          },
          name: {
            required: true,
            remote: '/member/action/checkName?oldName=#{action ? action.name : ''}'
          },
          score: {
            required: true,
            numbers:true
          }
        },
        messages: {
          code:{
            remote:"表示不能重复"
          },name:{
            remote:"名称不能重复"
          }
        }
      });

      $('#del').on('click', function () {
        bootbox.confirm("确定要删除数据吗?", function (result) {
          if (result) {
            $("#delForm").submit();
          }
        });
      });


    });

