//
   Created by Renee on 2016/5/10.

extends layout
block header
  link( rel="stylesheet",href="/themes/default/plugins/daterangepicker/daterangepicker-bs3.css")
block main
  if !product.isNew
    form#userDelForm(method='post', style='display:none', action='/shop/product/link/del')
      input#ids(type='hidden',name='ids',value="#{product._id}")
      input(type='hidden', name='_csrf', value=_csrf)

  form#productForm.form-horizontal(method="post",action="/shop/product/link/save",enctype='multipart/form-data')
    input(type='hidden', name='_csrf', value=_csrf)
    input#id(type='hidden', name='id', value="#{product._id}")
    input#activityType(type='hidden', name='activityType', value="c")
    .panel(style="position:relative;")
      .panel-heading
        h3.panel-title
          span.text-info #{product.name} #{product.isNew ? '添加外链商品' : '编辑外链商品'}
          .panel-tools.pull-right
            a.btn.btn-default.btn-sm(href='/shop/product/link/list')
              i.fa.fa-reply
            button#save.btn.btn-sm.btn-default(title="保存")
              i.fa.fa-save
      .panel-body
        .form-group
          label.control-label.col-sm-2.required 商品编码：
          .col-sm-10
            input#no.form-control.required(type="text",name="no",value="#{product.no}")
        .form-group
          label.control-label.col-sm-2.required 商品名称：
          .col-sm-10
            input#name.form-control.required(type="text",name="name",value="#{product.name}")

        .form-group
          label.control-label.col-sm-2 促销时间：
          .col-sm-10
            .input-group
              input#reservationtime.form-control.pull-right(type='text',name="startDate",value="#{product.startDate && product.endDate ? (formatDatetime(product.startDate) + ' - ' + formatDatetime(product.endDate)) : ''}")
              .input-group-addon
                i.fa.fa-clock-o
            p.help-block 促销活动活动开始结束时间范围
        .form-group
          label.control-label.col-sm-2 商城售价：
          .col-sm-10
            input#price.form-control(type="number",name="price",value="#{product.price}")
        .form-group
          label.control-label.col-sm-2 促销售价：
          .col-sm-10
            input#activityPrice.form-control(type="number",name="activityPrice",value="#{product.activityPrice}")
        .form-group
          label.control-label.col-sm-2 库存数量：
          .col-sm-10
            input#stockNum.form-control(type="number",name="stockNum",value="#{product.stockNum}")
        .form-group
          label.control-label.col-sm-2 促销描述：
          .col-sm-10
            input#activityPriceDesc.form-control(type="text",name="activityPriceDesc",value="#{product.activityPriceDesc}")
        .form-group
          label.control-label.col-sm-2.required 商品购买链接：
          .col-sm-10
            input#url.form-control.required(type="text",name="url",value="#{product.url}")
            p.help-block 商品源链接，用户点击后可以进入商品购买页面

        .form-group
          label.control-label.col-sm-2.col-md-2.col-xs-12 商品主图：
          .col-sm-10
            input#thumbImg.form-control(type="file",name='thumbImg')
            p.help-block 只支持JPG图片
        if(product.thumbImg)
          .form-group
            label.col-xs-12.col-sm-3.col-md-3.control-label
            .col-sm-9.col-xs-12
              .input-group
                img.img-responsive.img-thumbnail(src='#{product.thumbImg ? url(product.thumbImg) : ""}', width='200')
block scripts
  script(src="/themes/default/plugins/daterangepicker/daterangepicker.js")
  script(src="//cdn.bootcss.com/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js")
  script.
    $(document).ready(function () {
      //图片上传
      $(".form-group").find(':file').filestyle({buttonText: '上传图片'});

      //促销活动日期格式
      $('#reservationtime').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 10,
        format: 'YYYY-MM-DD HH:mm:ss'
      });

      //validator
      $('#productForm').validate({
        rules: {
          name: {
            required: true,
            remote: '/shop/product/link/checkName?oldName=#{product ? product.name : ''}'
          }, no: {
            required: true,
            remote: '/shop/product/link/checkNo?oldNo=#{product ? product.no : ''}'
          }, url: {
            required: true
          }
        },
        messages: {
          name: {
            remote: '产品名称已存在'
          },no: {
            remote: '产品编号已存在'
          }
        }
      });


    });
