//
   Created by yu869 on 2015/10/26.

extends layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  style.
    .table > tbody > tr > td {
      vertical-align: middle;
    }

    .form > div > div > select {
      width: 200px;
    }
  //应用的page title
block pageTitle
  h1 发布产品列表

block main
  .panel
    .panel-heading
      h3.panel-title 产品列表
        .panel-tools
          a.btn.btn-sm.btn-default(href='/shop/product/link/release/list' title="返回发布列表")
            i.fa.fa-reply
          | &nbsp;&nbsp;
          a#revokeProductBtn.btn.btn-sm.btn-default(title="移除发布产品列表")
            i.fa.fa-minus
          | &nbsp;&nbsp;
          a#topProductBtn.btn.btn-sm.btn-default(title="将选中的产品置顶")
            i.fa.fa-thumb-tack
          | &nbsp;
    .panel-body
      form#searchForm.form-inline
        .form-group
          label.control-label(for="name")  产品名称:
          input#name.form-control.required(name='name', value="",placeholder='产品名称')
        //.form-group
        //    label.control-label(for="category")  商品分类:
        //    select#category.form-control.required(name='category' )
        //        option(value="") --请选择--
        .form-group
          label.control-label(for="activityType")  活动分类:
          select#activityType.form-control(name='activityType' )
            option(value="") --请选择--
            each v,k in types
              option(value="#{k}") #{v}
        .form-group
          a#search.btn.btn-default.btn-sm(title='查询')
            i.fa.fa-search
            span 查询
        .pull-right
          a#searchTopProduct.btn.btn-default.btn-sm(title='查看已置顶的产品')
            i.fa.fa-search
            span 查看置顶
    table#productList.table.table-hover.table-striped
      thead
        th
          input#selectAll(type="checkbox" title="全选")
        th 店铺
        th 商品图
        th 名称
        th 活动类型
        th 活动开始
        th 活动结束
        th 商城价
        th 活动价
        th 差价
        th 库存
        th 月销
        //th 描述相符
      tbody

      form#delForm(method='post', style='display:none', action='/shop/product/link/remeveProduct')
        input#ids(type='hidden',name='ids',value="#{id}")
        input#productIds(type='hidden',name='productIds')
        input(type='hidden', name='_csrf', value=_csrf)

      form#topProductForm(method='post', style='display:none', action='/shop/product/link/addTopProducts')
        input#releaseProductId(type='hidden',name='releaseProductId',value="#{id}")
        input#productId(type='hidden',name='productId')
        input(type='hidden', name='_csrf', value=_csrf)
      form#revokeTopProductForm(method='post', style='display:none', action='/shop/product/link/revokeTopProducts')
        input#rpIds(type='hidden',name='rpIds',value="#{id}")
        input#rProductId(type='hidden',name='rProductId')
        input(type='hidden', name='_csrf', value=_csrf)

    #topProductModal.modal.fade.text-center(tabindex="-1", role="dialog", aria-labelledby="topProductModal", aria-hidden='true')
      .modal-dialog.modal-lg(style="display: inline-block; width: auto;")
        .modal-content
          .modal-header
            button.close(type="button",data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h3.text-left
              span 查看已置顶的产品
          .modal-body
            table#topProductList.table.table-bordered.table-hover.table-striped
              thead
                th
                  input#selectAlls(type="checkbox" title="全选")
                th 商品图
                th 名称
                th 活动类型
                th 活动开始
                th 活动结束
                th 商城价
                th 活动价
              tbody

          .modal-footer
            .center-block.pull-right
            a#revokeTop.btn.btn-primary 取消置顶
            botton.btn.btn-primary(type="button", data-dismiss="modal") 确定




//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script(src='/themes/default/plugins/datepicker/bootstrap-datepicker.js')
  script.
    $(document).ready(function () {

      var table = $('#productList')
        .dataTable({
          "language": {
            "url": "/themes/default/plugins/datatables/Chinese.json"
          },
          "lengthMenu": [50],
          lengthChange: false,
          autoWidth: false,
          searching: false,
          serverSide: true,
          ajax: {url: '/shop/product/link/findDatatable/#{id}'},
          rowid: '_id',
          columns: [
            {
              data: "_id", sortable: false, render: function (data, type, row) {
              return '<input type="checkbox" class="select" name="Ids" value="' + data + '">';
            }
            },
            {data: "store.name", defaultContent: ''},
            {
              data: "smallImgs", defaultContent: '', render: function (data, type, full, meta) {
              var r = data ? "<a target='_blank' href='" + full.url + "'><img width=50 src='" + data[0] + "'/></a>" : "";
              if (full.thumbImg)
                r = "<a target='_blank' href='" + full.url + "'><img width=50  src='" + full.thumbImg + "'/></a>";
              return r;
            }
            },
            {
              data: "name", defaultContent: '',
              render: function (data, type, full, row) {
                return "编&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：" + full.no + "<br>" + "名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：<a target='_blank' href='" + full.url + "'>" + data + "</a><br>" +
                  "<span style='font-size: smaller'>" + (full.activityPriceDesc == undefined ? "" : full.activityPriceDesc) + "</span>";
              }
            },
            {
              data: "activityType", defaultContent: '', render: function (data, type, full, meta) {
              return data == 'fp' || data == 'fs' ? "限时抢购" : data == 'c' ? "自定义" : "满减";
            }
            },
            {
              data: "startDate", defaultContent: '', render: function (data, type, full, meta) {
              var b = moment(new Date(data));
              var date = "";
              if (data != null) {
                date = b.format("YYYY-MM-DD HH:mm:ss");
              }
              return date;
            }
            },
            {
              data: "endDate", defaultContent: '', render: function (data, type, full, meta) {
              var b = moment(new Date(data));
              var date = "";
              if (data != null) {
                date = b.format("YYYY-MM-DD HH:mm:ss");
              }
              return date;
            }
            },
            {
              data: "price", defaultContent: '', 'class': 'text-right',
              render: function (data, type, full, meta) {
                return data ? data.toFixed(2) : "";
              }
            },
            {
              data: "activityPrice", defaultContent: '', 'class': 'text-right',
              render: function (data, type, full, meta) {
                return data ? data.toFixed(2) : "";
              }
            },
            {
              data: "diffPrice", defaultContent: '', 'class': 'text-right',
              render: function (data, type, full, meta) {
                return data ? data.toFixed(2) : "";
              }
            },
            {data: "stockNum", defaultContent: '', 'class': 'text-center'},
            {data: "monthSalesNum", defaultContent: '', 'class': 'text-center'},
            {
              data: "evaScore",
              defaultContent: '',
              'class': 'text-center',
              render: function (data, type, full, meta) {
                return data ? data + "分" : "0.0分";
              }
              , visible: false
            },
            {data: "no", defaultContent: '', visible: false},
            {data: "thumbImg", defaultContent: '', visible: false},
            {data: "activityPriceDesc", defaultContent: '', visible: false},
            {data: "url", defaultContent: '', visible: false}
          ]
        });
      var topTable = $('#topProductList')
        .dataTable({
          "language": {
            "url": "/themes/default/plugins/datatables/Chinese.json"
          },
          "lengthMenu": [5],
          lengthChange: false,
          autoWidth: false,
          searching: false,
          serverSide: true,
          paging: false,
          ajax: {url: '/shop/product/link/findTopDatatable/#{id}'},
          rowid: '_id',
          columns: [
            {
              data: "_id", sortable: false, render: function (data, type, row) {
              return '<input type="checkbox" class="select" name="Ids" value="' + data + '">';
            }
            },
            {
              data: "smallImgs", defaultContent: '', render: function (data, type, full, meta) {
              return "<a target='_blank' href='" + full.url + "'><img width=50 height=50 src='" + data[0] + "'/></a>";
            }
            },
            {
              data: "name", defaultContent: '', 'class': 'text-left', render: function (data, type, full, row) {
              return "编&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：" + full.no + "<br>" + "名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：<a target='_blank' href='" + full.url + "'>" + data + "</a><br>" +
                "<span style='font-size: smaller'>" + (full.activityPriceDesc == undefined ? "" : full.activityPriceDesc) + "</span>";
            }
            },
            {
              data: "activityType", defaultContent: '', render: function (data, type, full, meta) {
              return data == 'fp' ? "限时抢购" : "满减";
            }
            },
            {
              data: "startDate", defaultContent: '', render: function (data, type, full, meta) {
              var b = moment(new Date(data));
              var date = "";
              if (data != null) {
                date = b.format("YYYY-MM-DD HH:mm:ss");
              }
              return date;
            }
            },
            {
              data: "endDate", defaultContent: '', render: function (data, type, full, meta) {
              var b = moment(new Date(data));
              var date = "";
              if (data != null) {
                date = b.format("YYYY-MM-DD HH:mm:ss");
              }
              return date;
            }
            },
            {
              data: "price",
              defaultContent: '',
              'class': 'text-right',
              render: function (data, type, full, meta) {
                return data ? data.toFixed(2) : "";
              }
            },
            {
              data: "activityPrice",
              defaultContent: '',
              'class': 'text-right',
              render: function (data, type, full, meta) {
                return data ? data.toFixed(2) : "";
              }
            },
            {data: "no", defaultContent: '', visible: false},
            {data: "activityPriceDesc", defaultContent: '', visible: false},
            {data: "url", defaultContent: '', visible: false}
          ]
        });
      //筛选
      $('#search').on("click", function (e) {
        var data = $('#searchForm').serialize();
        var TT = $('#productList').DataTable();
        TT.ajax.url('/shop/product/link/findDatatable/#{id}?' + data).load();
      });
      // 全选
      $("#selectAll").on("ifChecked", function (e) {
        $(this).parents("table").find("tbody :checkbox").prop("checked", true);
      });
      // 全选
      $("#selectAll").on("ifUnchecked", function (e) {
        $(this).parents("table").find("tbody :checkbox").prop("checked", false);
      });
      // 全选
      $("#selectAlls").on("ifChecked", function (e) {
        $(this).parents("table").find("tbody :checkbox").prop("checked", true);
      });
      // 全选
      $("#selectAlls").on("ifUnchecked", function (e) {
        $(this).parents("table").find("tbody :checkbox").prop("checked", false);
      });
      // 查看置顶产品
      $("#searchTopProduct").on("click", function (e) {
        var TT = $('#topProductList').DataTable();
        TT.ajax.url('/shop/product/link/findTopDatatable/#{id}').load();
        $("#topProductModal").modal("show");
      });
      // 移除产品从发布信息中
      $("#revokeProductBtn").on("click", function (e) {
        var len = $('#productList').find(":checkbox[name='Ids']:checked").length;
        if (len > 0) {
          var ids = [];
          $('#productList').find(":checkbox[name='Ids']:checked").each(function (e) {
            ids.push($(this).val())
          });
          $('#productIds').val(ids);
          bootbox.confirm("确定要移除这些产品吗?", function (result) {
            if (result) {
              $("#delForm").submit();
            }
          });
        } else {
          bootbox.alert("请选择产品");
        }
      });
      // 置顶产品从发布信息中
      $("#topProductBtn").on("click", function (e) {
        var len = $('#productList').find(":checkbox[name='Ids']:checked").length;
        if (len > 0) {
          if (len > 5) {
            bootbox.alert("最多选择5条产品置顶");
          } else {
            var ids = [];
            $('#productList').find(":checkbox[name='Ids']:checked").each(function (e) {
              ids.push($(this).val())
            });
            $('#productId').val(ids);
            bootbox.confirm("确定要将这些产品置顶吗?", function (result) {
              if (result) {
                $("#topProductForm").submit();
              }
            });
          }
        } else {
          bootbox.alert("请选择产品");
        }
      });
      // 取消产品的置顶
      $("#revokeTop").on("click", function (e) {
        var len = $('#topProductList').find(":checkbox[name='Ids']:checked").length;
        if (len > 0) {
          var ids = [];
          $('#topProductList').find(":checkbox[name='Ids']:checked").each(function (e) {
            ids.push($(this).val())
          });
          $('#rProductId').val(ids);
          bootbox.confirm("确定要取消这些产品的置顶吗?", function (result) {
            if (result) {
              $("#revokeTopProductForm").submit();
            }
          });
        } else {
          bootbox.alert("请选择产品");
        }
      });

    });
