extends layouts/front
block header
  style.
    html, body {
      margin: 0;
      padding: 0;
    }
block main
  .login-box
    .login-logo
      a(href='/')
        b NodeJS Express Web Starter
    // /.login-logo
    .login-box-body
      p.login-box-msg 使用用户密码登录系统
      form#loginForm(action='#{contextRoot}/login?_#{Date.now()}', method='post')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.has-feedback
          input#username.form-control(type='text', placeholder='请使用用户名登录', name="username")
          span.glyphicon.glyphicon-envelope.form-control-feedback
        .form-group.has-feedback
          input#password.form-control.required(type='password', placeholder='请输入登录密码', name="password")
          span.glyphicon.glyphicon-lock.form-control-feedback
        .form-group.has-feedback
          .row
            .col-sm-6
              input#captcha.form-control.col-md-3(type='text', placeholder='请输入验证码', name="captcha")
            .col-sm-6
              img#captchaImg
        .checkbox.icheck
          label
            input#rememberMe(type='checkbox',name="rememberMe")
            | &nbsp;&nbsp;记住我
        //- .row
          a#register.btn.pull-left(href='/register') 立即注册
          a.btn.pull-right(href='/forgetPass') 忘记密码?
        .form-group
          button#login.btn.btn-success.btn-block.btn-flat(type="submit") 登 录
      p
        a#forget(href='/forgetPass') 忘记密码?

    // /.login-box-body
    // /.login-box
block scripts
  script.
    $(function () {
       $('input').iCheck({
        checkboxClass: 'icheckbox_square-grey',
        radioClass: 'iradio_square-grey',
        increaseArea: '20%' // optional
      });
      $('#captchaImg').attr('src', '#{contextRoot}/captcha?' + Date.now()).on('click', function () {
        $(this).attr('src', '#{contextRoot}/captcha?' + Date.now());
      });
      var form = $("#loginForm");

      $('#username').val($.cookie('username'))
      var check = $.cookie('rememberMe');
      if (check == "true") {
        $('#rememberMe').iCheck('check');
      } else {
        $('#rememberMe').iCheck('uncheck');
      }

      form.validate({
        rules: {
          username: {required: true},
          password: {required: true},
          captcha: {required: true}
        },
        messages: {
          username: {required: "请输入登录用户名"},
          password: {required: "请输入登录密码"},
          captcha: {required: "请输入验证码"}
        }
      });

      $("#loginForm").on('submit', function () {
        var rememberMe = $("#rememberMe").is(":checked");
        if (rememberMe) {
          $.cookie('username', $('#username').val(), {expires: 7});
          $.cookie('rememberMe', true, {expires: 7});
        } else {
          $.cookie('username', '', {expires: -1}); // 删除 cookie
          $.cookie('rememberMe', '', {expires: -1}); // 删除 cookie
        }
      })
    });
