-var baseUrl = (contextFront + req.baseUrl)
-if (baseUrl.indexOf('http')<0)
-baseUrl = baseUrl.replace('//','/');
-var version = "0.0.7"
-var vjs = "0.0.6"
html
  head
    base(href="#{contextFront}/")
    block title
      title 九型人格学员交流社区
    include incs/header
    style.
    block header
  body.with-heading-top.has-index-content

    block main

    script(type='text/javascript', src='#{themeFront}/js/mzui.min.js')
    script(type='text/javascript', src='#{themeFront}/js/dropload.min.js')
    script(type='text/javascript', src='//res.wx.qq.com/open/js/jweixin-1.2.0.js')
    script(type='text/javascript', src='#{themeRoot}/dist/js/browser.js?v=#{version}')
    script(type='text/javascript', src='#{themeRoot}/dist/js/global.js?v=#{version}')
    script(type='text/javascript', src='#{themeRoot}/dist/js/weixin.js?v=#{version}')
    script.
      var fromUrl = contextFront;
      if(is_weixin()){
        W.oauthUser(appid, function (user) {
          if(user){
            if(#{!req.session.user}){
              window.location.href = contextFront + "/session?openid=" + user.openid + "&originalUrl=#{req.originalUrl}";
            }
          }else{
            $.messager.show('微信公众号页面授权错误，无法获得粉丝信息!', { type: 'error', placement: 'bottom-center' });   
          }
        });
      }else{
        if(#{!req.session.user}){
          window.location.href = contextFront + "/session?openid=oxVEQuN3xDA1r8aBD_hh-xMQeir4&originalUrl=#{req.originalUrl}";
        }
      }
    block scripts
