nav.clearfix
  - var url = baseUrl + "/topic?node="+ (node?node:"") + "&dateStart=" + (dateStart?dateStart:"") +"&dateEnd=" + (dateEnd?dateEnd:"")
  - var pages = Math.ceil(total /limit);
  - var currentPage = offset/limit;
  - var step = 5
  span.pad.pull-left
    | 总共 #{total} 个帖子，分 #{pages} 页，当前显示第 #{currentPage+1} 页，#{offset+1} - #{offset+limit>total?total:offset+limit} 条数据

  //-         span(aria-hidden='true') 下#{limit}条 &rarr;
  ul.pagination.no-margin.pull-right
    li.first(class="#{pages>0?'':'disabled'}")
      a(href='#{url+"&offset=0"}' )
        span(aria-hidden='true') 首页
    li.previous(class="#{offset<=0?'disabled':''}")
      a(href='#{(offset>0)? (url+"&offset=" + (offset-limit)) :"javascript:;"}' )
        span(aria-hidden='true') 上一页
    - var page = 0
    while page < pages
      if page >= (currentPage - step) && page < (currentPage + step)
        li(class="#{offset == page*limit?'active':''}")
          a(href='#{url+"&offset=" + ((page)*limit)}')
            span=page+1
      -page++
    li.next(class="#{offset+limit>= total?'disabled':''}")
      a(href='#{(offset+limit< total)? (url+"&offset=" + (offset+limit)) :"javascript:;"}')
        span(aria-hidden='true') 下一页
    li.last(class="#{pages>0?'':'disabled'}")
      a(href='#{url+"&offset=" + (pages-1)*limit}' )
        span(aria-hidden='true') 末页
