extends ../layout
block header
  link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css")
block pageTitle
  h1  论坛帖子管理
    small 添加，删除，更新系统中帖子信息
block main
  form#topicDelForm(method='post', style='display:none', action='#{baseUrl}/topic/del/')
    input#ids(type='hidden',name='ids')
    input#_csrf(type='hidden', name='_csrf', value=_csrf)
  .box
    .box-header.with-border
      h4.box-title 帖子列表
      .box-tools.pull-right
        a.btn.btn-success.btn-sm(href="#{baseUrl}/topic/add", title="发布新帖子")
          i.fa.fa-fw.fa-plus
          | 发布新帖子
      //- h4 帖子列表
      //- .box-tools
        a.btn.btn-sm.btn-success(href="#{baseUrl}/topic/add" title="发布新帖子")
          i.fa.fa-fw.fa-plus
          | 发布新帖子
    .box-body
      form.form-inline(action="") 
        .form-group
          label.control-label 版块：
          select#node.form-control(name='node')
            option(value="") 请选择
            each n in nodes
              if(n._id == node)
                option(value="#{n._id}", selected="selected") #{n.title}
              else
                option(value="#{n._id}") #{n.title}
        .form-group
          label.control-label 日期：
          .input-group.date
            input#date.form-control(name='date', value="#{date?date:''}")
            .input-group-addon
              span.fa.fa-calendar
        .form-group
          button.btn.btn-default(type="submit") 
            i.fa.fa-fw.fa-search
            | 查询
      hr
      include topicPager
      hr
      if(!topics || !topics.length)

      else
        each topic in topics
          .post
            .user-block.clearfix
              img.img-circle.img-bordered-sm(src="#{topic.fans && topic.fans.headimgurl ? topic.fans.headimgurl:''}", alt='user image')
              span.username
                a(href='#') #{topic.fans && topic.fans.nickname?topic.fans.nickname:(topic.user?topic.user.username:"")}
                .pull-right
                  if topic.top
                    span.label.label-info 
                      i.fa.fa-arrow-up.margin-r-5
                      | 顶 
                    | &nbsp;
                  if topic.hot
                    span.label.label-danger 
                      i.fa.fa-fire.margin-r-5
                      | 热 
                    | &nbsp;
              span.description  #{topic.createdAt ? moment(topic.createdAt).format("YYYY-MM-DD HH:mm:ss") : ""}
            //- p !{topic.content.replace(/\r\n/gm,'<br>').substring(0,200)} #{topic.content.length>200?'... ...':''}
            
            p !{topic.content.replace(/\r\n/gm,'<br>')}
            ul.list-inline.clearfix
              if topic.node
                li
                  span.label.label-info()=topic.node.title
              li.pull-right
                a.link-black(href="#{baseUrl}/topic/edit/#{topic._id}")
                  i.fa.fa-edit.margin-r-5
                  | 编辑
              li.pull-right
                a.link-black(href="#{baseUrl}/topic/del/#{topic._id}")
                  i.fa.fa-times.margin-r-5
                  | 删除
              li.pull-right
                a.link-black(href="#{baseUrl}/topic/block/#{topic._id}")
                  i.fa.fa-ban.margin-r-5
                  | 屏蔽
              li.pull-right
                a.link-black(href="#{baseUrl}/topic/top/#{topic._id}")
                  i.fa.fa-arrow-up.margin-r-5
                  | #{topic.top?'取消':''}置顶
              li.pull-right
                a.link-black(href="#{baseUrl}/topic/hot/#{topic._id}")
                  i.fa.fa-fire.margin-r-5
                  | #{topic.hot?'取消':''}热帖
              li.pull-right
                a.link-black(href='#')
                  i.fa.fa-thumbs-o-up.margin-r-5
                  | 赞 (#{topic.likeCount ? topic.likeCount : 0})
              li.pull-right
                a.comment(href='javascript:;',data-id="#{topic._id}")
                  i.fa.fa-comments-o.margin-r-5
                  | 评 (#{topic.commentCount ? topic.commentCount : 0})


            .box
              .comment-box.box-body.chat

            .form-horizontal.commentForm(action="#{baseUrl}/topic/comments/new/#{topic._id}")
              input(type="hidden", name="topicid", vaule="#{topic._id}")
              .form-group.margin-bottom-none
                .col-sm-10
                  input.form-control.input-sm(name="content", placeholder='输入文字快速回复帖子 ～～～')
                .col-sm-2
                  button.btnComment.btn.btn-success.pull-right.btn-sm(type='button') 
                    i.fa.fa-fw.fa-reply
                    | 回复
      hr
      include topicPager
//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js')
  script.
    $(document).ready(function () {
      $('#date').datepicker({
        format: "yyyy-mm-dd",
        //- language: 'cn',
        weekStart: 1,
        autoclose: false,
        todayBtn: 'linked'
      });
      $('body').on("click",".btnComment", function(e){
        var that = this;
        var form = $(this).closest(".commentForm");
        var url = $(form).attr("action");
        var topicid = $(form).find("input[name='topicid']").val();
        var content = $(form).find("input[name='content']").val();
        var data = {topicid:topicid, content:content};
        console.log(" >>>>>>>>>>>> data", data);
        $.post(url,data, function(result){
          console.log(" >>>>>>>>>>>> result", result);
          if(result.err){
            bootbox.alert(result.msg);
          }else{
            $(form).find("input[name='content']").val("").focus();
            $(that).closest('.post').find("a.comment").trigger("click");
            //- $(that).closest('.post').find(".comment-box").append(commentHtml(result.comment));
            toastr.success(result.msg);
          }
        });
      });
      function commentHtml(comment){
        var html = "";
        return html;
      }
      $('body').on("click","a.comment", function(e){
        var that = this;
        var topicid =$(this).data("id");
        if(topicid){
          $.get("#{baseUrl}/topic/comments/" + topicid, function(html){
            $(that).closest('.post').find(".comment-box").html(html);
          });
        }
      });
    });
