nav.clearfix
  - var url = baseUrl + "/topic?node="+ (node?node:"") + "&dateStart=" + (dateStart?dateStart:"") +"&dateEnd=" + (dateEnd?dateEnd:"")
  - var pages = Math.ceil(total /limit);
  - var currentPage = offset/limit;
  - var step = 5
  span.pad.pull-left
    | 总共 #{total} 个帖子，分 #{pages} 页，当前显示第 #{currentPage+1} 页，#{offset+1} - #{offset+limit} 条数据
  //- ul.pager.no-margin
  //-   if(offset>0)
  //-     li.previous
  //-       a(href='#{url+"&offset=" + (offset-limit)}')
  //-         span(aria-hidden='true') &larr; 上#{limit}条 
  //-   li
  //-     span 帖子数: #{total}
  //-   if(offset+limit<total)
  //-     li.next 
  //-       a(href='#{baseUrl}/topic?offset=#{offset+limit}')
  //-         span(aria-hidden='true') 下#{limit}条 &rarr;
  ul.pagination.no-margin.pull-right
    li.previous(class="#{offset<=0?'disabled':''}")
      a(href='#{(offset>0)? (url+"&offset=" + (offset-limit)) :"javascript:;"}' )
        span(aria-hidden='true') 上一页
    - var page = 0
    while page++ < pages 
      if page >= (currentPage - step) && page <= (currentPage + step)
        li(class="#{offset == page*limit?'active':''}")
          a(href='#{url+"&offset=" + ((page)*limit)}')
            span=page+1
    li.next(class="#{offset+limit>= total?'disabled':''}")
      a(href='#{(offset+limit< total)? (url+"&offset=" + (offset+limit)) :"javascript:;"}')
        span(aria-hidden='true') 下一页
