//
  Created by danne on 2015/10/29.
extends ../layout
block header
//应用的page title
block pageTitle
  if topic.isNew
    h1 帖子新增
  if !topic.isNew
    h1 修改帖子
  if viewType == 'view'
    h1 帖子详情

block main
  form#topicForm.form-horizontal(name='topicForm', action='#{baseUrl}/topic/save', method='post')
    .box
      .box-header
        if topic.isNew
          h3.box-title 发布新帖子
        if !topic.isNew
          h3.box-title 修改帖子
        if viewType == 'view'
          h3.box-title 帖子详情
 
      .box-body
        div#userEdit
          if !topic.isNew
            input#id(type='hidden', name='id', value="#{topic._id}")

          input#_csrf(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label.control-label.col-sm-2.required 标题：
            .col-sm-8
              input#title.form-control.required(name='title',placeholder='版块标题', value="#{topic ? topic.title : ''}")
          .form-group
            label.control-label.col-sm-2 帖子内容：
            .col-sm-8
              textarea#content.form-control(name='content',rows="5", placeholder='')
                | #{topic ? topic.content : ''}
      .box-footer
        button.btn.btn-primary.margin-r-10(type='submit') 
          i.fa.fa-fw.fa-save
          | 发布
        a.btn.btn-default(href='#{baseUrl}/topic')
          i.fa.fa-fw.fa-delete
          span  取消


//应用添加的脚本在scripts block中定义
block scripts
  script.
    $(document).ready(function () {

      var form = $('#topicForm');
      $("#save").on('click', function () {
        form.submit();
      });

      form.validate({
        ignore: '.ignore',
        rules: {
          name: {
            required: true,
            remote: '#{baseUrl}/topic/checkName?oldName=#{topic ? topic.name : ''}'
          }
        },
        messages: {
          name: {
            remote: '分组名称已存在'
          }
        }
      });

      $('#del').on('click', function () {
        bootbox.confirm("确定要删除数据吗?", function (result) {
          if (result) {
            $("#topicDelForm").submit();
          }
        });
      });

    });

