
div
  div.section(data-display='modal', data-selector='.btn-reply', data-remote='/part/examples/comments-reply.html', data-placement='bottom')
    .heading
      .title
        i.icon.icon-comments-alt.muted
        strong  评论
        small.muted (#{topic.commentCount})
    .divider.no-padding.no-margin
    .list.comments.small
      each comment in comments
        .item.with-avatar.multi-lines
          a.avatar.circle(data-dark='true', data-skin='') 
          .content
            div
              a.text-link.strong #{comment.fans?comment.fans.nickname:''}
              .muted.small.pull-right 33 分钟前;
            .btn-reply.state #{comment.content}
            .row.imgs.gutter-sm
              if comment.images && comment.images.length
                each img in comments.images
                  if img
                    .cell-4
                      a(data-display='modal', data-target-dismiss='true', data-placement='center', data-content="<img src='#{contextRoot}/#{img}' alt='' class='no-margin'>")
                        .img(style="background-image:url('#{contextRoot}#{img}');")
      .divider.no-padding.no-margin
    nav.nav.justified.pager
      a.pager-more
        span
          strong 更多评论 ...
          span.text-link
            i.icon.icon-double-angle-down
      //- .text-center.text-gray.small
        i.icon-lightbulb
nav.fab.affix.dock-bottom.shadow-none
  //- a.btn.circle.shadow-2.has-margin-sm.dark(href='https://github.com/easysoft/mzui/blob/master//part/examples/comments.html', target='_blank')
    i.icon-code
  a.btn.circle.shadow-2.has-margin-sm.btn-lg.primary-pale(title='返回', onclick='javascript:window.history.go(-1);')
    i.icon.icon-chevron-left
  a.btn.circle.shadow-2.has-margin-sm.btn-lg.green.pull-right(href="#", title='评论')
    i.icon.icon-comments