
div
  include incs/commentForm
  .section(data-display='modal', data-selector='.btn-reply', data-remote='/part/examples/comments-reply.html', data-placement='bottom')
    .heading
      .title
        i.icon.icon-comments-alt.muted
        strong  评论
        small.muted (#{topic.commentCount})
    .divider.no-padding.no-margin
    .list.comments.small
      each comment in comments
        .item.with-avatar.multi-lines
          a.avatar.circle(data-dark='true', data-skin='') 
            img(src='#{comment.fans?comment.fans.headimgurl:""}', alt='')
          .content
            div
              a.text-link.strong #{comment.fans?comment.fans.nickname:''}
              .muted.small #{formatDatetime(comment.createdAt)}
            .btn-reply.state 
            
              |#{comment.content}
            .row.imgs.gutter-sm
              if comment.images && comment.images.length
                each img in comment.images
                  if img
                    .cell-4
                      a(data-display='modal', data-target-dismiss='true', data-placement='center', data-content="<img src='#{contextRoot}/#{img}' alt='' class='no-margin'>")
                        .img(style="background-image:url('#{contextRoot}#{img}');")
        .divider.no-padding.no-margin
    nav.nav.justified.pager
      a.pager-more
        span
          strong 更多评论 ...
          span.text-link
            i.icon.icon-double-angle-down
    
    
