extends ../layouts/bbs
block header
block headNav

block content
  div
    .heading
      .title 
        strong 发表新帖子
    form#topicForm(method="post" action="#{contextFront}/topic/new", enctype="application/x-www-form-urlencoded")
      input#appid(type="hidden" name="appid" value="#{appid}")
      input#openid(type="hidden" name="openid")
      input#node(type="hidden" name="node" value="#{node}")
      input#serviceIds(type="hidden" name="serviceIds")

      .control
        textarea#content.textarea(name="content", rows=5, placeholder="输入文字发表新帖子~~~")

      .control.space-sm
        a.btn(href='home/#{node}') 取消
        button.btn.primary(type='submit') 发表
      .box.outline
        .row#images
          //- .cell-4
            .avatar.avatar-xl
              img(src='#{contextRoot}/img/img1.jpg', alt='')
          #selectImg.cell-4
            .avatar.avatar-xl(data-skin='')
              i.icon.icon-plus
block contentScripts
  script.
    var count = 0;
    var images = [];
    var serverIds = [];
    $("body").removeClass("with-heading-top"); 
    W.config(appid);
    wx.ready(function(){
    });
    $(document).ready(function(){
      $("#selectImg").on("click", function(e){
        var that = this;
        W.chooseImage(function(localIds){
          if(localIds && localIds.length>0){
            for(var i in localIds){
              count++;
              if(count>9){
                $(that).remove();
                break;
              }
              var localId = localIds[i] ;
              if(localId){
              (function(localId){
                images.push(localId);
                wx.getLocalImgData({
                  localId: localId, // 图片的localID
                  success: function (res) {
                    var localData = res.localData; // localData是图片的base64数据，可以用img标签显示
                    var img = "<img src='"+ localData + "'>"
                    var html = "<div class='cell-4'><div class='avatar.avatar-xl'>" + img + "</div></div>";
                    $(that).before(html);
                    W.uploadImage(images[i], function(serverId){
                      if(serverId){
                        serverIds.push(serverId);
                        $("#serviceIds").val(serverIds.join(','));
                      }
                    });
                  }
                });
              })();
              }
            }
          }
        });
      });

      $("#topicForm").ajaxform({
        onSuccess: function(data){
          console.log(data);
          window.location.href="#{contextFront}/home/#{node}"
        },
        onError: function(status){
          console.log(status);
          //- window.location.href="/home/#{node}"
        }
      });
    });

