extends ../layouts/bbs
block header
block headNav

block content
  div
    .heading
      .title 
        strong 发表新帖子
    form#topicForm(method="post" action="#{contextFront}/topic/new", enctype="application/x-www-form-urlencoded")
      input#openid(type="hidden" name="openid")
      input#node(type="hidden" name="node" value="#{node}")
      input(type="hidden" name="images" value="/img/img1.jpg")
      input(type="hidden" name="images" value="/img/img2.jpg")
      input(type="hidden" name="images" value="/img/img3.jpg")

      .control
        textarea#content.textarea(name="content", rows=5, placeholder="输入文字发表新帖子~~~")
          
      .control.space-sm
        a.btn(href='home/#{node}') 取消
        button.btn.primary(type='submit') 发表
      .box.outline
        .row
          //- .cell-3
            .avatar.avatar-xl
              img(src='#{contextRoot}/img/img1.jpg', alt='')
          #selectImg.cell-3
            .avatar.avatar-xl(data-skin='')
              i.icon.icon-plus
block contentScripts
  script.
    $("body").removeClass("with-heading-top"); 
    W.config(appid);
    wx.ready(function(){
      alert("wx ready~")
    });
    $(document).ready(function(){
      $("#selectImg").on("click", function(e){
        console.log("*****");
        var that = this;
        W.chooseImage(function(localIds){
          alert(localIds);
          if(localIds&&localIds.length>0){
            for(var i in localIds){
              var img = "<img src='"+ localIds[i] + "'>"
              var html = "<div class='cell-3'><div class='avatar.avatar-xl'>" + img + "</div></div>";
              $(that).before(html);
            }
          }
        });
      });
      $("#topicForm").ajaxform({
        onSuccess: function(data){
          console.log(data);
          window.location.href="#{contextFront}/home/#{node}"
        },
        onError: function(status){
          console.log(status);
          //- window.location.href="/home/#{node}"
        }
      });
    });

