extends ../layouts/bbs
block header

block headNav

block content
  .section
    .heading
      .title 
        strong 发表新帖子
    .box
      form#topicForm.no-margin(method="post" action="#{contextFront}/topic/new")
        input#appid(type="hidden" name="appid" value="#{appid}")
        input#openid(type="hidden" name="openid")
        input#node(type="hidden" name="node" value="#{node._id}")

        //- .control
          input#title.input(name="title", style="width:100%", maxlength="50", type="text" placeholder="请输入文字给帖子一个醒目标题~~~")
        .control
          textarea#content.textarea.required(name="content", rows="14", required="required", minlength="5", maxlength="#{setting['topic.maxlength'] || 5000}" placeholder="请输入帖子详细内容~~~")
            | #{node && node.template?node.template:''}
        .clearfix
          .control.space-sm.pull-left
            button#selectImg.btn.outline(type="button")
              i.icon-picture
            //- button.btn(type="button")
              i.icon-smile
          .control.space-sm.pull-right
            button.btn.primary.outline(type='submit') 发表
            a.btn(href='home/#{node._id}', onclick='localStorage.setItem("topic.conent","");') 取消
      .divider
      nav#nodes.nav
        span.has-padding.text-tint 选择类别：
        each n in nodes
          a.nodeid(href='javascript:;', class='#{node && node._id == n._id ? "active":""}', data-id="#{n._id}")=n.title
            input(type="hidden", value="#{n.template?n.template:''}")
      //- .heading
        .title 
          strong 图片
      .row#images
        //- #selectImg.cell-4
          .avatar.avatar-xl(data-skin='')
            i.icon.icon-plus
block contentScripts
  script.
    var changed = false;
    var count = 0;
    var serverIds = [];
    $("body").removeClass("with-heading-top"); 

    $(document).ready(function(){
      if(localStorage ){
        var c = localStorage.getItem("topic.conent");
        if(c && c != undefined){$("#content").val(c);}
        $("#content").on("change", function(e){
          localStorage.setItem("topic.conent",$(this).val());
          changed = true;
        });
      }

      $(".nodeid").on('click', function(e){
        $(this).parent().find('.active').removeClass('active');
        $(this).addClass('active');
        $("#node").val($(this).data("id"));
        if(!$("#content").val() || !changed){
          $("#content").val($(this).find('input').val());
          changed = false;
        } 
      });

      $("#selectImg").on("click", function(e){
        W.chooseImage(9,function(localIds){
          syncUpload(localIds);
        });
      });
      
      $("#topicForm").ajaxform({
        onSubmit: function(formData){
          formData["serverIds"] = serverIds;
        },
        onSuccess: function(data){
          console.log(data);
          localStorage.setItem("topic.conent",'');
          window.location.href="#{contextFront}/home/#{node._id}"
        },
        onError: function(status){
          console.log(status);
          //- window.location.href="/home/#{node._id}"
        }
      });
    });
    function syncUpload(localIds){
      var localId = localIds.pop();
      W.uploadImage(localId, function(serverId){
        //- alert(" upload image "+ localId);
        if(serverId){
          serverIds.push(serverId);
          if(browser.versions.ios){
            wx.getLocalImgData({
              localId: localId, // 图片的localID
              success: function (res) {
                var localData = res.localData; // localData是图片的base64数据，可以用img标签显示
                var img = "<img src='"+ localData + "'>"
                var html = "<div class='cell-4'><div class='avatar.avatar-xl'>" + img + "</div></div>";
                $("#images").append(html);
                if(localIds.length > 0){
                  syncUpload(localIds);
                }
              }
            });
          }else{
            // 非iOS情况，直接显示localid
            var img = "<img src='"+ localId + "'>";
            var html = "<div class='cell-4'><div class='avatar.avatar-xl'>" + img + "</div></div>";
            $("#images").append(html);
            if(localIds.length > 0){
              syncUpload(localIds);
            }
          }
        }
      });
    };

