extends ../layouts/bbs
block header
  style.
    .item {
      background-color: #fff;
    }
    .subtitle{
      margin-bottom: 0.5rem;
    }
    .topic{background-color:#fff;padding:0 .5rem}
    .imgs.img {height:5rem; width:5rem; background-size: cover; background-repeat: no-repeat;background-position: center;}
block content
  //- .heading
    .title 

  .list#topics
    if(topTopic)
      .item.with-avatar.space-sm(data-id="#{topTopic._id}")
        .avatar.avatar-sm.circle.yellow 顶
        .content
          | #{topTopic.title?topTopic.title:topTopic.content}

  nav.nav.justified.pager
    a.pager-more
      span
        strong 加载更多 ...
        span.text-link
          i.icon.icon-double-angle-down
  nav.fab.affix.dock-bottom.dock-right.shadow-none
    a.btn.circle.shadow-2.has-margin-sm.btn-lg.primary(title='发布新帖',href="topic/new/#{node}")
      i.icon.icon-plus
block contentScripts
  script.
    $(document).ready(function(){
      $(".list").on("click",".item,.topic", function(){
        var id = $(this).data("id");
        if(id){
          window.location.href=contextFront+"/topic/view/"+id;
        }
      });
      $.get('topics/#{node}', function(data){
        $('#topics').append(data);
      });
    });

