extends ../layouts/bbs
block content
  //- .heading
    .title 

  #topTopics.list.space-sm
    each topTopic in topTopics
      if(topTopic)
        .item.with-avatar(data-id="#{topTopic._id}")
          .avatar.avatar-sm.circle.yellow 顶
          .content
            | #{topTopic.content}
  #topics

  nav.nav.justified.pager
    a.pager-more
      span
        strong 加载更多 ...
        span.text-link
          i.icon.icon-double-angle-down
  nav.fab.affix.dock-bottom.dock-right.shadow-none
    a.btn.circle.shadow-2.has-margin-sm.btn-lg.primary(title='发布新帖',href="topic/new/#{node}")
      i.icon.icon-plus
block contentScripts
  script.
    $(document).ready(function(){
      $("body").on("click",".item, .topic", function(){
        var id = $(this).data("id");
        console.log(">>>>>>>> ",id);
        if(id){
          window.location.href=contextFront+"/topic/view/"+id;
        }
      });
      $("body").on("click",".btnLike", function(){
        var id = $(this).data("id");
        var that = $(this);
        if(id){
          $.get('#{contextFront}/topic/like/' + id, function(data){
            console.log(">>>>>>>> ", data);
            if(data && !data.error && data.msg){
              var count = 1;
              var c = $(that).find("#likeCount").text();
              if(c) { count = parseInt(c) + 1}
              $(that).find("#likeCount").text(count);
              $.messager.show(data.msg, {type: 'success', placement: 'bottom-center'});
            }else{
              $.messager.show(data.msg?data.msg:  '处理错误!', {type: 'error', placement: 'bottom-center'});
            }
          });
        }
      });
      $.get('topics/#{node}', function(data){
        $('#topics').append(data);
      });
    });

