//
   Created by pc on 2015/10/27.

extends ../layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
block main
  .panel
    .panel-heading
      h3.panel-title
        | #{white.isNew ? '添加白名单' : '修改白名单'}
        span.text-info #{white.name}
        .panel-tools.pull-right
          a#save.btn.btn-default.btn-sm(title='保存')
            i.fa.fa-save
          a.btn.btn-default.btn-sm(href='/activities/white/list')
            i.fa.fa-reply
    .panel-body

      form#whiteForm.form-horizontal(method="post",action="/activities/white/save",enctype="multipart/form-data")
        if(!white.isNew)
          input#id(type='hidden', name='id', value="#{white._id}")
        input#_csrf(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label.col-sm-3.required 名称：
          .col-sm-8
            input#name.form-control(type="text",name="name",value="#{white.name}")
        .form-group
          label.control-label.col-sm-3 说明：
          .col-sm-8
            textarea#description.form-control(name="description", rows="5")
              | #{white.description}
        .form-group
          label.control-label.col-sm-3 白名单导入：
          .col-sm-8
            input#mfile.form-control(type="file",name='mfile')
            p.help-block 选择白名单的文件，保存时将会读取文件中的数据，存放于该白名单中
        .form-group
          label.control-label.col-sm-3 手机号：
          .col-sm-8.text-left
            label.control-label
              a#addMobile.btn.btn-primary(title='添加手机号')
                i.fa.fa-plus
            p.help-block 添加单独的白名单用户加入
            #mobiles


  #whiteModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title 添加白名单手机号
        .modal-body
          form#whiteListForm.form-horizontal(method="post",action="/activities/white/save")
            input#id(type='hidden', name='id', value="")
            input#_csrf(type='hidden', name='_csrf', value=_csrf)
            //.form-group
            //  label.control-label.col-sm-3 类型
            //  .col-sm-8
            //    input#type.form-control(type="text",name="type",value="#{white.type}")
            .form-group
              label.control-label.col-sm-3.required 手机号：
              .col-sm-8
                input#mobile.form-control.required(type="text",name="mobile",value="")
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") 关闭
          button.addAwardBtn.btn.btn-primary(type="button") 添加

    form#inputCouponForm(method='post', action='')
      input#_csrf(type='hidden', name='_csrf', value=_csrf)
      input#filePath(type="hidden" name='filePath')
      input#whiteId(type="hidden" name='whiteId' value="#{white._id}")

block scripts
  script(src="//cdn.bootcss.com/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js")
  script.
    $(document).ready(function () {

      $(".form-group").find(':file').filestyle({buttonText: '上传文件'});

      if(#{!white.isNew}){
        ajaxs('#{white._id}');
      }
      var form = $('#whiteForm');
      $("#save").on('click', function () {
        form.submit();
      });
      form.validate({
        rules: {
          name: {
            required: true,
            remote: '/activities/white/checkName?oldName=#{white ? white.name : ''}'
          }
        },
        messages: {
          name: {
            remote: '奖项名称保持唯一'
          }
        }
      });
      var whiteList = $('#whiteListForm');
      $(".addAwardBtn").on('click', function () {
        whiteList.submit();
      });
      $("#addMobile").on('click', function () {
        $("#whiteModal").modal("show");
      });
      whiteList.validate({
        rules: {
          mobile: {
            required: true,
            mobileCN:true
          }
        },
        messages: {

        },
        submitHandler: function (form) {
          var mobile = $("#mobile").val();
          $("#mobiles").append(addMobileHtml(mobile));
          $("#whiteModal").modal("hide");
        }
      });

    });
    //添加手机号的页面
    function addMobileHtml(mobile) {
      //根据奖品Id获取奖品名称
      var html = ""
      html += "<div class='alert col-md-3'><button type='button' class='close' data-dismiss='alert' aria-label='Close')><span aria-hidden='true'>&times;</span></button>" + mobile + "<input type='hidden' name='mobile' value='" + mobile + "'/></div>";
      return html;
    }
    //获取所有的奖项
    function ajaxs(id) {
      $.ajax({
        url: "/activities/white/getMobiles/" + id,
        type: "get",
        data: {},
        success: function (data) {
          $("#mobiles").html("");
          $.each(data,function (i,e) {
            if(e.mobile){
              $("#mobiles").append(addMobileHtml(e.mobile))
            }
          });
        }
      });
    }
