//
   Created by danne on 8/16/2016.


.form-group
  .col-sm-12
    button#addSku.btn.btn-sm.btn-default.pull-right(type='button',title='添加SKU')
      i.fa.fa-plus.fa-fw
.form-group
  #SkuOptionTitle.col-sm-5
    .paramsTitle.clearfix
      each e , i in titles
        if( num == 6)
          .col-sm-6
            | #{e}
        else if num == 4
          .col-sm-4
            | #{e}
        else if num == 12
          .col-sm-12
            | #{e}
        else
          .col-sm-2
            | #{e}
  #SkuValueTitle.col-sm-6
    .paramsTitle.clearfix
      .col-sm-3
        | 数量
      .col-sm-3
        | 加减价格
      .col-sm-3
        | 加减积分
      .col-sm-3
        | 加减重量
  .col-sm-1.form-group.text-center
    | 删除
  #Body.col-sm-12
    each sku,j in skus
      .alert
        #SkuBody.col-sm-5
          each e , i in values
            if( num == 6)
              .col-sm-6
                select.option.form-control(name='value#{i}',style='width:100%')
                  each a,l in e
                    if sku.options[i] == a.id
                      option(value='#{a._id}' selected) #{a.name}
                    else
                      option(value='#{a._id}') #{a.name}
            else if num == 4
              .col-sm-4
                select.option.form-control(name='value#{i}',style='width:100%')
                  each a,l in e
                    if sku.options[i] == a.id
                      option(value='#{a._id}' selected) #{a.name}
                    else
                      option(value='#{a._id}') #{a.name}
            else if num == 12
              .col-sm-12
                select.option.form-control(name='value#{i}',style='width:100%')
                  each a,l in e
                    if sku.options[i] == a.id
                      option(value='#{a._id}' selected) #{a.name}
                    else
                      option(value='#{a._id}') #{a.name}
            else if num == 3
              .col-sm-3
                select.option.form-control(name='value#{i}',style='width:100%')
                  each a,l in e
                    if sku.options[i] == a.id
                      option(value='#{a._id}' selected) #{a.name}
                    else
                      option(value='#{a._id}') #{a.name}
            else
              .col-sm-2
                select.option.form-control(name='value#{i}',style='width:100%')
                  each a,l in e
                    if sku.options[i] == a.id
                      option(value='#{a._id}' selected) #{a.name}
                    else
                      option(value='#{a._id}') #{a.name}
        #SkuValueBody.col-sm-6
          .col-sm-3
            input.form-control(name="skuQuantity",value="#{sku.quantity}",placeholder="数量")
          .col-sm-3
            input.form-control(name="skuPrices",value="#{sku.price}",placeholder="价格+/-")
          .col-sm-3
            input.form-control(name="skuPoints",value="#{sku.points}",placeholder="积分+/-")
          .col-sm-3
            input.form-control(name="skuWeight",value="#{sku.weight}",placeholder="重量+/-")
        .col-sm-1.form-group
          button.close(data-dismiss='alert' aria-label='Close' type="button")
            span(aria-hidden='true') &times;
