-var baseUrl = (req.session.contextRoot + req.baseUrl)
-if (baseUrl.indexOf('http')<0) 
  -baseUrl = baseUrl.replace('//','/');
html
  head
    //base(href="#{contextRoot}")
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='format-detection', content='telephone=no,email=no')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='grey')
    meta(name='screen-orientation', content='portrait')
    meta(name='x5-orientation', content='portrait')
    meta(http-equiv='pragma', content='no-cache')
    meta(http-equiv='Cache-Control', content='no-cache, must-revalidate')
    link(href='#{themeRoot}/dist/images/icon.png', rel='apple-touch-icon-precomposed')
    link(href='#{themeRoot}/dist/images/icon.png', rel='Shortcut Icon', type='image/x-icon')
    //link(rel='stylesheet', href='css/reset.min.css')
    //link(rel='stylesheet', href='css/ratchet.min.css')
    //link(rel='stylesheet', href='css/theme-ios.min.c  ss')
    //link(rel='stylesheet', href='css/loaders.min.cs s')
    link(rel='stylesheet', href='//cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css')
    script(type='text/javascript').
      var prefix = contextRoot = '#{contextRoot}';
      var appId = '#{req.session.appid}';
      console.log("appid:" + appId)
    // 自动字体大小适配
    //script.
      (function (doc, win) {
        var docEl = doc.documentElement,
          resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
          recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            docEl.style.fontSize = (24 * clientWidth / 627) + 'px';
          };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        //doc.addEventListener('DOMContentLoaded', recalc, false);
        recalc();
      })(document, window);
    block header
  body
    block main

    script(type='text/javascript', src='//cdn.bootcss.com/zepto/1.1.6/zepto.min.js')
    script(type='text/javascript', src='http://cdn.bootcss.com/Swiper/3.3.1/js/swiper.jquery.min.js')
    block script
